html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

html {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

a img {
  border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

.icons-sprite, .icons-accept, .icons-calendar-btn, .icons-cancel, .icons-close, .icons-dashboard, .icons-external-link, .icons-facebook-connect, .icons-fb-icon-green, .icons-fb-icon, .icons-fb-image, .icons-fb, .icons-fgo-icon-big, .icons-fgo-icon-count, .icons-fgo-icon, .icons-fields, .icons-friends, .icons-game-location, .icons-games-played, .icons-games, .icons-goals, .icons-google-plus, .icons-group-games, .icons-group-members, .icons-groups, .icons-heart-empty, .icons-heart, .icons-instagram, .icons-invite-fb-friends-icon-green, .icons-invite-fb-friends-icon, .icons-invites, .icons-locations, .icons-login, .icons-man-of-the-match-green, .icons-man-of-the-match, .icons-mission-icon, .icons-mobile-nav, .icons-next-game, .icons-notification-canceled, .icons-notification-new, .icons-notification-rating, .icons-notification-updated, .icons-notifications, .icons-pagination-arrow-next, .icons-pagination-arrow-prev, .icons-plan-icon, .icons-price-badge, .icons-question-icon, .icons-rating-grey, .icons-rating, .icons-search-icon-grey, .icons-select-icon, .icons-sent-msg-icon-green, .icons-sent-msg-icon, .icons-settings, .icons-sign-up, .icons-table-date, .icons-table-final-score, .icons-table-location, .icons-table-players, .icons-twitter, .icons-upload-image, .icons-upload, .icons-who-are-we {
  background-image: url('/assets/img/../img/icons-se44d330034.png');
  background-repeat: no-repeat; }

.icons-accept {
  background-position: 0 0; }

.icons-calendar-btn {
  background-position: 0 -72px; }

.icons-cancel {
  background-position: 0 -170px; }

.icons-close {
  background-position: 0 -240px; }

.icons-dashboard {
  background-position: 0 -367px; }

.icons-external-link {
  background-position: 0 -465px; }

.icons-facebook-connect {
  background-position: 0 -543px; }

.icons-fb-icon-green {
  background-position: 0 -703px; }

.icons-fb-icon {
  background-position: 0 -817px; }

.icons-fb-image {
  background-position: 0 -931px; }

.icons-fb {
  background-position: 0 -1045px; }

.icons-fgo-icon-big {
  background-position: 0 -1122px; }

.icons-fgo-icon-count {
  background-position: 0 -1532px; }

.icons-fgo-icon {
  background-position: 0 -1650px; }

.icons-fields {
  background-position: 0 -1906px; }

.icons-friends {
  background-position: 0 -2004px; }

.icons-game-location {
  background-position: 0 -2102px; }

.icons-games-played {
  background-position: 0 -2192px; }

.icons-games {
  background-position: 0 -2346px; }

.icons-goals {
  background-position: 0 -2448px; }

.icons-google-plus {
  background-position: 0 -2604px; }

.icons-group-games {
  background-position: 0 -2776px; }

.icons-group-members {
  background-position: 0 -2840px; }

.icons-groups {
  background-position: 0 -2902px; }

.icons-heart-empty {
  background-position: 0 -2992px; }

.icons-heart {
  background-position: 0 -3138px; }

.icons-instagram {
  background-position: 0 -3282px; }

.icons-invite-fb-friends-icon-green {
  background-position: 0 -3356px; }

.icons-invite-fb-friends-icon {
  background-position: 0 -3470px; }

.icons-invites {
  background-position: 0 -3584px; }

.icons-locations {
  background-position: 0 -3670px; }

.icons-login {
  background-position: 0 -3758px; }

.icons-man-of-the-match-green {
  background-position: 0 -3838px; }

.icons-man-of-the-match {
  background-position: 0 -3903px; }

.icons-mission-icon {
  background-position: 0 -4037px; }

.icons-mobile-nav {
  background-position: 0 -4270px; }

.icons-next-game {
  background-position: 0 -4404px; }

.icons-notification-canceled {
  background-position: 0 -4544px; }

.icons-notification-new {
  background-position: 0 -4626px; }

.icons-notification-rating {
  background-position: 0 -4708px; }

.icons-notification-updated {
  background-position: 0 -4790px; }

.icons-notifications {
  background-position: 0 -4876px; }

.icons-pagination-arrow-next {
  background-position: 0 -4968px; }

.icons-pagination-arrow-prev {
  background-position: 0 -5060px; }

.icons-plan-icon {
  background-position: 0 -5152px; }

.icons-price-badge {
  background-position: 0 -5348px; }

.icons-question-icon {
  background-position: 0 -5524px; }

.icons-rating-grey {
  background-position: 0 -5741px; }

.icons-rating {
  background-position: 0 -5808px; }

.icons-search-icon-grey {
  background-position: 0 -5962px; }

.icons-select-icon {
  background-position: 0 -6036px; }

.icons-sent-msg-icon-green {
  background-position: 0 -6122px; }

.icons-sent-msg-icon {
  background-position: 0 -6204px; }

.icons-settings {
  background-position: 0 -6286px; }

.icons-sign-up {
  background-position: 0 -6364px; }

.icons-table-date {
  background-position: 0 -6438px; }

.icons-table-final-score {
  background-position: 0 -6536px; }

.icons-table-location {
  background-position: 0 -6634px; }

.icons-table-players {
  background-position: 0 -6724px; }

.icons-twitter {
  background-position: 0 -6814px; }

.icons-upload-image {
  background-position: 0 -6886px; }

.icons-upload {
  background-position: 0 -6994px; }

.icons-who-are-we {
  background-position: 0 -7066px; }

@font-face {
  font-family: 'Open Sans';
  src: url("./fonts/OpenSans/Light/OpenSans-Light.eot?v=1.1.0");
  src: url("./fonts/OpenSans/Light/OpenSans-Light.eot?#iefix&v=1.1.0") format("embedded-opentype"), url("./fonts/OpenSans/Light/OpenSans-Light.woff2?v=1.1.0") format("woff2"), url("./fonts/OpenSans/Light/OpenSans-Light.woff?v=1.1.0") format("woff"), url("./fonts/OpenSans/Light/OpenSans-Light.ttf?v=1.1.0") format("truetype"), url("./fonts/OpenSans/Light/OpenSans-Light.svg?v=1.1.0#Light") format("svg");
  font-weight: 300;
  font-style: normal; }
@font-face {
  font-family: 'Open Sans';
  src: url("./fonts/OpenSans/Regular/OpenSans-Regular.eot?v=1.1.0");
  src: url("./fonts/OpenSans/Regular/OpenSans-Regular.eot?#iefix&v=1.1.0") format("embedded-opentype"), url("./fonts/OpenSans/Regular/OpenSans-Regular.woff2?v=1.1.0") format("woff2"), url("./fonts/OpenSans/Regular/OpenSans-Regular.woff?v=1.1.0") format("woff"), url("./fonts/OpenSans/Regular/OpenSans-Regular.ttf?v=1.1.0") format("truetype"), url("./fonts/OpenSans/Regular/OpenSans-Regular.svg?v=1.1.0#Regular") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Open Sans';
  src: url("./fonts/OpenSans/Semibold/OpenSans-Semibold.eot?v=1.1.0");
  src: url("./fonts/OpenSans/Semibold/OpenSans-Semibold.eot?#iefix&v=1.1.0") format("embedded-opentype"), url("./fonts/OpenSans/Semibold/OpenSans-Semibold.woff2?v=1.1.0") format("woff2"), url("./fonts/OpenSans/Semibold/OpenSans-Semibold.woff?v=1.1.0") format("woff"), url("./fonts/OpenSans/Semibold/OpenSans-Semibold.ttf?v=1.1.0") format("truetype"), url("./fonts/OpenSans/Semibold/OpenSans-Semibold.svg?v=1.1.0#Semibold") format("svg");
  font-weight: 600;
  font-style: normal; }
@font-face {
  font-family: 'Open Sans';
  src: url("./fonts/OpenSans/Bold/OpenSans-Bold.eot?v=1.1.0");
  src: url("./fonts/OpenSans/Bold/OpenSans-Bold.eot?#iefix&v=1.1.0") format("embedded-opentype"), url("./fonts/OpenSans/Bold/OpenSans-Bold.woff2?v=1.1.0") format("woff2"), url("./fonts/OpenSans/Bold/OpenSans-Bold.woff?v=1.1.0") format("woff"), url("./fonts/OpenSans/Bold/OpenSans-Bold.ttf?v=1.1.0") format("truetype"), url("./fonts/OpenSans/Bold/OpenSans-Bold.svg?v=1.1.0#Bold") format("svg");
  font-weight: 800;
  font-style: normal; }
html {
  height: 100%;
  overflow-x: none; }

body {
  font-family: "Open Sans", "Arial", "sans-serif";
  font-size: 1rem;
  color: #414140;
  background: url("../img/backgrounds/home-bg.jpg") center center no-repeat #fff;
  background-attachment: fixed;
  -webkit-background-size: cover;
  background-size: cover;
  height: 100%;
  overflow-x: none; }

#navigation {
  background: rgba(255, 255, 255, 0.9);
  border-bottom: 1px solid #ccc;
  text-transform: uppercase; }
  #navigation .navbar {
    padding: 0 1rem; }
  #navigation #mobile-nav-btn {
    display: none;
    text-decoration: none;
    color: #414140;
    font-size: 1.3rem;
    font-weight: 600;
    padding: 1.15rem 0; }
    #navigation #mobile-nav-btn i {
      background: url("../img/icons/mobile-nav.png") no-repeat center center;
      display: inline-block;
      width: 15px;
      height: 25px;
      -webkit-background-size: contain;
      background-size: contain;
      vertical-align: middle; }
    #navigation #mobile-nav-btn span {
      display: inline-block;
      vertical-align: middle; }
  #navigation #close-nav-btn {
    position: fixed;
    z-index: 4;
    display: none;
    text-align: center;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem 0;
    background: #fff; }
    #navigation #close-nav-btn i {
      background: url("../img/icons/close.png") no-repeat center center;
      display: inline-block;
      width: 25px;
      height: 25px;
      -webkit-background-size: contain;
      background-size: contain;
      vertical-align: middle; }
  #navigation .navbar-brand {
    margin-right: 3rem;
    padding-top: 0.64rem;
    padding-bottom: 0.64rem; }
    #navigation .navbar-brand img {
      height: 40px;
      width: auto;
      display: block; }
  #navigation .navbar-nav li {
    margin-left: 2rem;
    position: relative; }
    #navigation .navbar-nav li:first-child {
      margin-left: 0rem; }
    #navigation .navbar-nav li:hover a.nav-link, #navigation .navbar-nav li.active a.nav-link {
      color: #B2CD12; }
      #navigation .navbar-nav li:hover a.nav-link span.text, #navigation .navbar-nav li.active a.nav-link span.text {
        position: relative; }
        #navigation .navbar-nav li:hover a.nav-link span.text .line, #navigation .navbar-nav li.active a.nav-link span.text .line {
          width: 50%; }
    #navigation .navbar-nav li a {
      padding-top: 1.1rem;
      padding-bottom: 1.1rem;
      color: #414140;
      font-size: 0.9rem;
      font-weight: 600;
      -webkit-transition: color 0.3s ease-in-out 0s;
      -moz-transition: color 0.3s ease-in-out 0s;
      -ms-transition: color 0.3s ease-in-out 0s;
      -o-transition: color 0.3s ease-in-out;
      transition: color 0.3s ease-in-out 0s; }
      #navigation .navbar-nav li a span {
        display: inline-block;
        vertical-align: middle; }
        #navigation .navbar-nav li a span.icon {
          margin-right: 0.2rem;
          height: 26px;
          width: 24px;
          background-position: center;
          background-repeat: no-repeat;
          -webkit-background-size: contain;
          background-size: contain; }
          #navigation .navbar-nav li a span.icon.icon-dashboard {
            background-image: url("../img/icons/dashboard.png"); }
          #navigation .navbar-nav li a span.icon.icon-games {
            background-image: url("../img/icons/games.png"); }
          #navigation .navbar-nav li a span.icon.icon-friends {
            background-image: url("../img/icons/friends.png"); }
          #navigation .navbar-nav li a span.icon.icon-groups {
            background-image: url("../img/icons/groups.png"); }
          #navigation .navbar-nav li a span.icon.icon-locations {
            background-image: url("../img/icons/locations.png"); }
          #navigation .navbar-nav li a span.icon.icon-who-are-we {
            background-image: url("../img/icons/who-are-we.png"); }
          #navigation .navbar-nav li a span.icon.icon-notifications {
            background-image: url("../img/icons/notifications.png");
            position: relative; }
            #navigation .navbar-nav li a span.icon.icon-notifications .notifications-count {
              display: inline-block;
              width: 18px;
              height: 18px;
              -webkit-border-radius: 50%;
              -moz-border-radius: 50%;
              border-radius: 50%;
              background: #F90000;
              color: #fff;
              font-size: 0.5rem;
              line-height: 1.08rem;
              font-weight: 600;
              text-align: center;
              position: absolute;
              bottom: -5px;
              left: -5px; }
          #navigation .navbar-nav li a span.icon.icon-settings {
            background-image: url("../img/icons/settings.png"); }
        #navigation .navbar-nav li a span.text {
          position: relative; }
          #navigation .navbar-nav li a span.text .line {
            width: 0%;
            height: 2px;
            background: #B2CD12;
            display: block;
            position: absolute;
            bottom: -5px;
            left: 1px;
            -webkit-transition: all 0.3s ease-in-out 0s;
            -moz-transition: all 0.3s ease-in-out 0s;
            -ms-transition: all 0.3s ease-in-out 0s;
            -o-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out 0s; }
    #navigation .navbar-nav li.dropdown:hover .dropdown-nav {
      visibility: visible;
      opacity: 1;
      top: 62px; }
    #navigation .navbar-nav li.dropdown .dropdown-nav {
      display: block;
      visibility: hidden;
      position: absolute;
      background: rgba(255, 255, 255, 0.9);
      -webkit-border-radius: 0 0 5px 5px;
      -moz-border-radius: 0 0 5px 5px;
      border-radius: 0 0 5px 5px;
      padding: 0 0.4rem;
      top: 52px;
      opacity: 0;
      box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.25);
      -webkit-transition: all 0.4s ease-in-out 0s;
      -moz-transition: all 0.4s ease-in-out 0s;
      -ms-transition: all 0.4s ease-in-out 0s;
      -o-transition: all 0.4s ease-in-out;
      transition: all 0.4s ease-in-out 0s;
      z-index: 3; }
      #navigation .navbar-nav li.dropdown .dropdown-nav li {
        display: block;
        margin: 0;
        border-bottom: 1px solid #ddd; }
        #navigation .navbar-nav li.dropdown .dropdown-nav li:last-child {
          border: none; }
        #navigation .navbar-nav li.dropdown .dropdown-nav li a {
          display: block;
          padding: 0.4rem 0.5rem;
          font-size: 0.8rem;
          font-weight: 400;
          text-align: center;
          text-transform: none; }
          #navigation .navbar-nav li.dropdown .dropdown-nav li a:hover, #navigation .navbar-nav li.dropdown .dropdown-nav li a.active {
            color: #B2CD12;
            text-decoration: none; }
  #navigation .navbar-nav .dropdown-left {
    left: 0; }
  #navigation .navbar-nav .dropdown-right {
    right: 0; }
  #navigation .navbar-nav .dropdown-center {
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%); }
  #navigation .navbar-nav .dropdown-small {
    min-width: 110px; }
  #navigation .navbar-nav .dropdown-middle {
    min-width: 150px; }
  #navigation .navbar-nav .dropdown-large {
    min-width: 260px; }
  #navigation #nav-notifications li {
    margin-left: 1.5rem; }
    #navigation #nav-notifications li.dropdown #profile-settings.settings-show {
      visibility: visible;
      opacity: 1;
      top: 62px; }
    #navigation #nav-notifications li.dropdown #notifications-list {
      overflow-x: hidden;
      overflow-y: auto;
      max-height: 160px; }
      #navigation #nav-notifications li.dropdown #notifications-list.notification-show {
        visibility: visible;
        opacity: 1;
        top: 62px; }
      #navigation #nav-notifications li.dropdown #notifications-list ul {
        width: 100%; }
      #navigation #nav-notifications li.dropdown #notifications-list li {
        clear: both;
        width: 100%; }
        #navigation #nav-notifications li.dropdown #notifications-list li a {
          font-size: 0.75rem;
          padding: 0.3rem 0.2rem;
          display: block;
          font-weight: 300; }
          #navigation #nav-notifications li.dropdown #notifications-list li a span {
            display: block;
            float: left;
            max-width: 220px;
            line-height: 16px;
            text-align: left;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis; }
          #navigation #nav-notifications li.dropdown #notifications-list li a i {
            display: block;
            float: right;
            width: 16px;
            height: 16px;
            background-position: center;
            background-repeat: no-repeat;
            -webkit-background-size: contain;
            background-size: contain; }
        #navigation #nav-notifications li.dropdown #notifications-list li.new-game i {
          background-image: url("../img/icons/notification-new.png"); }
        #navigation #nav-notifications li.dropdown #notifications-list li.game-canceled i {
          background-image: url("../img/icons/notification-canceled.png"); }
        #navigation #nav-notifications li.dropdown #notifications-list li.game-update i {
          background-image: url("../img/icons/notification-updated.png"); }
        #navigation #nav-notifications li.dropdown #notifications-list li.game-review-open i {
          background-image: url("../img/icons/notification-rating.png"); }
    #navigation #nav-notifications li.dropdown .dropdown-nav li {
      margin: 0; }
    #navigation #nav-notifications li.dropdown:hover .dropdown-nav {
      visibility: hidden;
      opacity: 0;
      top: 52px; }

.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50px;
  height: 50px;
  background-color: #B2CD12;
  z-index: 2;
  border-radius: 50%; }
  .loader:after {
    content: '';
    position: absolute;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    border: 0px solid white;
    transform: translate(-50%, -50%);
    animation: loading 1000ms ease-out forwards infinite; }

@keyframes loading {
  0% {
    border: 0px solid white; }
  20% {
    border: 8px solid white;
    width: 0%;
    height: 0%; }
  100% {
    border: 8px solid white;
    width: 100%;
    height: 100%; } }
#content {
  padding-bottom: 110px; }

.sub-nav {
  text-align: center;
  display: block; }
  .sub-nav .page-sub-nav {
    margin: 30px 0;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
    border-radius: 5px; }
    .sub-nav .page-sub-nav .btn-secondary {
      min-width: 165px;
      text-align: center;
      font-size: 1rem;
      border: none;
      -webkit-transition: all 0.4s ease-in-out 0s;
      -moz-transition: all 0.4s ease-in-out 0s;
      -ms-transition: all 0.4s ease-in-out 0s;
      -o-transition: all 0.4s ease-in-out;
      transition: all 0.4s ease-in-out 0s; }
      .sub-nav .page-sub-nav .btn-secondary:hover, .sub-nav .page-sub-nav .btn-secondary.active {
        color: #fff;
        background: #B2CD12; }

.section-title {
  text-align: center;
  margin: 0 0 20px; }
  .section-title .title-wrapper {
    display: inline-block; }
    .section-title .title-wrapper h2 {
      font-size: 1.6rem;
      font-weight: 300;
      display: block; }
    .section-title .title-wrapper h3 {
      font-size: 1.2rem;
      font-weight: 300; }
    .section-title .title-wrapper .title-underline {
      height: 1px;
      width: 50%;
      margin: 10px auto 0;
      background: #979797; }

.table-fgo {
  background: #fff;
  border-color: #ccc;
  margin-bottom: 10px; }
  .table-fgo thead th {
    background: #F0F0F0;
    border-color: #ccc;
    border-bottom: 1px solid #ccc;
    text-align: center;
    color: #414140;
    font-weight: 300;
    padding: .4rem;
    vertical-align: middle; }
    .table-fgo thead th i {
      display: inline-block;
      vertical-align: middle;
      width: 18px;
      height: 18px;
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      margin-right: 5px; }
      .table-fgo thead th i.table-date {
        background-image: url("../img/icons/table-date.png"); }
      .table-fgo thead th i.table-final-score {
        background-image: url("../img/icons/table-final-score.png"); }
      .table-fgo thead th i.table-location {
        background-image: url("../img/icons/table-location.png"); }
      .table-fgo thead th i.table-players {
        background-image: url("../img/icons/table-players.png"); }
    .table-fgo thead th span {
      display: inline-block;
      vertical-align: middle; }
  .table-fgo tbody tr {
    cursor: pointer; }
    .table-fgo tbody tr td {
      padding: .4rem;
      background: #fff;
      border-color: #ccc;
      font-size: 0.8rem;
      text-align: center;
      color: #414140;
      font-weight: 300;
      line-height: 1.1rem;
      vertical-align: middle; }
      .table-fgo tbody tr td span {
        display: inline-block;
        vertical-align: middle; }
        .table-fgo tbody tr td span.score {
          font-size: 1.1rem;
          font-weight: 600;
          margin: 0 5px; }
        .table-fgo tbody tr td span.winner {
          color: #B2CD12;
          font-weight: 600; }
      .table-fgo tbody tr td:last-child {
        font-weight: 600; }
    .table-fgo tbody tr:hover td {
      background: #f0f0f0; }

.pagination-fgo .page-item.active .page-link {
  background-color: #B2CD12;
  color: #fff; }
.pagination-fgo .page-item .page-link {
  padding: 0;
  width: 30px;
  height: 30px;
  font-size: 0.8rem;
  line-height: 29px;
  text-align: center;
  background-color: #F0F0F0;
  border-color: #ccc;
  text-decoration: none;
  color: #414140; }
  .pagination-fgo .page-item .page-link.prev-link {
    background: url("../img/icons/pagination-arrow-prev.png") no-repeat center;
    background-color: #F0F0F0;
    background-size: 45%; }
  .pagination-fgo .page-item .page-link.next-link {
    background: url("../img/icons/pagination-arrow-next.png") no-repeat center;
    background-size: 45%;
    background-color: #F0F0F0; }
  .pagination-fgo .page-item .page-link:hover {
    background-color: #ddd; }

.content-view {
  width: 100%;
  margin: 0 auto;
  padding: 15px 1.2rem;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.3); }
  .content-view.small-view {
    max-width: 1000px; }
  .content-view.big-view {
    max-width: 1200px; }

form input {
  color: #414140;
  font-weight: 300;
  font-size: 1rem;
  border-radius: 5px;
  border: 1px solid #ccc; }
  form input#hour, form input#minutes {
    display: inline-block;
    width: 44%;
    vertical-align: middle;
    text-align: center;
    padding-left: 0;
    padding-right: 0; }
  form input[type="radio"] {
    display: none; }
  form input[type="radio"] + label {
    color: #414140;
    font-size: 1rem;
    font-weight: 300;
    margin-right: 15px;
    padding: 0.3rem 0; }
  form input[type="radio"] + label span {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: -3px 10px 0 0;
    vertical-align: middle;
    cursor: pointer;
    -moz-border-radius: 50%;
    border-radius: 50%;
    -webkit-transition: all 0.4s ease-in-out 0s;
    -moz-transition: all 0.4s ease-in-out 0s;
    -ms-transition: all 0.4s ease-in-out 0s;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out 0s; }
  form input[type="radio"] + label span {
    background-color: #fff;
    border: 1px solid #ccc; }
  form input[type="radio"]:checked + label span {
    background-color: #B2CD12;
    border: 1px solid #B2CD12; }
form .form-group {
  position: relative; }
form textarea {
  display: block;
  width: 100%;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #55595c;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: .25rem;
  resize: none;
  height: 180px; }
form select {
  color: #414140;
  font-weight: 300;
  font-size: 1rem;
  border-radius: 5px;
  border: 1px solid #ccc;
  height: 38px;
  position: relative;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url("../img/icons/select-icon.png") !important;
  background-repeat: no-repeat;
  background-position: 98%;
  background-size: 4px; }
form .upload-btn {
  position: absolute;
  z-index: 1;
  display: block;
  top: 1px;
  right: 1px;
  width: 45px;
  height: 36px;
  background: url("../img/icons/upload.png") no-repeat center #fff;
  border-left: 1px solid #ccc;
  border-radius: 0 5px 5px 0;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -moz-transition: all 0.4s ease-in-out 0s;
  -ms-transition: all 0.4s ease-in-out 0s;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out 0s; }
  form .upload-btn:hover {
    opacity: 0.8; }
form .alert-warning {
  background: #F90000;
  color: #fff;
  font-weight: 300; }
  form .alert-warning strong {
    font-weight: 600; }
form .search-field {
  position: relative; }
  form .search-field .search-icon {
    display: block;
    background: url("../img/icons/search-icon-grey.png") no-repeat center center;
    width: 40px;
    height: 37px;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 0;
    border-right: 1px solid #ccc;
    border-top: none;
    border-right: none;
    border-bottom: none; }
form .btn-submit {
  background: #B2CD12;
  border: none;
  box-shadow: none;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  color: #fff;
  font-weight: 600;
  font-size: 1.1rem;
  margin: 0.5rem 0;
  padding: 0.8rem .75rem;
  max-width: 280px;
  width: 80%;
  border: 2px solid #B2CD12;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -moz-transition: all 0.4s ease-in-out 0s;
  -ms-transition: all 0.4s ease-in-out 0s;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out 0s; }
  form .btn-submit:hover {
    background: #fff;
    color: #B2CD12; }

.game-availability .circles {
  display: inline-block;
  background: #F0F0F0;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.3);
  border-radius: 50%;
  color: #40403F;
  width: 85px;
  height: 85px;
  margin: 0 1.5%;
  padding: 15px 0; }
  .game-availability .circles .number {
    display: block;
    font-size: 2rem;
    font-weight: 600;
    text-align: center;
    margin-bottom: 5px; }
  .game-availability .circles .text {
    display: block;
    font-size: 0.8rem;
    font-weight: 300;
    text-align: center; }
  .game-availability .circles.players-available {
    background: #B2CD12;
    color: #fff; }

.players-list {
  margin: 1rem 0; }
  .players-list .players-cont {
    text-align: left; }
    .players-list .players-cont.empty {
      background: url("../img/your-friends-empty.png") no-repeat center center;
      background-size: 80%;
      height: 301px;
      width: 100%; }
    .players-list .players-cont .player {
      margin: 0.75rem 3px;
      display: inline-block;
      text-align: left;
      color: #414140;
      text-decoration: none !important;
      -webkit-transition: all 0.4s ease-in-out 0s;
      -moz-transition: all 0.4s ease-in-out 0s;
      -ms-transition: all 0.4s ease-in-out 0s;
      -o-transition: all 0.4s ease-in-out;
      transition: all 0.4s ease-in-out 0s;
      width: 230px; }
      .players-list .players-cont .player:hover {
        opacity: 0.8; }
      .players-list .players-cont .player .player-img {
        width: 120px;
        height: 120px;
        display: inline-block;
        overflow: hidden;
        border-radius: 50%;
        box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
        vertical-align: middle;
        position: relative;
        cursor: pointer; }
        .players-list .players-cont .player .player-img .btn-invite-player {
          display: block;
          background: rgba(255, 255, 255, 0.85);
          position: absolute;
          bottom: 0;
          width: 100%;
          height: 35px;
          font-weight: 300;
          font-size: 1rem;
          text-align: center;
          text-decoration: none;
          padding: 0.5rem 0;
          -webkit-transition: all 0.4s ease-in-out 0s;
          -moz-transition: all 0.4s ease-in-out 0s;
          -ms-transition: all 0.4s ease-in-out 0s;
          -o-transition: all 0.4s ease-in-out;
          transition: all 0.4s ease-in-out 0s; }
          .players-list .players-cont .player .player-img .btn-invite-player .text {
            opacity: 1;
            display: block;
            width: 100%;
            color: #414140;
            text-align: center;
            position: absolute;
            -webkit-transition: all 0.4s ease-in-out 0s;
            -moz-transition: all 0.4s ease-in-out 0s;
            -ms-transition: all 0.4s ease-in-out 0s;
            -o-transition: all 0.4s ease-in-out;
            transition: all 0.4s ease-in-out 0s; }
          .players-list .players-cont .player .player-img .btn-invite-player .icon {
            display: block;
            margin: 0 auto;
            width: 20px;
            height: 20px;
            background: url("../img/icons/accept.png") no-repeat center center;
            background-size: contain;
            opacity: 0;
            -webkit-transition: all 0.4s ease-in-out 0s;
            -moz-transition: all 0.4s ease-in-out 0s;
            -ms-transition: all 0.4s ease-in-out 0s;
            -o-transition: all 0.4s ease-in-out;
            transition: all 0.4s ease-in-out 0s; }
          .players-list .players-cont .player .player-img .btn-invite-player:hover {
            background: #B2CD12; }
            .players-list .players-cont .player .player-img .btn-invite-player:hover .text {
              color: #fff; }
          .players-list .players-cont .player .player-img .btn-invite-player.checked {
            background: #B2CD12; }
            .players-list .players-cont .player .player-img .btn-invite-player.checked .text {
              opacity: 0; }
            .players-list .players-cont .player .player-img .btn-invite-player.checked .icon {
              opacity: 1; }
        .players-list .players-cont .player .player-img .btn-remove-friend {
          display: block;
          background: rgba(255, 255, 255, 0.85);
          position: absolute;
          bottom: 0;
          width: 100%;
          height: 35px;
          font-weight: 300;
          font-size: 1rem;
          text-align: center;
          text-decoration: none;
          padding: 0.5rem 0;
          -webkit-transition: all 0.4s ease-in-out 0s;
          -moz-transition: all 0.4s ease-in-out 0s;
          -ms-transition: all 0.4s ease-in-out 0s;
          -o-transition: all 0.4s ease-in-out;
          transition: all 0.4s ease-in-out 0s; }
          .players-list .players-cont .player .player-img .btn-remove-friend .text {
            opacity: 1;
            display: block;
            width: 100%;
            color: #414140;
            text-align: center;
            position: absolute;
            -webkit-transition: all 0.4s ease-in-out 0s;
            -moz-transition: all 0.4s ease-in-out 0s;
            -ms-transition: all 0.4s ease-in-out 0s;
            -o-transition: all 0.4s ease-in-out;
            transition: all 0.4s ease-in-out 0s; }
          .players-list .players-cont .player .player-img .btn-remove-friend .icon {
            display: block;
            margin: 0 auto;
            width: 20px;
            height: 20px;
            background: url("../img/icons/accept.png") no-repeat center center;
            background-size: contain;
            opacity: 0;
            -webkit-transition: all 0.4s ease-in-out 0s;
            -moz-transition: all 0.4s ease-in-out 0s;
            -ms-transition: all 0.4s ease-in-out 0s;
            -o-transition: all 0.4s ease-in-out;
            transition: all 0.4s ease-in-out 0s; }
          .players-list .players-cont .player .player-img .btn-remove-friend:hover {
            background: red; }
            .players-list .players-cont .player .player-img .btn-remove-friend:hover .text {
              color: #fff; }
          .players-list .players-cont .player .player-img .btn-remove-friend.checked {
            background: red; }
            .players-list .players-cont .player .player-img .btn-remove-friend.checked .text {
              opacity: 0; }
            .players-list .players-cont .player .player-img .btn-remove-friend.checked .icon {
              opacity: 1; }
        .players-list .players-cont .player .player-img img {
          width: 100%;
          height: auto; }
      .players-list .players-cont .player .player-info {
        display: inline-block;
        vertical-align: middle;
        margin-left: 5px;
        text-decoration: none;
        color: #414140;
        max-width: 100px; }
        .players-list .players-cont .player .player-info .name {
          font-size: 1rem;
          font-weight: 300; }
          .players-list .players-cont .player .player-info .name .man-of-the-match {
            display: inline-block;
            background: url("../img/icons/man-of-the-match-green.png") no-repeat center center;
            width: 19px;
            height: 15px; }
        .players-list .players-cont .player .player-info .age {
          font-size: 0.7rem;
          font-weight: 600;
          margin-top: 3px; }
        .players-list .players-cont .player .player-info .rating {
          font-size: 0.7rem;
          font-weight: 600;
          margin-top: 3px;
          padding: 3px 0 3px 20px;
          background: url("../img/icons/rating-grey.png") no-repeat left center; }
        .players-list .players-cont .player .player-info .members {
          display: inline-block;
          font-size: 0.7rem;
          font-weight: 600;
          margin-top: 3px;
          padding: 3px 0 3px 20px;
          background: url("../img/icons/group-members.png") no-repeat left center; }
        .players-list .players-cont .player .player-info .games {
          display: inline-block;
          font-size: 0.7rem;
          font-weight: 600;
          margin-top: 3px;
          margin-left: 5px;
          padding: 3px 0 3px 20px;
          background: url("../img/icons/group-games.png") no-repeat left center; }

.button-cont {
  text-align: center;
  border-top: 1px solid #bbb;
  padding: 1rem 0 0; }

.btn-style {
  display: inline-block;
  background: #B2CD12;
  border-radius: 5px;
  font-weight: 600;
  font-size: 1rem;
  color: #FFFFFF;
  line-height: 1.2rem;
  padding: 0.7rem 2.5rem;
  text-decoration: none !important;
  border: 2px solid #B2CD12;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -moz-transition: all 0.4s ease-in-out 0s;
  -ms-transition: all 0.4s ease-in-out 0s;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out 0s; }
  .btn-style:hover {
    background: #fff;
    color: #B2CD12; }

.call-to-action-msg {
  text-align: center; }
  .call-to-action-msg p {
    font-size: 1.2rem;
    line-height: 1.4rem;
    font-weight: 300;
    margin-bottom: 2rem; }
  .call-to-action-msg .btn-style {
    margin-bottom: 1rem; }

.comments-list {
  border-top: 1px solid #ccc;
  padding: 1rem 0 0; }
  .comments-list .comments-cont .comment {
    padding: 0 0 2rem;
    position: relative; }
    .comments-list .comments-cont .comment .line-cont {
      position: absolute;
      height: 100%;
      width: 100%; }
      .comments-list .comments-cont .comment .line-cont .col-md-2 {
        height: 100%; }
        .comments-list .comments-cont .comment .line-cont .col-md-2 .line {
          margin: 0 auto;
          width: 1px;
          background: #ccc;
          height: 100%; }
      .comments-list .comments-cont .comment .line-cont .col-md-3 {
        height: 100%; }
    .comments-list .comments-cont .comment img {
      width: 100%;
      max-width: 140px;
      height: auto;
      display: block;
      margin: 0 auto;
      border-radius: 50%;
      box-shadow: 0 0 2px rgba(0, 0, 0, 0.3); }
    .comments-list .comments-cont .comment .name {
      font-weight: 300;
      font-size: 0.8rem; }
      .comments-list .comments-cont .comment .name span {
        font-weight: 600;
        color: #888; }
    .comments-list .comments-cont .comment .descr {
      margin: 1rem 0 0;
      font-size: 1rem;
      line-height: 1.2rem;
      font-weight: 300;
      text-align: justify; }
  .comments-list .comment-form #comment-field {
    width: 85%;
    display: block;
    float: left;
    border-radius: 5px 0 0 5px; }
  .comments-list .comment-form #submit-comment {
    display: block;
    float: left;
    border-radius: 0 5px 5px 0;
    padding: .45rem .75rem;
    font-weight: 400;
    width: 15%; }
    .comments-list .comment-form #submit-comment:hover {
      border-color: #B2CD12;
      background: #B2CD12;
      color: #414140;
      opacity: 0.8; }

.map-cont img {
  width: 100%;
  display: block;
  height: auto; }

.dNone {
  display: none; }

#user-login {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.8);
  z-index: 3;
  overflow-y: auto; }
  #user-login #terms {
    max-width: 800px; }
    #user-login #terms p {
      text-align: justify;
      font-size: 0.9rem;
      line-height: 1.1rem; }
  #user-login .form-cont {
    margin: 0 auto;
    padding: 1rem;
    text-align: center;
    width: 90%;
    max-width: 500px;
    background: #fff;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.3); }
    #user-login .form-cont .forgot-pass-btn {
      position: absolute;
      top: -20px;
      right: 0;
      color: #B2CD12;
      font-size: 0.8rem; }
    #user-login .form-cont .close-popup {
      display: block;
      text-align: center;
      width: 100%;
      padding: 0.5rem 0 2rem 0;
      background: #fff; }
      #user-login .form-cont .close-popup i {
        background: url("../img/icons/close.png") no-repeat center center;
        display: inline-block;
        width: 25px;
        height: 25px;
        -webkit-background-size: contain;
        background-size: contain;
        vertical-align: middle; }
    #user-login .form-cont .seperator-or {
      font-weight: 300;
      font-size: 1.5rem;
      margin: 0.8rem 0;
      position: relative; }
      #user-login .form-cont .seperator-or span {
        display: inline-block;
        position: relative;
        background: #fff;
        padding: 0 0.8rem;
        z-index: 2; }
        #user-login .form-cont .seperator-or span.line {
          position: absolute;
          top: 13px;
          left: 0;
          width: 100%;
          height: 1px;
          background: #ccc;
          padding: 0;
          z-index: 1; }
    #user-login .form-cont .btn-submit {
      width: 100%;
      max-width: none;
      margin: 0; }
    #user-login .form-cont .alert-warning {
      margin-top: 1rem; }
    #user-login .form-cont #social-connect {
      margin: 1rem 0; }
      #user-login .form-cont #social-connect .col-md-6 {
        padding: 0; }
        @media (min-width: 993px) {
          #user-login .form-cont #social-connect .col-md-6#fb-cont {
            padding-right: 0.5rem; }
          #user-login .form-cont #social-connect .col-md-6#gp-cont {
            padding-left: 0.5rem; } }
        @media (max-width: 992px) {
          #user-login .form-cont #social-connect .col-md-6#fb-cont {
            padding-bottom: 0.5rem; }
          #user-login .form-cont #social-connect .col-md-6#gp-cont {
            padding-top: 0.5rem; } }
      #user-login .form-cont #social-connect a {
        display: block;
        width: 100%;
        text-decoration: none;
        color: #fff;
        font-size: 0.9rem;
        font-weight: 400;
        border-radius: 5px;
        padding: 0.7rem 0;
        text-align: center;
        -webkit-transition: all 0.4s ease-in-out 0s;
        -moz-transition: all 0.4s ease-in-out 0s;
        -ms-transition: all 0.4s ease-in-out 0s;
        -o-transition: all 0.4s ease-in-out;
        transition: all 0.4s ease-in-out 0s; }
        #user-login .form-cont #social-connect a:hover {
          opacity: 0.8; }
        #user-login .form-cont #social-connect a i {
          display: inline-block;
          vertical-align: middle;
          width: 20px;
          height: 20px;
          margin-right: 0.3rem; }
        #user-login .form-cont #social-connect a span {
          display: inline-block;
          vertical-align: middle; }
        #user-login .form-cont #social-connect a.fb {
          background: #405CB0; }
          #user-login .form-cont #social-connect a.fb i {
            background: url("../img/icons/facebook-connect.png") no-repeat center;
            background-size: contain; }
        #user-login .form-cont #social-connect a.gp {
          background: #DF4B32; }
          #user-login .form-cont #social-connect a.gp i {
            background: url("../img/icons/google-plus.png") no-repeat center;
            background-size: contain; }
    #user-login .form-cont #sign-up-btn {
      width: 100%;
      max-width: none; }

body.landing-page {
  background: #fff;
  overflow-x: hidden; }
  body.landing-page .fgo-enter {
    position: absolute;
    text-align: center;
    width: 100%; }
    body.landing-page .fgo-enter a {
      display: inline-block;
      width: 45%;
      max-width: 220px;
      color: #fff;
      background: #B2CD12;
      border-radius: 30px;
      padding: 0.5rem 0;
      font-size: 1.4rem;
      font-weight: 300;
      max-width: 0 0 0 2.4%;
      text-decoration: none;
      -webkit-transition: all 0.4s ease-in-out 0s;
      -moz-transition: all 0.4s ease-in-out 0s;
      -ms-transition: all 0.4s ease-in-out 0s;
      -o-transition: all 0.4s ease-in-out;
      transition: all 0.4s ease-in-out 0s; }
      body.landing-page .fgo-enter a i {
        display: inline-block;
        vertical-align: middle;
        margin-right: 5px; }
      body.landing-page .fgo-enter a span {
        display: inline-block;
        vertical-align: middle; }
      body.landing-page .fgo-enter a:hover {
        background: #414140; }
      body.landing-page .fgo-enter a.left {
        margin-right: 2.4%;
        margin-left: 0; }
      body.landing-page .fgo-enter a.sign-up i {
        background: url("../img/icons/sign-up.png") no-repeat center;
        background-size: contain;
        width: 25px;
        height: 25px; }
      body.landing-page .fgo-enter a.login i {
        background: url("../img/icons/login.png") no-repeat center;
        background-size: contain;
        width: 25px;
        height: 25px; }
  body.landing-page #header {
    height: 100%;
    width: 100%;
    min-height: 500px;
    background: url("../img/landing-page-cover.jpg") no-repeat top center;
    background-size: cover;
    position: relative; }
    body.landing-page #header .fgo-slogan {
      position: absolute;
      text-align: center;
      font-size: 3.5rem;
      font-weight: 300;
      line-height: 3.9rem;
      color: #fff;
      width: 100%;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      -o-transform: translateY(-50%);
      transform: translateY(-50%); }
    body.landing-page #header .fgo-enter {
      bottom: 40px;
      width: 100%; }
  body.landing-page #content {
    padding: 0; }
    body.landing-page #content .how-to-play-title {
      display: block;
      padding: 0.8rem 0;
      background: #B2CD12;
      color: #fff;
      font-size: 1.6rem;
      font-weight: 300;
      text-align: center; }
    body.landing-page #content .row .col-md-6 {
      height: 550px; }
      body.landing-page #content .row .col-md-6 h4 {
        color: #ccc;
        font-size: 2.5rem;
        margin-top: 12rem;
        margin-bottom: 1.5rem;
        font-weight: 300;
        padding: 1.2rem 2.5rem;
        position: relative; }
        body.landing-page #content .row .col-md-6 h4 .step-number {
          width: 80px;
          height: 80px;
          text-align: center;
          color: #fff;
          font-weight: 300;
          font-size: 2.5rem;
          line-height: 75px;
          position: absolute;
          top: 0;
          left: -55px;
          background: #B2CD12; }
      body.landing-page #content .row .col-md-6 p {
        padding: 0 2.5rem;
        font-size: 1.2rem;
        line-height: 1.5rem;
        font-weight: 300;
        text-align: justify;
        display: block;
        width: 80%; }
      body.landing-page #content .row .col-md-6.col-1 h4 .step-number {
        right: -55px;
        left: auto; }
      body.landing-page #content .row .col-md-6.text-left {
        text-align: right; }
        body.landing-page #content .row .col-md-6.text-left h4, body.landing-page #content .row .col-md-6.text-left p {
          display: inline-block;
          width: 80%;
          max-width: 650px;
          text-align: left; }
      body.landing-page #content .row .col-md-6.text-right {
        text-align: left; }
        body.landing-page #content .row .col-md-6.text-right h4, body.landing-page #content .row .col-md-6.text-right p {
          display: inline-block;
          width: 80%;
          max-width: 650px;
          text-align: left; }
    body.landing-page #content #register .col-1 {
      background: url("../img/01.how-to-play.jpg") no-repeat center;
      background-size: cover; }
    body.landing-page #content #invite-friends .col-1 {
      z-index: 1; }
    body.landing-page #content #invite-friends .col-2 {
      background: url("../img/02.how-to-play.jpg") no-repeat center;
      background-size: cover; }
    body.landing-page #content #create-game .col-1 {
      background: url("../img/03.how-to-play.jpg") no-repeat center;
      background-size: cover; }
    body.landing-page #content #send-invites .col-1 {
      z-index: 1; }
    body.landing-page #content #send-invites .col-2 {
      background: url("../img/04.how-to-play.jpg") no-repeat center;
      background-size: cover; }
    body.landing-page #content #play-game .col-1 {
      background: url("../img/05.how-to-play.jpg") no-repeat center;
      background-size: cover; }
    body.landing-page #content #rate-teammates .col-1 {
      z-index: 1; }
    body.landing-page #content #rate-teammates .col-2 {
      background: url("../img/06.how-to-play.jpg") no-repeat center;
      background-size: cover; }
  body.landing-page #footer {
    height: 700px;
    position: relative;
    width: 100%;
    background: url("../img/footer-cover.jpg") no-repeat center;
    background-size: cover; }
    body.landing-page #footer .fgo-enter {
      top: 45%;
      -webkit-transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      -o-transform: translateY(-50%);
      transform: translateY(-50%); }
      body.landing-page #footer .fgo-enter .fgo-icon {
        background: url("../img/icons/fgo-icon.png") no-repeat center;
        background-size: contain;
        width: 100%;
        height: 175px;
        margin-bottom: 4rem; }
    body.landing-page #footer .footer-items {
      background: rgba(178, 205, 19, 0.85);
      color: #fff;
      font-weight: 300;
      padding: 0.7rem 0 0.5rem;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      font-size: 0.9rem; }
      body.landing-page #footer .footer-items .footer-cont {
        width: 94%;
        max-width: 1400px;
        margin: 0 auto; }
        body.landing-page #footer .footer-items .footer-cont .all-rights {
          padding: 0.5rem 0; }
        body.landing-page #footer .footer-items .footer-cont .social {
          text-align: center; }
          body.landing-page #footer .footer-items .footer-cont .social a {
            display: inline-block;
            width: 24px;
            height: 24px;
            margin: 0 0.5rem;
            -webkit-transition: all 0.4s ease-in-out 0s;
            -moz-transition: all 0.4s ease-in-out 0s;
            -ms-transition: all 0.4s ease-in-out 0s;
            -o-transition: all 0.4s ease-in-out;
            transition: all 0.4s ease-in-out 0s; }
            body.landing-page #footer .footer-items .footer-cont .social a:hover {
              opacity: 0.7; }
            body.landing-page #footer .footer-items .footer-cont .social a.fb-btn {
              background: url("../img/icons/fb.png") no-repeat center;
              background-size: contain; }
            body.landing-page #footer .footer-items .footer-cont .social a.tw-btn {
              background: url("../img/icons/twitter.png") no-repeat center;
              background-size: contain; }
            body.landing-page #footer .footer-items .footer-cont .social a.in-btn {
              background: url("../img/icons/instagram.png") no-repeat center;
              background-size: contain; }
        body.landing-page #footer .footer-items .footer-cont .footer-nav {
          text-align: right;
          padding: 0.5rem 0; }
          body.landing-page #footer .footer-items .footer-cont .footer-nav a {
            color: #fff;
            text-decoration: none;
            display: inline-block;
            border-right: 1px solid #fff;
            padding: 0 0.6rem 0 0.4rem; }
            body.landing-page #footer .footer-items .footer-cont .footer-nav a:last-child {
              border: none; }

#dashboard {
  padding: 0 1rem; }
  #dashboard .media {
    padding: 80px 0; }
    #dashboard .media .media-left {
      padding-right: 1rem; }
      #dashboard .media .media-left img {
        width: 150px;
        height: 150px;
        border: 1px solid #fff;
        border-radius: 10px;
        box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.25); }
    #dashboard .media .media-body .media-heading {
      font-weight: 800;
      font-size: 3.5rem;
      padding: 0.8rem 0 0.3rem; }
    #dashboard .media .media-body .media-question {
      font-weight: 800;
      font-size: 3.5rem;
      padding: 0.3rem 0 0.8rem; }
  #dashboard #user-stats .stat {
    display: block;
    text-align: left;
    margin: 0 0 1.5rem 0; }
    #dashboard #user-stats .stat .icon {
      width: 80px;
      height: 80px;
      border-radius: 50%;
      background: #40403F;
      display: inline-block;
      vertical-align: middle;
      text-align: center;
      position: relative; }
      #dashboard #user-stats .stat .icon i {
        display: inline-block;
        vertical-align: middle;
        width: 40px;
        height: 40px;
        margin: 20px;
        background-position: center;
        background-repeat: no-repeat;
        -webkit-background-size: contain;
        background-size: contain; }
    #dashboard #user-stats .stat.next-game i {
      background-image: url("../img/icons/next-game.png"); }
    #dashboard #user-stats .stat.total-games i {
      background-image: url("../img/icons/games-played.png"); }
    #dashboard #user-stats .stat.total-rating i {
      background-image: url("../img/icons/rating.png"); }
    #dashboard #user-stats .stat.total-goals i {
      background-image: url("../img/icons/goals.png"); }
    #dashboard #user-stats .stat.total-best i {
      background-image: url("../img/icons/man-of-the-match.png"); }
    #dashboard #user-stats .stat .info {
      display: inline-block;
      vertical-align: middle;
      font-weight: 300;
      font-size: 1.6rem;
      margin-left: 1rem; }
      #dashboard #user-stats .stat .info strong {
        font-weight: 600; }
  #dashboard .dashboard-block {
    background: #40403F;
    border-radius: 5px;
    color: #fff;
    padding: 0.5rem; }
    #dashboard .dashboard-block.group-invites-block {
      margin-top: 15px; }
    #dashboard .dashboard-block h4 {
      font-size: 1.4rem;
      font-weight: 300;
      text-align: center;
      margin: 0 0 15px; }
    #dashboard .dashboard-block .dashboard-block-wrapper {
      height: 100px;
      overflow: auto; }
      #dashboard .dashboard-block .dashboard-block-wrapper .no-invites {
        text-align: center; }
        #dashboard .dashboard-block .dashboard-block-wrapper .no-invites .find-new-friends {
          display: inline-block;
          vertical-align: middle;
          margin-right: 1.5rem; }
          #dashboard .dashboard-block .dashboard-block-wrapper .no-invites .find-new-friends span {
            font-weight: 300;
            font-size: 1.3rem;
            font-style: italic;
            display: block; }
          #dashboard .dashboard-block .dashboard-block-wrapper .no-invites .find-new-friends .btn-find-more {
            color: #40403F;
            background: #B2CD12;
            border-radius: 5px;
            display: block;
            font-weight: 600;
            font-size: 1rem;
            margin: 10px 0 0;
            padding: 0.4rem 0.6rem;
            -webkit-transition: all 0.4s ease-in-out 0s;
            -moz-transition: all 0.4s ease-in-out 0s;
            -ms-transition: all 0.4s ease-in-out 0s;
            -o-transition: all 0.4s ease-in-out;
            transition: all 0.4s ease-in-out 0s; }
            #dashboard .dashboard-block .dashboard-block-wrapper .no-invites .find-new-friends .btn-find-more:hover {
              text-decoration: none;
              opacity: 0.8; }
        #dashboard .dashboard-block .dashboard-block-wrapper .no-invites .fgo-icon {
          width: 55px;
          height: 95px;
          display: inline-block;
          vertical-align: middle;
          background-position: center;
          background-repeat: no-repeat;
          -webkit-background-size: contain;
          background-size: contain;
          background-image: url("../img/icons/fgo-icon.png"); }
      #dashboard .dashboard-block .dashboard-block-wrapper .invites {
        display: block;
        padding: 0.25rem 0;
        border-bottom: 1px solid rgba(240, 240, 240, 0.15); }
        #dashboard .dashboard-block .dashboard-block-wrapper .invites .info {
          padding: 0.3rem 0 0.3rem;
          font-weight: 300;
          font-size: 0.85rem;
          max-width: 340px;
          width: 80%;
          line-height: 1.1rem; }
          #dashboard .dashboard-block .dashboard-block-wrapper .invites .info a {
            color: #B2CD12; }
        #dashboard .dashboard-block .dashboard-block-wrapper .invites .invites-controls {
          text-align: center; }
          #dashboard .dashboard-block .dashboard-block-wrapper .invites .invites-controls .btn-accept,
          #dashboard .dashboard-block .dashboard-block-wrapper .invites .invites-controls .btn-cancel {
            width: 20px;
            height: 20px;
            display: inline-block;
            margin: 0 2px;
            background-position: center;
            background-repeat: no-repeat;
            -webkit-background-size: contain;
            background-size: 60%;
            border-radius: 50%;
            opacity: 0.8;
            -webkit-transition: all 0.4s ease-in-out 0s;
            -moz-transition: all 0.4s ease-in-out 0s;
            -ms-transition: all 0.4s ease-in-out 0s;
            -o-transition: all 0.4s ease-in-out;
            transition: all 0.4s ease-in-out 0s; }
            #dashboard .dashboard-block .dashboard-block-wrapper .invites .invites-controls .btn-accept:hover,
            #dashboard .dashboard-block .dashboard-block-wrapper .invites .invites-controls .btn-cancel:hover {
              opacity: 1; }
          #dashboard .dashboard-block .dashboard-block-wrapper .invites .invites-controls .btn-accept {
            background-image: url("../img/icons/accept.png");
            background-color: #B2CD12; }
          #dashboard .dashboard-block .dashboard-block-wrapper .invites .invites-controls .btn-cancel {
            background-image: url("../img/icons/cancel.png");
            background-color: #FF0000; }

#games {
  text-align: center; }
  #games #upcoming-games .game-item {
    max-width: 420px;
    width: 100%;
    margin: 0 auto 40px;
    height: 360px;
    background-color: #FFFFFF;
    display: block;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.3);
    text-decoration: none; }
    #games #upcoming-games .game-item.no-event {
      background-color: rgba(255, 255, 255, 0.8);
      background-image: url("../img/icons/fgo-icon-big.png");
      background-position: center;
      background-size: 20%;
      background-repeat: no-repeat; }
    #games #upcoming-games .game-item .location-image {
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      width: 100%;
      height: 180px;
      position: relative; }
      #games #upcoming-games .game-item .location-image .pitch-price {
        background: #B2CD12;
        border-radius: 0 5px 5px 0;
        color: #fff;
        font-weight: 300;
        font-size: 0.8rem;
        position: absolute;
        z-index: 1;
        top: 20px;
        left: 0;
        display: block;
        padding: 0.3rem 0.5rem; }
        #games #upcoming-games .game-item .location-image .pitch-price span {
          font-weight: 600; }
      #games #upcoming-games .game-item .location-image .pitch-location {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        padding: 0.4rem 0;
        background: rgba(0, 0, 0, 0.5);
        text-align: left;
        color: #fff;
        font-weight: 300; }
        #games #upcoming-games .game-item .location-image .pitch-location i {
          background: url("../img/icons/game-location.png") no-repeat;
          -webkit-background-size: contain;
          background-size: contain;
          display: inline-block;
          vertical-align: middle;
          width: 20px;
          height: 20px;
          margin: 0 5px 0 10px; }
        #games #upcoming-games .game-item .location-image .pitch-location span {
          display: inline-block;
          vertical-align: middle; }
    #games #upcoming-games .game-item .game-info {
      margin: 1rem auto;
      text-align: center; }
      #games #upcoming-games .game-item .game-info .time {
        font-size: 0.8rem;
        font-weight: 400;
        color: #B2CD12; }
      #games #upcoming-games .game-item .game-info .teams {
        font-size: 1.3rem;
        font-weight: 300;
        color: #40403F;
        margin: 5px 0 0; }
        #games #upcoming-games .game-item .game-info .teams span {
          font-weight: 800; }
  #games #game-details .section-title,
  #games #history-game-details .section-title {
    margin: 0 0 10px; }
    #games #game-details .section-title span,
    #games #history-game-details .section-title span {
      font-weight: 600; }
      #games #game-details .section-title span.winner,
      #games #history-game-details .section-title span.winner {
        color: #B2CD12; }
  #games #game-details .game-info,
  #games #history-game-details .game-info {
    position: relative; }
    #games #game-details .game-info .date-location,
    #games #history-game-details .game-info .date-location {
      position: absolute;
      z-index: 1;
      top: 0;
      left: 0;
      background: #B2CD12;
      padding: 10px 15px;
      box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.5);
      color: #fff; }
      #games #game-details .game-info .date-location .date,
      #games #history-game-details .game-info .date-location .date {
        display: inline-block;
        padding-right: 10px;
        border-right: 1px solid #999;
        vertical-align: middle; }
        #games #game-details .game-info .date-location .date .day,
        #games #history-game-details .game-info .date-location .date .day {
          font-size: 2rem;
          font-weight: 300; }
        #games #game-details .game-info .date-location .date .month,
        #games #history-game-details .game-info .date-location .date .month {
          font-size: 1.1rem;
          font-weight: 600; }
      #games #game-details .game-info .date-location .location,
      #games #history-game-details .game-info .date-location .location {
        display: inline-block;
        padding-left: 5px;
        text-align: left;
        vertical-align: middle; }
        #games #game-details .game-info .date-location .location .name,
        #games #history-game-details .game-info .date-location .location .name {
          font-size: 1.5rem;
          font-weight: 300; }
        #games #game-details .game-info .date-location .location .address,
        #games #history-game-details .game-info .date-location .location .address {
          margin-top: 5px;
          font-size: 1rem;
          font-weight: 600; }
    #games #game-details .game-info .game-availability,
    #games #history-game-details .game-info .game-availability {
      position: absolute;
      bottom: 20px;
      right: 10px;
      width: 100%;
      text-align: right; }
      #games #game-details .game-info .game-availability .circles,
      #games #history-game-details .game-info .game-availability .circles {
        margin: 0 1%; }
    #games #game-details .game-info .loc-img,
    #games #history-game-details .game-info .loc-img {
      width: 100%;
      height: auto;
      display: block; }
  #games #new-game form {
    max-width: 800px;
    margin: 0 auto;
    width: 94%; }
    #games #new-game form .form-group {
      margin-bottom: 1.1rem;
      text-align: left; }
      #games #new-game form .form-group #btn-new-location {
        color: #B2CD12;
        font-size: 0.8rem;
        margin: 0 0 5px;
        font-weight: 600; }
      #games #new-game form .form-group .hours-fields {
        text-align: left; }
      #games #new-game form .form-group .calendar-btn {
        display: block;
        position: absolute;
        top: 0;
        right: 16px;
        width: 40px;
        height: 38px;
        background-image: url("../img/icons/calendar-btn.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: 20px;
        border-left: 1px solid #ccc;
        z-index: 2; }
      #games #new-game form .form-group.form-last-group {
        border-bottom: 1px solid #ccc;
        padding: 0.5rem 0 1.2rem 0; }
    #games #new-game form #players-wrapper {
      text-align: left; }
      #games #new-game form #players-wrapper .players-count {
        display: inline-block;
        vertical-align: middle;
        padding: .375rem 0;
        max-width: 50px;
        text-align: center;
        margin: 0 5px; }
      #games #new-game form #players-wrapper .arrows {
        display: inline-block;
        vertical-align: middle;
        width: 36px;
        height: 36px;
        border: 1px solid #ccc;
        background-color: #fff;
        border-radius: 5px;
        -webkit-background-size: 45%;
        background-size: 45%;
        background-position: center;
        background-repeat: no-repeat;
        -webkit-transition: all 0.4s ease-in-out 0s;
        -moz-transition: all 0.4s ease-in-out 0s;
        -ms-transition: all 0.4s ease-in-out 0s;
        -o-transition: all 0.4s ease-in-out;
        transition: all 0.4s ease-in-out 0s; }
        #games #new-game form #players-wrapper .arrows.players-down {
          background-image: url("../img/icons/pagination-arrow-prev.png"); }
        #games #new-game form #players-wrapper .arrows.players-up {
          background-image: url("../img/icons/pagination-arrow-next.png"); }
        #games #new-game form #players-wrapper .arrows:hover {
          background-color: #ddd; }
      #games #new-game form #players-wrapper .fgo-players {
        display: inline-block;
        vertical-align: middle;
        margin-left: 10px; }
        #games #new-game form #players-wrapper .fgo-players .player-icon {
          background-size: contain;
          background-position: center;
          background-repeat: no-repeat;
          background-image: url("../img/icons/fgo-icon-count.png");
          width: 19px;
          height: 34px;
          margin: 0 2px;
          display: inline-block; }
  #games #history-game-statistic form {
    margin: 2rem 0 0; }
    #games #history-game-statistic form label {
      font-weight: 300;
      margin: 0; }
      #games #history-game-statistic form label.teams {
        margin-bottom: 0.5rem;
        line-height: 1.4rem;
        font-size: 1.2rem; }
    #games #history-game-statistic form input {
      text-align: center; }
    #games #history-game-statistic form .rating-goal {
      min-width: 180px; }
      @media (max-width: 992px) {
        #games #history-game-statistic form .rating-goal {
          display: none; } }
    #games #history-game-statistic form .mini-rating-goal {
      min-width: 100px; }
      @media (min-width: 993px) {
        #games #history-game-statistic form .mini-rating-goal {
          display: none; } }
    #games #history-game-statistic form form input[type="radio"] + label span {
      margin-right: 0; }
    #games #history-game-statistic form .vs-sign {
      font-weight: 600;
      font-size: 1.5rem;
      margin-bottom: 1rem; }
  #games #history-game-statistic table {
    background: #fff;
    margin: 1rem 0; }
    #games #history-game-statistic table th {
      background: #B2CD12;
      color: #fff;
      text-align: center;
      vertical-align: middle;
      padding: 0.4rem 0.75rem; }
      #games #history-game-statistic table th:first-child {
        text-align: left;
        width: 60%; }
    #games #history-game-statistic table td {
      vertical-align: middle;
      font-weight: 300;
      text-align: center;
      padding: 0.4rem 0.75rem; }
      #games #history-game-statistic table td:first-child {
        text-align: left; }
      #games #history-game-statistic table td .form-group {
        margin-bottom: 0; }
    #games #history-game-statistic table .rate-player-img {
      display: block;
      text-decoration: none;
      color: #414140; }
      #games #history-game-statistic table .rate-player-img .player-img {
        display: inline-block;
        border-radius: 50%;
        box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
        width: 80px;
        height: 80px;
        overflow: hidden;
        vertical-align: middle; }
        #games #history-game-statistic table .rate-player-img .player-img img {
          display: block;
          width: 100%;
          height: auto; }
      #games #history-game-statistic table .rate-player-img .player-info {
        display: inline-block;
        vertical-align: middle;
        font-weight: 300;
        text-align: left;
        margin-left: 0.5rem;
        font-size: 1rem; }
        #games #history-game-statistic table .rate-player-img .player-info .name {
          font-size: 1rem; }
        #games #history-game-statistic table .rate-player-img .player-info .age {
          font-weight: 600;
          font-size: 0.6rem; }

#friends #find-friends .search-options a {
  display: block;
  background: #B2CD12;
  border-radius: 5px;
  font-weight: 300;
  font-size: 1.2rem;
  color: #FFFFFF;
  line-height: 1.2rem;
  padding: 0.3rem 0;
  text-decoration: none !important;
  border: 2px solid #B2CD12;
  text-align: center;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -moz-transition: all 0.4s ease-in-out 0s;
  -ms-transition: all 0.4s ease-in-out 0s;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out 0s; }
  #friends #find-friends .search-options a i {
    display: inline-block;
    margin-right: 2px;
    width: 32px;
    height: 32px;
    background-size: 80% !important;
    vertical-align: middle; }
  #friends #find-friends .search-options a span {
    display: inline-block;
    vertical-align: middle; }
  #friends #find-friends .search-options a.find-fb-friends i {
    background: url("../img/icons/fb-icon.png") no-repeat center center; }
  #friends #find-friends .search-options a.invite-fb-friends i {
    background: url("../img/icons/invite-fb-friends-icon.png") no-repeat center center; }
  #friends #find-friends .search-options a.message-fb-friends i {
    background: url("../img/icons/sent-msg-icon.png") no-repeat center center; }
  #friends #find-friends .search-options a:hover, #friends #find-friends .search-options a.active {
    background: #414140;
    border-color: #414140; }

#groups #create-group form {
  max-width: 800px;
  margin: 0 auto;
  width: 94%;
  text-align: center; }
#groups #group-details .group-avatar {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 50%;
  max-width: 215px;
  margin: 0 auto;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.3); }
#groups #group-details .group-descr {
  text-align: justify;
  font-weight: 300;
  line-height: 1.3rem;
  font-size: 1rem; }
#groups #group-details .group-stats {
  display: block;
  margin: 0.5rem 0 0; }
  #groups #group-details .group-stats div {
    display: inline-block;
    font-size: 0.9rem;
    font-weight: 300;
    padding: 0.2rem 0 0.2rem 1.7rem;
    margin-left: 5px; }
    #groups #group-details .group-stats div span {
      font-weight: 600; }
    #groups #group-details .group-stats div.members {
      background: url("../img/icons/groups.png") no-repeat 0 center;
      background-size: 20px;
      margin-left: 0; }
    #groups #group-details .group-stats div.games {
      background: url("../img/icons/notification-new.png") no-repeat 0 center;
      background-size: 19px;
      padding-left: 1.5rem; }
    #groups #group-details .group-stats div.goals {
      background: url("../img/icons/fgo-icon.png") no-repeat 0 center;
      background-size: 12px;
      padding-left: 1.3rem; }
#groups #group-details .group-invite-link {
  font-size: 0.9rem;
  font-weight: 300;
  margin: 0.5rem 0 0;
  padding: 0.2rem 0 0.2rem 1.5rem;
  background: url("../img/icons/external-link.png") no-repeat 0 center;
  background-size: 18px; }
  #groups #group-details .group-invite-link span {
    color: #B2CD12; }
#groups #group-details .players-list {
  border-top: 1px solid #ccc;
  padding: 1rem 0 0; }
  #groups #group-details .players-list .button-cont {
    border: none;
    padding-top: 0.5rem; }

#locations .location-item {
  position: relative;
  display: block;
  margin-bottom: 2rem;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.3);
  -webkit-transition: all 0.4s ease-in-out 0s;
  -moz-transition: all 0.4s ease-in-out 0s;
  -ms-transition: all 0.4s ease-in-out 0s;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out 0s; }
  #locations .location-item:hover {
    opacity: 0.8; }
  #locations .location-item.no-location {
    background: rgba(255, 255, 255, 0.8);
    display: block;
    text-align: center;
    height: 268px;
    -webkit-transition: all 0s ease-in-out 0s;
    -moz-transition: all 0s ease-in-out 0s;
    -ms-transition: all 0s ease-in-out 0s;
    -o-transition: all 0s ease-in-out;
    transition: all 0s ease-in-out 0s; }
    #locations .location-item.no-location img {
      display: block;
      margin: 0 auto;
      width: 80%;
      max-width: 375px;
      height: auto; }
    #locations .location-item.no-location p {
      font-weight: 300;
      font-size: 1.2rem;
      margin-bottom: 0.8rem; }
    #locations .location-item.no-location a {
      margin-bottom: 0.8rem;
      width: 80%;
      max-width: 200px;
      padding: 0.3rem 2.5rem; }
  #locations .location-item img {
    display: block;
    width: 100%;
    height: auto; }
  #locations .location-item .location-price {
    background: url("../img/icons/price-badge.png") no-repeat center;
    background-size: contain;
    width: 60px;
    height: 60px;
    line-height: 57px;
    position: absolute;
    z-index: 1;
    top: 10px;
    right: 10px;
    color: #fff;
    font-size: 0.9rem;
    font-weight: 600;
    text-align: center; }
  #locations .location-item .location-name {
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    padding: 0.5rem 0;
    color: #fff;
    font-size: 1.1rem;
    font-weight: 300;
    text-align: center; }
#locations #new-locations {
  text-align: center; }
  #locations #new-locations div.map-cont {
    margin-bottom: 1rem; }
#locations #find-locations .map-toggle {
  font-size: 0.8rem;
  font-weight: 600;
  margin-bottom: 0.3rem; }
  #locations #find-locations .map-toggle .label {
    display: block;
    float: right;
    color: #414140;
    padding: 0.45rem 0;
    margin-right: 0.5rem; }
  #locations #find-locations .map-toggle a {
    float: right;
    font-weight: 300;
    background: #D8D8D8;
    padding: 0.3rem 0;
    min-width: 45px;
    text-align: center;
    text-decoration: none;
    color: #414140;
    -webkit-transition: all 0.4s ease-in-out 0s;
    -moz-transition: all 0.4s ease-in-out 0s;
    -ms-transition: all 0.4s ease-in-out 0s;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out 0s; }
    #locations #find-locations .map-toggle a.toggle-off {
      border-radius: 10px 0 0 10px; }
    #locations #find-locations .map-toggle a.toggle-on {
      border-radius: 0 10px 10px 0; }
    #locations #find-locations .map-toggle a:hover, #locations #find-locations .map-toggle a.active {
      background: #B2CD12;
      color: #fff; }
#locations #location-details .locations-info {
  position: relative; }
  #locations #location-details .locations-info .heart {
    position: absolute;
    top: 20px;
    right: 90px;
    height: 51px;
    width: 51px;
    text-decoration: none;
    background: url("../img/icons/heart-empty.png") no-repeat center;
    background-size: 51px;
    -webkit-transition: all 0.4s ease-in-out 0s;
    -moz-transition: all 0.4s ease-in-out 0s;
    -ms-transition: all 0.4s ease-in-out 0s;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out 0s; }
    #locations #location-details .locations-info .heart:hover, #locations #location-details .locations-info .heart.favorite {
      background: url("../img/icons/heart.png") no-repeat center;
      background-size: 51px; }
  #locations #location-details .locations-info .price {
    background: url("../img/icons/price-badge.png") no-repeat center;
    background-size: contain;
    width: 51px;
    height: 51px;
    line-height: 51px;
    position: absolute;
    z-index: 1;
    top: 20px;
    right: 20px;
    color: #fff;
    font-size: 0.9rem;
    font-weight: 600;
    text-align: center; }
  #locations #location-details .locations-info img {
    width: 100%;
    height: auto;
    display: block; }
  #locations #location-details .locations-info .location-descr {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 0.6rem 0;
    background: rgba(0, 0, 0, 0.5);
    text-align: left;
    color: #fff;
    font-weight: 300; }
    #locations #location-details .locations-info .location-descr i {
      background: url("../img/icons/game-location.png") no-repeat;
      -webkit-background-size: contain;
      background-size: contain;
      display: inline-block;
      vertical-align: middle;
      width: 20px;
      height: 20px;
      margin: 0 5px 0 10px; }
    #locations #location-details .locations-info .location-descr .stat {
      display: block;
      float: right; }
      #locations #location-details .locations-info .location-descr .stat .fields {
        background: url("../img/icons/fields.png") no-repeat 0 center;
        background-size: 16px 20px;
        display: inline-block;
        vertical-align: middle;
        padding: 2px 0 2px 25px;
        margin-right: 10px; }
      #locations #location-details .locations-info .location-descr .stat .players {
        background: url("../img/icons/fgo-icon.png") no-repeat 0 center;
        background-size: 11px 20px;
        display: inline-block;
        vertical-align: middle;
        padding: 2px 0 2px 18px;
        margin-right: 10px; }
#locations #location-details .location-map {
  border-top: 1px solid #ccc;
  padding-top: 1rem; }
  #locations #location-details .location-map .section-title {
    margin-bottom: 10px; }

#user {
  margin: 30px 0; }
  #user #user-details .info .user-avatar {
    display: block;
    margin: 0 auto;
    width: 215px;
    height: auto;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
    border-radius: 50%; }
  #user #user-details .info .name {
    color: #B2CD12;
    font-size: 1.5rem;
    text-align: center;
    font-weight: 300;
    margin: 0.8rem 0 0.4rem; }
  #user #user-details .info .position {
    font-size: 0.8rem;
    text-align: center;
    font-weight: 600; }
  #user #user-details .info table {
    margin: 1rem 0 0; }
    #user #user-details .info table.table-striped tbody tr:nth-of-type(odd) {
      background: #ddd; }
    #user #user-details .info table tr {
      background: #eee; }
      #user #user-details .info table tr td {
        width: 50%;
        font-weight: 300;
        font-size: 1rem;
        padding: .5rem .75rem; }
        #user #user-details .info table tr td:first-child {
          text-align: right;
          border-right: 1px solid #bbb; }
  #user #user-details .comments-list {
    border: none; }
  #user #user-settings {
    text-align: center; }
    #user #user-settings #upload-tool {
      margin: 2rem 0; }
      #user #user-settings #upload-tool .col-md-6:first-child {
        border-right: 1px solid #ccc; }
      #user #user-settings #upload-tool .upload-image {
        display: block;
        margin: 0 auto;
        width: 100%;
        max-width: 215px;
        box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
        border-radius: 50%;
        overflow: hidden;
        position: relative; }
        #user #user-settings #upload-tool .upload-image .btn-upload {
          position: absolute;
          z-index: 1;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background: rgba(255, 255, 255, 0.7);
          text-decoration: none;
          color: #414140;
          font-size: 1rem;
          line-height: 1.3rem;
          font-weight: 600; }
          #user #user-settings #upload-tool .upload-image .btn-upload i {
            display: block;
            margin: 70px auto 10px;
            width: 28px;
            height: 28px; }
          #user #user-settings #upload-tool .upload-image .btn-upload span {
            display: block; }
          #user #user-settings #upload-tool .upload-image .btn-upload.btn-upload-image i {
            background: url("../img/icons/upload-image.png") no-repeat center;
            background-size: contain; }
          #user #user-settings #upload-tool .upload-image .btn-upload.btn-fb-image i {
            background: url("../img/icons/fb-image.png") no-repeat center;
            background-size: contain; }
        #user #user-settings #upload-tool .upload-image .user-avatar {
          width: 100%;
          height: auto;
          display: block; }

#footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 2; }
  #footer #banner {
    max-width: 728px;
    max-height: 90px;
    -webkit-border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;
    border-radius: 5px 5px 0 0;
    margin: 0 auto;
    box-shadow: 0px -1px 3px 0px rgba(0, 0, 0, 0.25); }
    #footer #banner a {
      display: block; }
      #footer #banner a img {
        display: block;
        width: 100%;
        height: auto; }

#who-are-we {
  margin: 30px auto;
  font-weight: 300; }
  #who-are-we .content-view {
    padding: 15px 2.5rem; }
    #who-are-we .content-view .row {
      margin-bottom: 2rem; }
  #who-are-we p {
    text-align: justify;
    font-size: 1rem;
    line-height: 1.4rem; }
  #who-are-we img {
    display: block;
    margin: 0 auto;
    max-height: 180px;
    height: 100%;
    width: auto; }

@media (min-width: 1400px) {
  .container {
    max-width: 1300px; } }
@media (min-width: 1200px) and (max-width: 1400px) {
  #locations #my-locations .location-item.no-location img {
    width: 58%; }

  #locations #my-locations .location-item.no-location {
    height: 234px; } }
@media (min-width: 992px) and (max-width: 1200px) {
  #navigation .navbar-nav li {
    margin-left: 1rem; }
    #navigation .navbar-nav li a {
      font-size: 0.7rem; }
      #navigation .navbar-nav li a span.icon {
        width: 20px; }

  #dashboard .media .media-left img {
    width: 135px;
    height: 135px; }
  #dashboard .media .media-body .media-heading {
    font-size: 3rem; }
  #dashboard .media .media-body .media-question {
    font-size: 3rem; }
  #dashboard #user-stats .stat .icon {
    width: 60px;
    height: 60px; }
    #dashboard #user-stats .stat .icon i {
      width: 30px;
      height: 30px;
      margin: 15px; }
  #dashboard #user-stats .stat .info {
    font-size: 1.3rem;
    margin-left: 0.3rem; }
  #dashboard .dashboard-block .dashboard-block-wrapper .invites .info {
    width: 70%; }
  #dashboard .dashboard-block .dashboard-block-wrapper .no-invites .find-new-friends {
    margin-right: 1.1rem; }
    #dashboard .dashboard-block .dashboard-block-wrapper .no-invites .find-new-friends span {
      font-size: 1rem; }
  #dashboard .dashboard-block .dashboard-block-wrapper .no-invites .fgo-icon {
    height: 80px; }

  #games #upcoming-games .game-item .game-info .time {
    font-size: 0.6rem; }
  #games #upcoming-games .game-item .game-info .teams {
    font-size: 1rem; }
  #games #upcoming-games .game-item .game-availability .circles {
    width: 65px;
    height: 65px;
    padding: 12px 0; }
    #games #upcoming-games .game-item .game-availability .circles .number {
      font-size: 1.6rem;
      margin-bottom: 0; }
    #games #upcoming-games .game-item .game-availability .circles .text {
      font-size: 0.7rem; }
  #games form input#hour, #games form input#minutes {
    width: 42%; }

  .players-list .players-cont .player {
    width: 280px; }
    .players-list .players-cont .player .player-info {
      max-width: 150px; }

  #locations #my-locations .location-item.no-location img {
    width: 52%; }

  #locations #my-locations .location-item.no-location {
    height: 191px; } }
@media (min-width: 544px) and (max-width: 992px) {
  .col-md-1, .col-md-10, .col-md-11,
  .col-md-12, .col-md-2, .col-md-3,
  .col-md-4, .col-md-5, .col-md-6,
  .col-md-7, .col-md-8, .col-md-9 {
    float: none;
    width: auto; }

  #dashboard .media {
    padding: 50px 0; }
    #dashboard .media .media-left img {
      width: 115px;
      height: 115px; }
    #dashboard .media .media-body .media-heading {
      font-size: 2rem; }
    #dashboard .media .media-body .media-question {
      font-size: 2rem; }
  #dashboard .dashboard-block {
    margin: 2rem 0; }

  form .hour-separator {
    width: 5%; }

  .players-list .players-cont .player {
    width: 315px; }
    .players-list .players-cont .player .player-info {
      max-width: 180px; } }
@media (max-width: 544px) {
  #dashboard .media {
    padding: 50px 0; }
    #dashboard .media .media-left img {
      width: 80px;
      height: 85px; }
    #dashboard .media .media-body .media-heading {
      font-size: 1rem; }
    #dashboard .media .media-body .media-question {
      font-size: 1rem; }
  #dashboard #user-stats .stat .icon {
    width: 40px;
    height: 40px; }
    #dashboard #user-stats .stat .icon i {
      width: 20px;
      height: 20px;
      margin: 10px; }
  #dashboard #user-stats .stat .info {
    font-size: 1.1rem;
    margin-left: 0.3rem;
    max-width: 80%; }
  #dashboard .dashboard-block {
    margin: 2rem 0; }
    #dashboard .dashboard-block .dashboard-block-wrapper .invites .info {
      width: 70%; }
    #dashboard .dashboard-block .dashboard-block-wrapper .no-invites .find-new-friends {
      margin-right: 1.1rem; }
      #dashboard .dashboard-block .dashboard-block-wrapper .no-invites .find-new-friends span {
        font-size: 0.8rem; }
    #dashboard .dashboard-block .dashboard-block-wrapper .no-invites .fgo-icon {
      height: 80px; }

  form .hour-separator {
    width: 4%; }

  #games #game-details .game-info .date-location,
  #games #history-game-details .game-info .date-location {
    position: relative; }
    #games #game-details .game-info .date-location .date .day,
    #games #history-game-details .game-info .date-location .date .day {
      font-size: 1.5rem; }
    #games #game-details .game-info .date-location .date .month,
    #games #history-game-details .game-info .date-location .date .month {
      font-size: 0.9rem; }
    #games #game-details .game-info .date-location .location .name,
    #games #history-game-details .game-info .date-location .location .name {
      font-size: 1rem; }
    #games #game-details .game-info .date-location .location .address,
    #games #history-game-details .game-info .date-location .location .address {
      font-size: 0.8rem; }

  #games #game-details .game-info .game-availability,
  #games #history-game-details .game-info .game-availability {
    text-align: center;
    position: relative;
    right: 0;
    bottom: 0;
    margin: 1rem 0; }
    #games #game-details .game-info .game-availability .circles,
    #games #history-game-details .game-info .game-availability .circles {
      width: 65px;
      height: 65px; }
      #games #game-details .game-info .game-availability .circles .number,
      #games #history-game-details .game-info .game-availability .circles .number {
        font-size: 1.5rem;
        margin-bottom: 1px; }
      #games #game-details .game-info .game-availability .circles .text,
      #games #history-game-details .game-info .game-availability .circles .text {
        font-size: 0.7rem; }

  .players-list .players-cont .player {
    width: 100%; } }
@media (min-width: 0px) and (max-width: 992px) {
  #navigation .navbar-brand {
    float: none;
    display: block;
    border-bottom: 1px solid #dedede;
    margin: 0; }
    #navigation .navbar-brand img {
      height: 30px;
      display: block;
      margin: 0 auto; }
  #navigation #mobile-nav-btn {
    display: block; }
  #navigation #close-nav-btn.close-show {
    display: block; }
  #navigation #main-menu {
    display: none;
    position: fixed;
    background: white;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 3;
    padding: 4rem 2rem 1rem;
    overflow: auto;
    overflow-x: hidden; }
    #navigation #main-menu.menu-show {
      display: block; }
    #navigation #main-menu li {
      margin: 0;
      float: none; }
      #navigation #main-menu li a {
        display: block;
        text-align: center; }
        #navigation #main-menu li a span.text {
          display: none; }
      #navigation #main-menu li.dropdown .dropdown-nav {
        position: relative;
        top: auto;
        opacity: 1;
        visibility: visible;
        width: 100%;
        left: 0;
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
        transform: translateX(0);
        box-shadow: none; }
        #navigation #main-menu li.dropdown .dropdown-nav li {
          display: block;
          margin: 0;
          border-bottom: 1px solid #ddd; }
  #navigation #nav-notifications li.dropdown #notifications-list {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    padding-top: 60px;
    overflow: auto;
    max-height: none !important;
    height: 100%;
    border: none;
    border-radius: 0;
    background: #fff; }
    #navigation #nav-notifications li.dropdown #notifications-list.notification-show {
      top: 0 !important; }
    #navigation #nav-notifications li.dropdown #notifications-list ul li a {
      font-size: 0.9rem;
      padding: 0.7rem 0.2rem; }
      #navigation #nav-notifications li.dropdown #notifications-list ul li a span {
        max-width: 80%; }

  .page-sub-nav {
    border-radius: 0;
    display: block; }
    .page-sub-nav .btn-secondary {
      display: block;
      float: none;
      border-radius: 0; }

  #games #history {
    width: 100%; }

  .table-fgo thead th i {
    margin: 0 5px; }
  .table-fgo thead th span {
    display: none; }
  .table-fgo tbody tr td {
    font-size: 0.8rem; }
    .table-fgo tbody tr td span {
      display: block; }
      .table-fgo tbody tr td span.score {
        margin: 5px 0; }

  form .hours-fields {
    margin-bottom: 1.1rem; }
  form .hour-separator {
    text-align: center;
    display: inline-block; }
  form input#hour,
  form input#minutes {
    width: 46%; }
  form #team-1 {
    margin-bottom: 1.1rem; }

  #games #new-game form #players-wrapper .fgo-players {
    display: block;
    margin-left: 0px;
    margin-top: 20px; }
    #games #new-game form #players-wrapper .fgo-players .player-icon {
      width: 16px;
      height: 24px; }

  .comments-list .comments-cont .comment .line-cont {
    display: none; }

  .comments-list .comments-cont .comment img {
    margin-bottom: 1.5rem; }

  .comments-list .comments-cont .comment .name {
    text-align: center; }

  #user #user-settings #upload-tool .col-md-6:first-child {
    border: none;
    margin-bottom: 2rem; }

  body.landing-page #content .row .col-md-6 {
    display: none; }

  body.landing-page #content .row#register {
    margin-top: 5rem; }

  body.landing-page #content .row .col-md-6.text-left,
  body.landing-page #content .row .col-md-6.text-right {
    display: block;
    text-align: center;
    height: auto;
    margin: 2.5rem; }
    body.landing-page #content .row .col-md-6.text-left h4,
    body.landing-page #content .row .col-md-6.text-right h4 {
      text-align: center;
      margin-top: 2rem;
      font-size: 1.8rem;
      padding: 1.8rem 0 0;
      max-width: none;
      width: 90%; }
      body.landing-page #content .row .col-md-6.text-left h4 .step-number,
      body.landing-page #content .row .col-md-6.text-right h4 .step-number {
        top: -75px;
        left: 50%;
        right: auto;
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
        transform: translateX(-50%); }
    body.landing-page #content .row .col-md-6.text-left p,
    body.landing-page #content .row .col-md-6.text-right p {
      text-align: center;
      max-width: none;
      width: 90%; }

  body.landing-page #header .fgo-slogan {
    font-size: 2.5rem;
    line-height: 2.9rem; }

  body.landing-page #footer .footer-items .footer-cont .col-md-4 {
    text-align: center;
    padding: 0.5rem 0; }

  #content {
    padding-bottom: 20px; }

  #footer {
    position: relative; } }
.has-error .control-label {
  color: red; }

.ng-hide.ng-hide-animate {
  display: none !important; }

md-datepicker {
  background: inherit; }
