<loader class="row" ng-show="isCurrentFriendsLoading"></loader>
<div id="friends" ng-hide="isCurrentFriendsLoading">
    <div id="view-friends-empty" class="content-view small-view" ng-hide="currentUserFriendsCount > 0">
        <div class="row">
            <div class="col-md-12">
                <div class="section-title">
                    <div class="title-wrapper">
                        <h2> {{ 'YOUR FRIENDS' | translate }}</h2>
                        <div class="title-underline"></div>
                    </div>
                </div>
                <div class="players-list">
                    <div class="players-cont empty"></div>
                </div>
                <div class="call-to-action-msg">
                    <p>{{ 'FIND SOME FRIENDS' | translate}}</p>
                    <a ui-sref="base.friends.add" class="btn-style">{{ 'FIND NEW FRIENDS' | translate}}</a>
                </div>
            </div>
        </div>
    </div>

    <div id="view-friends" class="content-view small-view" ng-show="currentUserFriendsCount > 0">
        <div class="row">
            <div class="col-md-12">
                <div class="section-title">
                    <div class="title-wrapper">
                        <h2>{{ 'YOUR FRIENDS' | translate }}</h2>
                        <div class="title-underline"></div>
                    </div>
                </div>

                <form>
                    <fieldset class="form-group search-field">
                        <input id="search-friend" type="text" class="form-control" id="field-price" placeholder="{{ 'SEARCH FRIENDS PLACEHOLDER' | translate }}" ng-model="search" ng-keypress="searchKeyPress($event)">
                        <input type="button" value="" class="search-icon" ng-click="searchFriends()" ng-disabled="((search || '').trim().length <= 2)">
                    </fieldset>


                    <loader class="row" ng-show="isCurrentFriendsLoading"></loader>
                    <div class="players-list">
                        <div class="players-cont">
                            <span ng-repeat="player in friends | limitTo: playersLimit">
                                <a href="#" class="player" >
                                    <friend-player-item player="player" click-action="removeFriend" remove-mode="true" click-name="'REMOVE'"/>
                                </a>
                            </span>
                        </div>
                    </div>

                    <div class="button-cont" ng-show="(playersLimit < currentUserFriendsCount)">
                        <a href="#" class="btn-style" ng-click="playersLimit = playersLimit + pageSize">{{ 'LOAD MORE' | translate }}</a>
                    </div>
                </form>
            </div>

        </div>

    </div>
</div>


