<div class="players-list">
    <div class="players-cont">
        <span ng-repeat="player in results | limitTo: playersLimit">
            <div class="player">
                <friend-player-item player="player" click-action="searchType == 2 ? select : addFriend" click-name="searchType == '2' ? 'SELECT' : 'ADD'" clicked="searchType == '2' ? player.selected : player.alreadyFriend"/>
            </div>
        </span>
    </div>
</div>
<div class="button-cont" ng-show="(playersLimit < results.length)">
    <a href="#" class="btn-style" ng-click="playersLimit = playersLimit + pageSize">{{ 'LOAD MORE' | translate }}</a>
</div>
<div ng-show="selectedFriends.length > 0" class="search-options" style="padding-top: 20px">
    <fieldset class="form-group">
        <input class="form-control" id="inviteText" name="inviteText" ng-model="inviteText"
               placeholder="{{ 'INVITE POST MESSAGE' | translate }}">
    </fieldset>
    <a href="#" class="message-fb-friends" ng-click="inviteFacebookFriends()">
        <i></i>
        <span>{{ 'INVITE SELECTED' | translate }}</span>
    </a>
</div>
