<loader class="row" ng-show="isSearchLoading"></loader>
<div id="friends" ng-hide="isSearchLoading">
    <div id="find-friends" class="content-view small-view">
        <div class="row">
            <div class="col-md-12">
                <div class="section-title">
                    <div class="title-wrapper">
                        <h2>{{ 'FIND MORE FRIENDS' | translate }}</h2>
                        <div class="title-underline"></div>
                    </div>
                </div>
                <form>
                    <fieldset class="form-group search-field">
                        <input id="search-friend" type="text" class="form-control" id="field-price" placeholder="{{ (searchType == 0 ? 'SEARCH FRIENDS PLACEHOLDER' : 'SEARCH NAME PLACEHOLDER') | translate }}" ng-model="search" ng-keypress="searchKeyPress($event)">
                        <input type="button" value="" class="search-icon" ng-click="searchFriends()" ng-disabled="((search || '').trim().length <= 2)">
                    </fieldset>
                    <div class="row search-options">
                        <div class="col-md-6">
                            <a href="#" class="find-fb-friends" ng-class="{'active': searchType == 1}" ng-click="searchFBFriends()" ng-show="currentUser.hasFacebook">
                                <i></i>
                                <span>{{ 'FIND FACEBOOK FRIENDS' | translate }}</span>
                            </a>
                        </div>
                        <!--Facebook does not allow to use this function for inviting friends-->
                        <div class="col-md-6" ng-if="false">
                            <a href="#" class="invite-fb-friends" ng-class="{'active': searchType == 2}" ng-click="searchAllFBFriends()" ng-show="currentUser.hasFacebook">
                                <i></i>
                                <span>{{ 'INVITE FACEBOOK FRIENDS' | translate }}</span>
                            </a>
                        </div>
                        <div class="col-md-6" ng-hide="isMobile">
                            <a href="#" class="message-fb-friends" ng-click="sendFacebookMessage()" ng-show="currentUser.hasFacebook">
                                <i></i>
                                <span>{{ 'SEND GROUP MESSAGE' | translate }}</span>
                            </a>
                        </div>
                    </div>
                    <friend-search-result ng-show="!isSearchLoading" friends-list="results" add-friend-action="addFriend" remove-friend-action="removeFriend"
                            search="search" search-type="searchType"></friend-search-result>
                </form>
            </div>
        </div>
    </div>
</div>