<loader class="row" ng-show="isMainLoading"></loader>
<div ng-show="!isMainLoading">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">{{ 'INVITE YOUR FRIENDS' | translate}}</h1>
            {{ reissueTokenUrl }}
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    <div class="panel panel-default">
        <div class="panel-heading">
            {{ 'INVITE YOUR FRIENDS' | translate}}
        </div>
        <!-- /.panel-heading -->
        <div class="panel-body">
            <!-- Tab panes -->
            <button ng-click="searchFBFriends()" class="btn btn-facebook" ng-show="currentUser.hasFacebook">Facebook</button>
            <button ng-click="sendFacebookMessage()" class="btn btn-facebook" ng-hide="isMobile">{{ 'SEND MESSAGE IN FACEBOOK' | translate }}</button>
            <button ng-click="searchGoogleFriends()" class="btn btn-google" ng-show="false && currentUser.hasGoogle">Google</button>

            <loader class="row" ng-show="isSearchLoading"></loader>
            <friend-search-result ng-show="!isSearchLoading" friends-list="results" google-friends-mode="true" selection-changed="selectionChanged"></friend-search-result>

            <div ng-show="(listMode== 'facebook' || listMode == 'google') && hasSelected()">
                <fieldset class="form-group">
                    <label for="inviteText">{{ 'INVITE POST MESSAGE' | translate }}</label>
                    <input class="form-control" id="inviteText" name="inviteText" ng-model="inviteText"
                           placeholder="{{ 'INVITE POST MESSAGE' | translate }}">
                </fieldset>
                <button ng-show="listMode == 'facebook'" ng-click="inviteFacebookFriends()" class="btn btn-facebook" >{{ 'INVITE SELECTED' | translate }}</button>
                <button ng-show="listMode == 'google'" id="sharePost" class="btn btn-google">{{ 'INVITE SELECTED' | translate }}</button>
            </div>
        </div>
        <!-- /.panel-body -->
    </div>
</div>