<div ng-show="!isSearchLoading">
    <div class="row" ng-show="results">
        <div class="col-lg-12">
            <h3 ng-show="results.length > 0">{{results.length}} {{ (results.length == 1 ? 'RESULT FOUND' : 'RESULTS FOUND') | translate }}</h3>
            <h3 ng-show="results.length === 0">{{ 'NO RESULTS FOUND' | translate}}</h3>
        </div>
    </div>
    <div class="row" ng-show="results && results.length > 0">
        <div class="col-lg-12">
            <div class="list-group">
                <div dir-paginate="user in results | itemsPerPage: pageSize">
                    <a ng-hide="googleFriendsMode" href="#" class="list-group-item" style="height: 120px">
                        <button type="button" class="btn btn-primary pull-right"
                                ng-click="addFriend(user)"
                                ng-show="!user.alreadyFriend && addFriend"
                                >{{ "ADD FRIEND" | translate }}</button>
                        <button type="button" class="btn btn-danger pull-right"
                                ng-click="removeFriend(user)"
                                ng-show="user.alreadyFriend && removeFriend"
                                >{{ "REMOVE FRIEND" | translate }}</button>
                        <span class="pull-right" ng-show="user.alreadyFriend">{{ 'ALREADY A FRIEND' | translate}}&nbsp&nbsp&nbsp</span>
                        <span class="pull-right" ng-show="user.alreadyInvited">{{ 'INVITATION SENT' | translate }}</span>
                        <avatar type="small" class="pull-left" style="margin: 0 10px 5px 10px;" user="user" disabled="{{googleFriendsMode}}"></avatar>

                        <h4 class="list-group-item-heading">{{user.name}}
                        </h4>

                        <p class="list-group-item-text">more user info here...</p>
                    </a>

                    <div ng-show="googleFriendsMode" class="col-sm-2" style="min-width: 300px">
                        <div class="panel panel-success">
                            <div class="panel-heading">
                                <a href="{{user.googleUrl}}">{{user.name}}</a>
                            </div>
                            <div class="panel-body">
                                <input type="checkbox" ng-click="changeSelected(user)"/>
                                <img class="avatar" ng-src="{{user.avatar_url}}">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-12" ng-show="results.length > pageSize">
            <dir-pagination-controls></dir-pagination-controls>

            <div class="btn-group pull-right">
                <button ng-click="pageSize=10" ng-class="{ 'active' : pageSize == 10}" class="btn btn-default">
                    <span>10</span>
                </button>
                <button ng-click="pageSize=20" ng-class="{ 'active' : pageSize == 20}" class="btn btn-default">
                    <span>20</span>
                </button>
                <button ng-click="pageSize=50" ng-class="{ 'active' : pageSize == 50}" class="btn btn-default">
                    <span>50</span>
                </button>
            </div>
        </div>
    </div>
</div>