<loader class="row" ng-show="isMainLoading"></loader>
<div ng-show="!isMainLoading">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">{{ 'FIND YOUR FRIENDS' | translate}}</h1>
            {{ reissueTokenUrl }}
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    <div class="panel panel-default">
        <div class="panel-heading">
            {{ 'SEARCH FRIENDS' | translate}}
        </div>
        <!-- /.panel-heading -->
        <div class="panel-body">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs">
                <li class="active"><a href="#by-email" data-toggle="tab" aria-expanded="true">{{ 'BY EMAIL' | translate}}</a>
                </li>
                <li><a href="#by-name" data-toggle="tab" aria-expanded="false">{{ 'BY NAME' | translate}}</a>
                </li>
                <li><a href="#facebook-friends" data-toggle="tab" aria-expanded="false" ng-click="searchFBFriends()" ng-show="currentUser.hasFacebook">{{ 'FACEBOOK FRIENDS' | translate}}</a>
                </li>
                <li><a href="#google-friends" data-toggle="tab" aria-expanded="false" ng-click="searchGoogleFriends()" ng-show="currentUser.hasGoogle">{{ 'GOOGLE FRIENDS' | translate}}</a>
                </li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
                <div class="tab-pane fade active in" id="by-email">
                    <form name="searchByEMail" id="searchByEMail" ng-submit="searchEMail(searchByEMail.$valid)" novalidate>
                        <p></p>
                        <div class="form-group" ng-class="{'has-error' : (searchByEMail.email.$invalid && !searchByEMail.email.$pristine) || (searchByEMail.$submitted && searchByEMail.email.$pristine)}">
                            <fieldset class="form-group">
                                <label for="email" class="capitalLetter">{{ 'EMAIL' | translate }}</label>
                                <input type="email"
                                       class="form-control"
                                       placeholder="{{ 'EMAIL' | translate}}"
                                       autofocus
                                       name="email" id="email"
                                       ng-required="true"
                                       ng-model="data.email"
                                        />

                                <label
                                        class="control-label"
                                        ng-show='(searchByEMail.email.$error.required && !searchByEMail.email.$pristine) || (searchByEMail.$submitted && searchByEMail.email.$pristine)'>
                                    {{ 'REQUIRED FIELD' | translate }}
                                </label>

                                <label
                                        class="control-label"
                                        ng-show='(searchByEMail.email.$error.email && !searchByEMail.email.$pristine)'>
                                    {{ 'INVALID EMAIL' | translate }}
                                </label>
                            </fieldset>
                        </div>
                        <button type="submit" class="btn btn-primary">{{ 'SEARCH' | translate }}</button>
                    </form>

                    <loader class="row" ng-show="isSearchLoading"></loader>

                    <friend-search-result ng-show="!isSearchLoading" friends-list="results['local-email']" add-friend-action="addFriend" remove-friend-action="removeFriend"></friend-search-result>
                </div>
                <div class="tab-pane fade" id="by-name">
                    <form name="searchByName" id="searchByName" ng-submit="searchName(searchByName.$valid)" novalidate>
                        <p></p>
                        <div class="form-group" ng-class="{'has-error' : (searchByName.name.$invalid && !searchByName.name.$pristine) || (searchByName.$submitted && searchByName.name.$pristine)}">
                            <label for="name">{{ 'NAME' | translate }}</label>
                            <input type="text" class="form-control" placeholder="{{ 'NAME' | translate}}"
                                   ng-model="data.name"
                                   ng-required="true"
                                   name="name" id="name"/>

                            <label
                                    class="control-label"
                                    ng-show='(searchByName.name.$invalid && !searchByName.name.$pristine) || (searchByName.$submitted && searchByName.name.$pristine)'>
                                {{ 'REQUIRED FIELD' | translate }}
                            </label>
                        </div>
                        <button type="submit" class="btn btn-primary">{{ 'SEARCH' | translate }}</button>
                    </form>

                    <loader class="row" ng-show="isSearchLoading"></loader>
                    <friend-search-result ng-show="!isSearchLoading" friends-list="results['local-name']" add-friend-action="addFriend" remove-friend-action="removeFriend"></friend-search-result>
                </div>
                <div class="tab-pane fade" id="facebook-friends">
                    <br/>
                    <a ui-sref="base.friends.invite" class="btn btn-facebook">{{ 'INVITE FRIENDS' | translate}}</a>
                    <loader class="row" ng-show="isSearchLoading"></loader>
                    <friend-search-result ng-show="!isSearchLoading" friends-list="results['facebook']" add-friend-action="addFriend" remove-friend-action="removeFriend"></friend-search-result>
                </div>
                <div class="tab-pane fade" id="google-friends">
                    <a ui-sref="base.friends.invite" class="btn btn-google" ng-show="false">{{ 'INVITE FRIENDS' | translate}}</a>
                    <loader class="row" ng-show="isSearchLoading"></loader>
                    <friend-search-result ng-show="!isSearchLoading" friends-list="results['google']" add-friend-action="addFriend" remove-friend-action="removeFriend"></friend-search-result>
                </div>
            </div>
        </div>
        <!-- /.panel-body -->
    </div>
</div>