<div class="row">
    <div class="col-lg-12">
        <h3>{{ 'INVITATIONS' | translate }}</h3>
    </div>
</div>
<div class="row">
    <div class="col-lg-6">
        <div class="panel panel-success">
            <div class="panel-heading">
                <i class="fa fa-bell fa-fw"></i>
                {{ 'GAME INVITATIONS' | translate }}
            </div>
            <div class="panel-body">
                <pending-invites pending-invites-type="game"></pending-invites>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="panel panel-info">
            <div class="panel-heading">
                <i class="fa fa-bell fa-fw"></i>
                {{ 'GROUP INVITATIONS' | translate }}
            </div>
            <div class="panel-body">
                <pending-invites pending-invites-type="group"></pending-invites>
            </div>
        </div>
    </div>
</div>