<div id="dashboard">
    <div class="media">
        <a class="media-left" href="#">
            <user-avatar type="normal" user="currentUser"></user-avatar>
            <!--<img class="media-object" src="assets/img/marcos-reus.png" alt="User Image">-->
        </a>
        <div class="media-body">
            <h4 class="media-heading">{{ 'HELLO' | translate }}, {{ currentUser.name | unescape }}!</h4>
            <h6 class="media-question">{{ 'HOW ARE YOU TODAY?' | translate }}</h6>
        </div>
    </div>

    <div id="user-stats" class="row">
        <div class="col-md-8">

            <div class="row">
                <div class="col-md-12">
                    <div class="stat next-game">
                                    <span class="icon">
                                        <i></i>
                                    </span>

                        <span class="info">{{ "NEXT GAME" | translate}}:
                            <strong ng-if="upcomingGame" class="small">
                                <a ui-sref="base.gamedetails.game({ gameId: upcomingGame.urlName || upcomingGame._id })">
                                    {{upcomingGame.date_time | date:('dd.MM.yyyy HH:mm')}}
                                </a>
                            </strong>
                            <strong ng-if="!upcomingGame" class="small">{{ "NO UPCOMING GAMES" | translate }}</strong>
                        </span>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="stat total-games">
                                    <span class="icon">
                                        <i></i>
                                    </span>
                        <span class="info">{{ currentUser.games }}  {{ (currentUser.games == 1 ? "GAME PLAYED" : "GAMES PLAYED") | translate}}</span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="stat total-rating">
                                    <span class="icon">
                                        <i></i>
                                    </span>
                        <span class="info">{{ currentUser.rating || ('RATING NOT AVAILABLE' | translate) }} {{ "RATING" | translate}}</span>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="stat total-goals">
                                    <span class="icon">
                                        <i></i>
                                    </span>
                        <span class="info">{{ currentUser.goals }} {{ (currentUser.goals == 1 ? "SCORED GOAL" : "SCORED GOALS") | translate}}</span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="stat total-best">
                                    <span class="icon">
                                        <i></i>
                                    </span>
                        <span class="info">{{ currentUser.manOfTheMatch }} {{ "MAN OF THE MATCH" | translate}}</span>
                    </div>
                </div>
            </div>

        </div>


        <div class="col-md-4">
            <pending-invites></pending-invites>
        </div>

    </div>
</div>