@import "compass/reset";
@import "compass/css3/opacity";
@import "compass/css3/box-shadow";
@import "compass/css3/transform";
@import "compass/css3/transition";
@import "compass/utilities/sprites";

// Sprite Setup

$icons-spacing: 50px;
@import "../img/icons/*.png";
@include all-icons-sprites;
$icons: sprite-map("../img/icons/*.png", $spacing: 10px);

// Sprite Setup End
// Variables

$OpenSansPath: "./fonts/OpenSans" !default;
$OpenSansVersion: "1.1.0" !default;

$font-stack: 'Open Sans', Arial, sans-serif;

$green-color: #B2CD12;
$text-color: #414140;
$max-width: 1440px;

// Variables End
// Mixin

@mixin transition($transition-property, $transition-time, $method, $delay) {
  -webkit-transition: $transition-property $transition-time $method $delay;
  -moz-transition: $transition-property $transition-time $method $delay;
  -ms-transition: $transition-property $transition-time $method $delay;
  -o-transition: $transition-property $transition-time $method;
  transition: $transition-property $transition-time $method $delay;
}

@mixin fontdef($OpenSansPath, $OpenSansVersion, $FontType:"Regular") {
  src:  url('#{$OpenSansPath}/#{$FontType}/OpenSans-#{$FontType}.eot?v=#{$OpenSansVersion}');
  src:  url('#{$OpenSansPath}/#{$FontType}/OpenSans-#{$FontType}.eot?#iefix&v=#{$OpenSansVersion}') format('embedded-opentype'),
  url('#{$OpenSansPath}/#{$FontType}/OpenSans-#{$FontType}.woff2?v=#{$OpenSansVersion}') format('woff2'),
  url('#{$OpenSansPath}/#{$FontType}/OpenSans-#{$FontType}.woff?v=#{$OpenSansVersion}') format('woff'),
  url('#{$OpenSansPath}/#{$FontType}/OpenSans-#{$FontType}.ttf?v=#{$OpenSansVersion}') format('truetype'),
  url('#{$OpenSansPath}/#{$FontType}/OpenSans-#{$FontType}.svg?v=#{$OpenSansVersion}##{$FontType}') format('svg');
}

// Mixin End
// Font Embed End

@font-face {
  font-family: 'Open Sans';
  @include fontdef($OpenSansPath, $OpenSansVersion, "Light");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  @include fontdef($OpenSansPath, $OpenSansVersion, "Regular");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  @include fontdef($OpenSansPath, $OpenSansVersion, "Semibold");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  @include fontdef($OpenSansPath, $OpenSansVersion, "Bold");
  font-weight: 800;
  font-style: normal;
}

// Font Embed End
// Main Settings
html{
  height: 100%;
  overflow-x: none;
}
body{
  font-family: "Open Sans", "Arial", "sans-serif";
  font-size: 1rem;
  color: $text-color;
  background: url("../img/backgrounds/home-bg.jpg") center center no-repeat #fff;
  background-attachment: fixed;
  -webkit-background-size: cover;
  background-size: cover;
  height: 100%;
  overflow-x: none;
}

// Main Settings End
// Navigation

#navigation{
  background: rgba(255,255,255,0.9);
  border-bottom: 1px solid #ccc;
  text-transform: uppercase;

  .navbar{
    padding: 0 1rem;
  }

  #mobile-nav-btn{
    display: none;
    text-decoration: none;
    color: $text-color;
    font-size: 1.3rem;
    font-weight: 600;
    padding: 1.15rem 0;

    i{
      background: url("../img/icons/mobile-nav.png") no-repeat center center;
      display: inline-block;
      width: 15px;
      height: 25px;
      -webkit-background-size: contain;
      background-size: contain;
      vertical-align: middle;
    }

    span{
      display: inline-block;
      vertical-align: middle;
    }
  }

  #close-nav-btn{
    position: fixed;
    z-index: 4;
    display: none;
    text-align: center;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem 0;
    background: #fff;

    i{
      background: url("../img/icons/close.png") no-repeat center center;
      display: inline-block;
      width: 25px;
      height: 25px;
      -webkit-background-size: contain;
      background-size: contain;
      vertical-align: middle;
    }
  }

  .navbar-brand{
    margin-right: 3rem;
    padding-top: 0.64rem;
    padding-bottom: 0.64rem;

    img{
      height: 40px;
      width: auto;
      display: block;
    }
  }

  .navbar-nav{

    li{
      margin-left: 2rem;
      position: relative;

      &:first-child{
        margin-left: 0rem;
      }

      &:hover,
      &.active{

        a.nav-link{
          color: $green-color;

          span {
            &.text {
              position: relative;
              .line {
                width: 50%;
              }
            }
          }
        }
      }

      a{
        padding-top: 1.1rem;
        padding-bottom: 1.1rem;
        color: $text-color;
        font-size: 0.9rem;
        font-weight: 600;

        @include transition(color, 0.3s, ease-in-out, 0s);

        span{
          display: inline-block;
          vertical-align: middle;

          &.icon{
            margin-right: 0.2rem;
            height: 26px;
            width: 24px;
            background-position: center;
            background-repeat: no-repeat;
            -webkit-background-size: contain;
            background-size: contain;

            &.icon-dashboard{
              background-image: url("../img/icons/dashboard.png");
            }

            &.icon-games{
              background-image: url("../img/icons/games.png");
            }

            &.icon-friends{
              background-image: url("../img/icons/friends.png");
            }

            &.icon-groups{
              background-image: url("../img/icons/groups.png");
            }

            &.icon-locations{
              background-image: url("../img/icons/locations.png");
            }

            &.icon-administration{
              background-image: url("../img/icons/administration.png");
            }

            &.icon-who-are-we{
              background-image: url("../img/icons/who-are-we.png");
            }

            &.icon-notifications{
              background-image: url("../img/icons/notifications.png");
              position: relative;

              .notifications-count{
                display: inline-block;
                width: 18px;
                height: 18px;
                -webkit-border-radius: 50%;
                -moz-border-radius: 50%;
                border-radius: 50%;

                background: #F90000;
                color: #fff;
                font-size: 0.5rem;
                line-height: 1.08rem;
                font-weight: 600;

                text-align: center;
                position: absolute;
                bottom: -5px;
                left: -5px;
              }
            }

            &.icon-settings{
              background-image: url("../img/icons/settings.png");
            }
          }

          &.text{
            position: relative;

            .line{
              width: 0%;
              height: 2px;
              background: $green-color;
              display: block;
              position: absolute;
              bottom: -5px;
              left: 1px;

              @include transition(all, 0.3s, ease-in-out, 0s);
            }
          }
        }
      }

      &.dropdown{

        &:hover{
          .dropdown-nav{
            visibility: visible;
            opacity: 1;
            top: 62px;
          }
        }

        .dropdown-nav{
          display: block;
          visibility: hidden;
          position: absolute;
          background: rgba(255, 255, 255, 0.9);
          -webkit-border-radius: 0 0 5px 5px;
          -moz-border-radius: 0 0 5px 5px;
          border-radius: 0 0 5px 5px;
          padding: 0 0.4rem;
          top: 52px;
          opacity: 0;
          box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.25);
          @include transition(all, 0.4s, ease-in-out, 0s);
          z-index: 3;

          li{
            display: block;
            margin: 0;
            border-bottom: 1px solid #ddd;

            &:last-child{
              border: none;
            }

            a{
              display: block;
              padding: 0.4rem 0.5rem;
              font-size: 0.8rem;
              font-weight: 400;
              text-align: center;
              text-transform: none;

              &:hover,
              &.active{
                color: $green-color;
                text-decoration: none;
              }
            }
          }
        }
      }
    }

    .dropdown-left{
      left: 0;
    }

    .dropdown-right{
      right: 0;
    }

    .dropdown-center{
      left: 50%;
      -webkit-transform: translateX(-50%);
      -moz-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      -o-transform: translateX(-50%);
      transform: translateX(-50%);
    }

    .dropdown-small{
      min-width: 110px;
    }

    .dropdown-middle{
      min-width: 165px;
    }

    .dropdown-large{
      min-width: 260px;
    }
  }

  #nav-notifications{

    li{
      margin-left: 1.5rem;

      .lang-nav{
        a{
          display: inline-block;
          vertical-align: middle;
          padding-top: 1.35rem;
          padding-bottom: 1.35rem;
          color: #414140;
          font-size: 1rem;
          font-weight: 400;
          -webkit-transition: color 0.3s ease-in-out 0s;
          -moz-transition: color 0.3s ease-in-out 0s;
          -ms-transition: color 0.3s ease-in-out 0s;
          -o-transition: color 0.3s ease-in-out;
          transition: color 0.3s ease-in-out 0s;
          
          &.active{
            color: $green-color;
            font-weight: 600;
          }
        }

        span{
          display: inline-block;
          vertical-align: middle;
          font-size: 1.2rem;
          font-weight: 400;
        }
      }

      &.dropdown {

        #profile-settings{
          &.settings-show{
            visibility: visible;
            opacity: 1;
            top: 62px;
          }
        }

        #notifications-list{
          overflow-x: hidden;
          overflow-y: auto;
          max-height: 160px;

          &.notification-show{
            visibility: visible;
            opacity: 1;
            top: 62px;
          }

          ul{
            width: 100%;
          }
          li{
            clear: both;
            width: 100%;

            a{
              font-size: 0.75rem;
              padding: 0.3rem 0.2rem;
              display: block;
              font-weight: 300;

              span{
                display: block;
                float: left;
                max-width: 220px;
                line-height: 16px;
                text-align: left;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
              }

              i{
                display: block;
                float: right;
                width: 16px;
                height: 16px;
                background-position: center;
                background-repeat: no-repeat;
                -webkit-background-size: contain;
                background-size: contain;
              }
            }

            &.new-game {
              i{
                background-image: url("../img/icons/notification-new.png");
              }
            }

            &.game-canceled {
              i{
                background-image: url("../img/icons/notification-canceled.png");
              }
            }

            &.game-update {
              i{
                background-image: url("../img/icons/notification-updated.png");
              }
            }

            &.game-review-open {
              i{
                background-image: url("../img/icons/notification-rating.png");
              }
            }

          }
        }
        .dropdown-nav {
          li{
            margin: 0;
          }
        }

        &:hover{
          .dropdown-nav{
            visibility: hidden;
            opacity: 0;
            top: 52px;
          }
        }
      }
    }
  }
}

// Navigation End
// Universal Classes

.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50px;
  height: 50px;
  background-color: $green-color;
  z-index: 2;
  border-radius: 50%;

  &:after {
    content: '';
    position: absolute;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    border: 0px solid white;
    transform: translate(-50%, -50%);
    animation: loading 1000ms ease-out forwards infinite;
  }

}

@keyframes loading {
  0% {
    border: 0px solid white;
  }

  20% {
    border: 8px solid white;
    width: 0%;
    height: 0%;
  }

  100% {
    border: 8px solid white;
    width: 100%;
    height: 100%;
  }
}



#content{
  padding-bottom: 110px;
}

.sub-nav {
  text-align: center;
  display: block;

  .page-sub-nav {
    margin: 30px 0;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
    border-radius: 5px;

    .btn-secondary {
      min-width: 165px;
      text-align: center;
      font-size: 1rem;
      border: none;
      @include transition(all, 0.4s, ease-in-out, 0s);

      &:hover,
      &.active {
        color: #fff;
        background: $green-color;
      }
    }
  }
}


.section-title{
  text-align: center;
  margin: 0 0 20px;

  .title-wrapper{
    display: inline-block;

    h2{
      font-size: 1.6rem;
      font-weight: 300;
      display: block;
    }

    h3{
      font-size: 1.2rem;
      font-weight: 300;
    }

    .title-underline{
      height: 1px;
      width: 50%;
      margin: 10px auto 0;
      background: #979797;
    }

  }
}

.table-fgo{
  background: #fff;
  border-color: #ccc;
  margin-bottom: 10px;

  thead{
    th{
      background: #F0F0F0;
      border-color: #ccc;
      border-bottom: 1px solid #ccc;
      text-align: center;
      color: #414140;
      font-weight: 300;
      padding: .4rem;
      vertical-align: middle;

      i{
        display: inline-block;
        vertical-align: middle;
        width: 18px;
        height: 18px;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        margin-right: 5px;

        &.table-date{
          background-image: url("../img/icons/table-date.png");
        }
        &.table-final-score{
          background-image: url("../img/icons/table-final-score.png");
        }
        &.table-location{
          background-image: url("../img/icons/table-location.png");
        }
        &.table-players{
          background-image: url("../img/icons/table-players.png");
        }
      }

      span{
        display: inline-block;
        vertical-align: middle;
      }
    }
  }

  tbody{
    tr {
      cursor: pointer;

      td {
        padding: .4rem;
        background: #fff;
        border-color: #ccc;
        font-size: 0.8rem;
        text-align: center;
        color: #414140;
        font-weight: 300;
        line-height: 1.1rem;
        vertical-align: middle;

        span {
          display: inline-block;
          vertical-align: middle;

          &.score {
            font-size: 1.1rem;
            font-weight: 600;
            margin: 0 5px;
          }

          &.winner {
            color: $green-color;
            font-weight: 600;
          }
        }

        &:last-child {
          font-weight: 600;
        }
      }

      &:hover{
        td{
          background: #f0f0f0;
        }
      }
    }
  }
}

.pagination-fgo{

  .page-item{

    &.active{
      .page-link{
        background-color: $green-color;
        color: #fff;
      }
    }

    .page-link{
      padding: 0;
      width: 30px;
      height: 30px;
      font-size: 0.8rem;
      line-height: 29px;
      text-align: center;
      background-color: #F0F0F0;
      border-color: #ccc;
      text-decoration: none;
      color: #414140;
      border-radius: 0;
      margin: 0 1px;

      &.prev-link{
        background: url("../img/icons/pagination-arrow-prev.png") no-repeat center;
        background-color: #F0F0F0;
        background-size: 45%;
      }
      &.next-link{
        background: url("../img/icons/pagination-arrow-next.png") no-repeat center;
        background-size: 45%;
        background-color: #F0F0F0;
      }

      &:hover{
        background-color: #ddd;
      }
    }

  }

}


.content-view{
  width: 100%;
  margin: 0 auto;
  padding: 15px 1.2rem;
  background: rgba(255,255,255,0.8);
  box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.30);

  &.small-view{
    max-width: 1000px;
  }

  &.big-view{
    max-width: 1200px;
  }
}

form{

  md-datepicker{
    padding: 0;
    margin: 0;
    position: relative;

    .md-datepicker-button{
      position: absolute;
      z-index: 2;
      left: 0;
      top: 0;
    }

    .md-datepicker-input-container{
      display: block;
      background: #fff;
      margin-left: 0;
      border: 1px solid #ccc;
      border-radius: .25rem;
      font-size: 1rem;
      padding: .375rem .75rem .375rem 3rem;
      line-height: 1.4rem;
    }

    .md-datepicker-triangle-button{
      -webkit-transform: translateY(0) translateX(0);
      -moz-transform: translateY(0) translateX(0);
      -ms-transform: translateY(0) translateX(0);
      -o-transform: translateY(0) translateX(0);
      transform: translateY(0) translateX(0);
    }
  }

  .md-datepicker-open .md-datepicker-input{
    height: auto;
    margin-left: 0;
  }

  .md-datepicker-open .md-datepicker-triangle-button{
    display: block;
  }

  .md-datepicker-open .md-datepicker-input-container{
    margin-left: 0;
    border: 1px solid #ccc!important;
  }




  input{
    color: #414140;
    font-weight: 300;
    font-size: 1rem;
    border-radius: 5px;
    border: 1px solid #ccc;

    &#hour,
    &#minutes {
      display: inline-block;
      width: 44%;
      vertical-align: middle;
      text-align: center;
      padding-left: 0;
      padding-right: 0;
    }


    &[type="radio"]{
      display:none;
    }

    &[type="radio"] + label {
      color: #414140;
      font-size: 1rem;
      font-weight: 300;
      margin-right: 15px;
      padding: 0.3rem 0;
    }

    &[type="radio"] + label span {
      display:inline-block;
      width:20px;
      height:20px;
      margin:-3px 10px 0 0;
      vertical-align:middle;
      cursor:pointer;
      -moz-border-radius:  50%;
      border-radius:  50%;
      @include transition(all, 0.4s, ease-in-out, 0s);
    }

    &[type="radio"] + label span {
      background-color: #fff;
      border: 1px solid #ccc;
    }

    &[type="radio"]:checked + label span{
      background-color: $green-color;
      border: 1px solid $green-color;
    }
  }

  .form-group{
    position: relative;
  }

  textarea{
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #55595c;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: .25rem;
    resize: none;
    height: 180px;
  }

  select{
    color: #414140;
    font-weight: 300;
    font-size: 1rem;
    border-radius: 5px;
    border: 1px solid #ccc;
    height: 38px;
    position: relative;
    -webkit-appearance: none;
    -moz-appearance: none;

    background-image: url('../img/icons/select-icon.png')!important;
    background-repeat: no-repeat;
    background-position: 98%;
    background-size: 4px;
  }

  .upload-btn{
    position: absolute;
    z-index: 1;
    display: block;
    top: 1px;
    right: 1px;
    width: 45px;
    height: 36px;
    background: url('../img/icons/upload.png') no-repeat center #fff;
    border-left: 1px solid #ccc;
    border-radius: 0 5px 5px 0;
    @include transition(all, 0.4s, ease-in-out, 0s);

    &:hover{
      opacity: 0.8;
    }
  }

  .alert-warning{
    background: #F90000;
    color: #fff;
    font-weight: 300;

    strong{
      font-weight: 600;
    }
  }

  .search-field {
    position: relative;

    .search-icon{
      display: block;
      background: url("../img/icons/search-icon-grey.png") no-repeat center center;
      width: 40px;
      height: 37px;
      position: absolute;
      top: 0;
      right: 0;
      border-radius: 0;
      border-right: 1px solid #ccc;
      border-top: none;
      border-right: none;
      border-bottom: none;
    }
  }

  .btn-submit{
    background: $green-color;
    border: none;
    box-shadow: none;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    color: #fff;
    font-weight: 600;
    font-size: 1.1rem;
    margin: 0.5rem 0;
    padding: 0.8rem .75rem;
    max-width: 280px;
    width: 80%;
    border: 2px solid $green-color;
    @include transition(all, 0.4s, ease-in-out, 0s);

    &:hover{
      background: #fff;
      color: $green-color;
    }
  }
}


.game-availability{
  .circles{
    display: inline-block;
    background: #F0F0F0;
    box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.30);
    border-radius: 50%;
    color: #40403F;
    width: 85px;
    height: 85px;
    margin: 0 1.5%;
    padding: 15px 0;

    .number{
      display: block;
      font-size: 2rem;
      font-weight: 600;
      text-align: center;
      margin-bottom: 5px;
    }

    .text{
      display: block;
      font-size: 0.8rem;
      font-weight: 300;
      text-align: center;
    }

    &.players-available{
      background: $green-color;
      color: #fff;
    }
  }
}

.players-list{
  margin: 1rem 0;

  .players-cont{
    text-align: left;

    &.empty{
      background: url("../img/your-friends-empty.png") no-repeat center center;
      background-size: 80%;
      height: 301px;
      width: 100%;
    }

    .player{
      margin: 0.75rem 3px;
      display: inline-block;
      text-align: left;
      color: $text-color;
      text-decoration: none!important;
      @include transition(all, 0.4s, ease-in-out, 0s);
      width: 230px;

      &:hover{
        opacity: 0.8;
      }

      .player-img{
        width: 120px;
        height: 120px;
        display: inline-block;
        overflow: hidden;
        border-radius: 50%;
        box-shadow: 0 0 2px rgba(0,0,0,0.5);
        vertical-align: middle;
        position: relative;
        cursor: pointer;


        .btn-invite-player{
          display: block;
          background: rgba(255,255,255,0.85);
          position: absolute;
          bottom: 0;
          width: 100%;
          height: 35px;
          font-weight: 300;
          font-size: 0.9rem;
          text-align: center;
          text-decoration: none;
          padding: 0.5rem 0;
          @include transition(all, 0.4s, ease-in-out, 0s);

          .text{
            opacity: 1;
            display: block;
            width: 100%;
            color: $text-color;
            text-align: center;
            position: absolute;
            @include transition(all, 0.4s, ease-in-out, 0s);
          }

          .icon{
            display: block;
            margin: 0 auto;
            width: 20px;
            height: 20px;
            background: url("../img/icons/accept.png") no-repeat center center;
            background-size: contain;
            opacity: 0;
            @include transition(all, 0.4s, ease-in-out, 0s);
          }

          &:hover{
            background: $green-color;

            .text{
              color: #fff;
            }
          }

          &.checked{
            background: $green-color;

            .text{
              opacity: 0;
            }

            .icon{
              opacity: 1;
            }
          }
        }

        .btn-remove-friend{
          display: block;
          background: rgba(255,255,255,0.85);
          position: absolute;
          bottom: 0;
          width: 100%;
          height: 35px;
          font-weight: 300;
          font-size: 0.9rem;
          text-align: center;
          text-decoration: none;
          padding: 0.5rem 0;
          @include transition(all, 0.4s, ease-in-out, 0s);

          .text{
            opacity: 1;
            display: block;
            width: 100%;
            color: $text-color;
            text-align: center;
            position: absolute;
            @include transition(all, 0.4s, ease-in-out, 0s);
          }

          .icon{
            display: block;
            margin: 0 auto;
            width: 20px;
            height: 20px;
            background: url("../img/icons/accept.png") no-repeat center center;
            background-size: contain;
            opacity: 0;
            @include transition(all, 0.4s, ease-in-out, 0s);
          }

          &:hover{
            background: red;

            .text{
              color: #fff;
            }
          }

          &.checked{
            background: red;

            .text{
              opacity: 0;
            }

            .icon{
              opacity: 1;
            }
          }
        }

        img{
          width: 100%;
          height: auto;
        }
      }

      .player-info{
        display: inline-block;
        vertical-align: middle;
        margin-left: 5px;
        text-decoration: none;
        color: $text-color;
        max-width: 100px;
        
        a{
          color: $text-color;
        }

        .name{
          font-size: 1rem;
          font-weight: 300;

          .man-of-the-match{
            display: inline-block;
            background: url("../img/icons/man-of-the-match-green.png") no-repeat center center;
            width: 19px;
            height: 15px;
          }
        }

        .age{
          font-size: 0.7rem;
          font-weight: 600;
          margin-top: 3px;
        }

        .rating{
          font-size: 0.7rem;
          font-weight: 600;
          margin-top: 3px;
          padding: 3px 0 3px 20px;
          background: url("../img/icons/rating-grey.png") no-repeat left center;
        }

        .members{
          display: inline-block;
          font-size: 0.7rem;
          font-weight: 600;
          margin-top: 3px;
          padding: 3px 0 3px 20px;
          background: url("../img/icons/group-members.png") no-repeat left center;
        }

        .games{
          display: inline-block;
          font-size: 0.7rem;
          font-weight: 600;
          margin-top: 3px;
          margin-left: 5px;
          padding: 3px 0 3px 20px;
          background: url("../img/icons/group-games.png") no-repeat left center;
        }
      }
    }

  }
}

.add-guest-form{

  #guest-name-field{
    width: 80%;
    display: block;
    float: left;
    border-radius: 5px 0 0 5px;
  }


  #submit-guest{
    display: block;
    float: left;
    border-radius: 0 5px 5px 0;
    padding: .45rem .75rem;
    font-weight: 400;
    width: 20%;

    &:hover{
      border-color: $green-color;
      background: $green-color;
      color: $text-color;
      opacity: 0.8;
    }
  }
}

.invited-list{
  border-top: 1px solid #bbb;
  padding: 20px 0;

  .players-cont{

    .player-item{
      display: block;
      float: left;
      width: 100%;
      margin: 0.5rem 0;

      &.refused{
        opacity: 0.3;
      }

      .player-profile{
        display: block;
        float: left;
        text-align: left;
        text-decoration: none;
        width: 75%;

        img{
          display: inline-block;
          vertical-align: middle;
          width: 50px;
          height: 50px;
          border-radius: 50%;
        }

        span{
          display: inline-block;
          vertical-align: middle;
          color: $text-color;
          font-size: 1rem;
          margin: 0 0.5rem;
          max-width: 65%;
        }

      }
      
      .invites-controls{
        display: block;
        float: right;
        text-align: right;
        width: 25%;

        .btn-accept,
        .btn-cancel{
          margin: 15px 2px;
        }
      }
    }
  }

}


.button-cont{
  text-align: center;
  border-top: 1px solid #bbb;
  padding: 1rem 0 0;
}

.btn-style{
  display: inline-block;
  background: $green-color;
  border-radius: 5px;
  font-weight: 600;
  font-size: 1rem;
  color: #FFFFFF;
  line-height: 1.2rem;
  padding: 0.7rem 2.5rem;
  text-decoration: none!important;
  border: 2px solid $green-color;
  @include transition(all, 0.4s, ease-in-out, 0s);

  &.btn-green{
    background: $green-color;
    border: 2px solid $green-color;

    &:hover{
      background: #fff;
      color: $green-color;
    }
  }

  &.btn-blue{
    background: #405CB0;
    border: 2px solid #405CB0;

    &:hover{
      background: #fff;
      color: #405CB0;
    }
  }

  &.btn-grey{
    background: #ccc;
    border: 2px solid #ccc;

    &:hover{
      background: #fff;
      color: #ccc;
    }
  }

  &.btn-red{
    background: #DF4B32;
    border: 2px solid #DF4B32;

    &:hover{
      background: #fff;
      color: #DF4B32;
    }
  }

  &:hover{
    background: #fff;
    color: $green-color;
  }



  &.btn-fgo{

    &:hover{
      background: $green-color;
      color: #fff;
    }

    i{
      background: url("../img/icons/goals.png") no-repeat center center;
      background-size: contain!important;
    }
  }

  &.btn-facebook{

    &:hover{
      background: $green-color;
      color: #fff;
    }

    i{
      background: url("../img/icons/fb-icon.png") no-repeat center center;
      background-size: contain!important;
    }
  }

  &.btn-join{

    &:hover{
      background: $green-color;
      color: #fff;
    }

    i{
      background: url("../img/icons/accept.png") no-repeat center center;
      background-size: contain;
    }
  }

  &.btn-stats{

    &:hover{
      background: $green-color;
      color: #fff;
    }

    i{
      background: url("../img/icons/stats.png") no-repeat center center;
      background-size: contain;
    }
  }

  &.btn-new-game{

    &:hover{
      background: $green-color;
      color: #fff;
    }

    i{
      background: url("../img/icons/goals.png") no-repeat center center;
      background-size: contain;
    }
  }

  &.btn-review-history{

    &:hover{
      background: $green-color;
      color: #fff;
    }

    i{
      background: url("../img/icons/history.png") no-repeat center center;
      background-size: contain;
    }
  }


  &.btn-edit{

    &:hover{
      background: $green-color;
      color: #fff;
    }

    i{
      background: url("../img/icons/edit-game.png") no-repeat center center;
      background-size: contain;
    }
  }

  &.btn-delete{

    &:hover{
      background: #DF4B32;
      color: #fff;
    }

    i{
      background: url("../img/icons/cancel.png") no-repeat center center;
    }
  }
}


.btn-wrapper{
  display: block;
  float: left;
  width: 33.33%;
}

.admin-view{
  .btn-wrapper {
    display: block;
    float: left;
    width: 25%;
  }
}

.player-view{
  .btn-wrapper {
    display: block;
    float: left;
    width: 33.33%;
  }
}

.call-to-action-msg{
  text-align: center;
  p{
    font-size: 1.2rem;
    line-height: 1.4rem;
    font-weight: 300;
    margin-bottom: 2rem;
  }

  .btn-style{
    margin-bottom: 1rem;
  }
}


.comments-list{
  border-top: 1px solid #ccc;
  padding: 1rem 0 0;

  .comments-cont{

    .comment{
      padding: 0 0 2rem;
      position: relative;

      .line-cont{
        position: absolute;
        height: 100%;
        width: 100%;

        .col-md-2{
          height: 100%;

          .line{
            margin: 0 auto;
            width: 1px;
            background: #ccc;
            height: 100%;
          }
        }
        .col-md-3 {
          height: 100%;
        }
      }

      img{
        width: 100%;
        max-width: 140px;
        height: auto;
        display: block;
        margin: 0 auto;
        border-radius: 50%;
        box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
      }

      .name{
        font-weight: 300;
        font-size: 0.8rem;
        text-align: left;

        span{
          font-weight: 600;
          color: #888;
        }
      }

      .descr{
        margin: 1rem 0 0;
        font-size: 1rem;
        line-height: 1.2rem;
        font-weight: 300;
        text-align: justify;
      }
    }
  }

  .comment-form{
    #comment-field{
      width: 80%;
      display: block;
      float: left;
      border-radius: 5px 0 0 5px;
    }

    #submit-comment{
      display: block;
      float: left;
      border-radius: 0 5px 5px 0;
      padding: .45rem .75rem;
      font-weight: 400;
      width: 20%;

      &:hover{
        border-color: $green-color;
        background: $green-color;
        color: $text-color;
        opacity: 0.8;
      }
    }
  }
}

.map-cont{

  img {
    width: 100%;
    display: block;
    height: auto;
  }
}

.footer-items{
  background: rgba(178,205,19,0.85);
  color: #fff;
  font-weight: 300;
  padding: 0.7rem 0 0.5rem;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  font-size: 0.9rem;

  .footer-cont{
    width: 94%;
    max-width: 1220px;
    margin: 0 auto;

    .all-rights{
      padding: 0.5rem 0;
    }

    .social{
      text-align: center;

      a{
        display: inline-block;
        width: 24px;
        height: 24px;
        margin: 0 0.5rem;
        @include transition(all, 0.4s, ease-in-out, 0s);

        &:hover{
          opacity: 0.7;
        }


        &.fb-btn{
          background: url("../img/icons/fb.png") no-repeat center;
          background-size: contain;
        }

        &.tw-btn{
          background: url("../img/icons/twitter.png") no-repeat center;
          background-size: contain;
        }

        &.in-btn{
          background: url("../img/icons/instagram.png") no-repeat center;
          background-size: contain;
        }
      }
    }

    .footer-nav{
      text-align: right;
      padding: 0.5rem 0;

      a{
        color: #fff;
        text-decoration: none;
        display: inline-block;
        border-right: 1px solid #fff;
        padding: 0 0.6rem 0 0.4rem;

        &:last-child{
          border:none;
        }
      }
    }
  }
}

.dNone{
  display: none;
}

// Universal Classes End
// Landing Page

#user-login{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.8);
  z-index: 3;
  overflow-y: auto;

  #terms-and-conditions{
    max-width: 800px;
    text-align: justify;
    line-height: 1.2rem;

    .title{
      font-weight: 800;
      margin: 1rem 0;
      font-size: 1.2rem;
    }

    ul{
      list-style: disc;
      margin: 1.5rem 0 1.5rem 1.2rem;
      padding: 0;
    }

    p{
      text-align: justify;
      font-size: 0.9rem;
      line-height: 1.1rem;
    }

  }

  .form-cont{
    margin: 0 auto;
    padding: 1rem;
    text-align: center;
    width: 90%;
    max-width: 500px;
    background: #fff;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);

    .forgot-pass-btn{
      position: absolute;
      top: -20px;
      right: 0;
      color: $green-color;
      font-size: 0.8rem;
    }

    .close-popup{
      display: block;
      text-align: center;
      width: 100%;
      padding: 0.5rem 0 2rem 0;
      background: #fff;


      i {
        background: url("../img/icons/close.png") no-repeat center center;
        display: inline-block;
        width: 25px;
        height: 25px;
        -webkit-background-size: contain;
        background-size: contain;
        vertical-align: middle;
      }
    }

    .seperator-or{
      font-weight: 300;
      font-size: 1.5rem;
      margin: 0.8rem 0;
      position: relative;

      span{
        display: inline-block;
        position: relative;
        background: #fff;
        padding: 0 0.8rem;
        z-index: 2;

        &.line{
          position: absolute;
          top: 13px;
          left: 0;
          width: 100%;
          height: 1px;
          background: #ccc;
          padding: 0;
          z-index: 1;
        }
      }
    }

    .btn-submit{
      width: 100%;
      max-width: none;
      margin: 0;
    }

    .alert-warning{
      margin-top: 1rem;
    }

    #social-connect{
      margin: 1rem 0;

      .col-md-6{
        padding: 0;

        @media (min-width: 993px) {
          &#fb-cont {
            padding-right: 0.5rem;
          }

          &#gp-cont {
            padding-left: 0.5rem;
          }
        }
        @media (max-width: 992px) {
          &#fb-cont {
            padding-bottom: 0.5rem;
          }

          &#gp-cont {
            padding-top: 0.5rem;
          }
        }
      }

      a{
        display: block;
        width: 100%;
        text-decoration: none;
        color: #fff;
        font-size: 0.9rem;
        font-weight: 400;
        border-radius: 5px;
        padding: 0.7rem 0;
        text-align: center;
        @include transition(all, 0.4s, ease-in-out, 0s);

        &:hover{
          opacity: 0.8;
        }

        i{
          display: inline-block;
          vertical-align: middle;
          width: 20px;
          height: 20px;
          margin-right: 0.3rem;
        }

        span{
          display: inline-block;
          vertical-align: middle;
        }

        &.fb{
          background: #405CB0;
          i{
            background: url("../img/icons/facebook-connect.png") no-repeat center;
            background-size: contain;
          }
        }

        &.gp{
          background: #DF4B32;
          i{
            background: url("../img/icons/google-plus.png") no-repeat center;
            background-size: contain;
          }
        }
      }
    }

    #sign-up-btn{
      width: 100%;
      max-width: none;
    }
  }
}

body.landing-page{
  background: #fff;
  overflow-x: hidden;

  .fgo-enter{
    position: absolute;
    text-align: center;
    width: 100%;

    a{
      display: inline-block;
      width: 45%;
      max-width: 220px;
      color: #fff;
      background: $green-color;
      border-radius: 30px;
      padding: 0.5rem 0;
      font-size: 1.4rem;
      font-weight: 300;
      max-width: 0 0 0 2.4%;
      text-decoration: none;
      @include transition(all, 0.4s, ease-in-out, 0s);

      i{
        display: inline-block;
        vertical-align: middle;
        margin-right: 5px;
      }

      span{
        display: inline-block;
        vertical-align: middle;
      }

      &:hover{
        background: $text-color;
      }

      &.left{
        margin-right: 2.4%;
        margin-left: 0;
      }

      &.sign-up{
        i{
          background: url("../img/icons/sign-up.png") no-repeat center;
          background-size: contain;
          width: 25px;
          height: 25px;
        }
      }

      &.login{
        i{
          background: url("../img/icons/login.png") no-repeat center;
          background-size: contain;
          width: 25px;
          height: 25px;
        }
      }
    }
  }

  #header{
    height: 100%;
    width: 100%;
    min-height: 500px;
    background: url("../img/landing-page-cover.jpg") no-repeat top center;
    background-size: cover;
    position: relative;

    .lang{
      width: 98%;
      max-width: 1200px;
      color: #fff;
      text-align: right;
      margin: 0 auto;
      padding: 30px 0 0;

      span{
        font-size: 1.2rem;
        font-weight: 300;
      }

      a{
        display: inline-block;
        color: #fff;
        font-weight: 300;
        font-size: 1.2rem;
        margin: 0 5px;
        text-decoration: no;

        &.active{
          color: #B2CD12;
        }
      }
    }

    .fgo-slogan{
      position: absolute;
      text-align: center;
      font-size: 3.5rem;
      font-weight: 300;
      line-height: 3.9rem;
      color: #fff;
      width: 100%;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      -o-transform: translateY(-50%);
      transform: translateY(-50%);

      .application-stores{
        padding-top: 2%;

        .app-store{
          @media (max-width: 768px) {
            height: 50px;
          }
          height: 60px;
        }

        .google-play{
          @media (max-width: 768px) {
            height: 50px;
          }
          height: 60px;
        }
      }
    }

    .fgo-enter{
      bottom: 40px;
      width: 100%;
    }
  }

  #content{
    padding: 0;

    .how-to-play-title{
      display: block;
      padding: 0.8rem 0;
      background: $green-color;
      color: #fff;
      font-size: 1.6rem;
      font-weight: 300;
      text-align: center;
    }

    .row{
      .col-md-6{
        height: 550px;

        h4{
          color: #ccc;
          font-size: 2.5rem;
          margin-top: 12rem;
          margin-bottom: 1.5rem;
          font-weight: 300;
          padding: 1.2rem 2.5rem;
          position: relative;

          .step-number{
            width: 80px;
            height: 80px;
            text-align: center;
            color: #fff;
            font-weight: 300;
            font-size: 2.5rem;
            line-height: 75px;
            position: absolute;
            top: 0;
            left: -55px;
            background: $green-color;
          }
        }

        p{
          padding: 0 2.5rem;
          font-size: 1.2rem;
          line-height: 1.5rem;
          font-weight: 300;
          text-align: justify;
          display: block;
          width: 80%;
        }

        &.col-1{
          h4{
            .step-number{
              right: -55px;
              left: auto;
            }
          }
        }

        &.text-left{
          text-align: right;
          h4,p{
            display: inline-block;
            width: 80%;
            max-width: 650px;
            text-align: left;
          }
        }

        &.text-right{
          text-align: left;
          h4,p{
            display: inline-block;
            width: 80%;
            max-width: 650px;
            text-align: left;
          }
        }


      }
    }

    #register{
      .col-1{
        background: url("../img/01.how-to-play.jpg") no-repeat center;
        background-size: cover;
      }
      .col-2{

      }
    }

    #invite-friends{
      .col-1{
        z-index: 1;
      }
      .col-2{
        background: url("../img/02.how-to-play.jpg") no-repeat center;
        background-size: cover;
      }
    }

    #create-game{
      .col-1{
        background: url("../img/03.how-to-play.jpg") no-repeat center;
        background-size: cover;
      }
      .col-2{

      }
    }

    #send-invites{
      .col-1{
        z-index: 1;
      }
      .col-2{
        background: url("../img/04.how-to-play.jpg") no-repeat center;
        background-size: cover;
      }
    }

    #play-game{
      .col-1{
        background: url("../img/05.how-to-play.jpg") no-repeat center;
        background-size: cover;
      }
      .col-2{

      }
    }

    #rate-teammates{
      .col-1{
        z-index: 1;
      }
      .col-2{
        background: url("../img/06.how-to-play.jpg") no-repeat center;
        background-size: cover;
      }
    }
  }

  #footer{
    height: 700px;
    position: relative;
    width: 100%;
    background: url("../img/footer-cover.jpg") no-repeat center;
    background-size: cover;

    .fgo-enter{
      top: 45%;
      -webkit-transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      -o-transform: translateY(-50%);
      transform: translateY(-50%);

      .fgo-icon{
        background: url("../img/icons/fgo-icon.png") no-repeat center;
        background-size: contain;
        width: 100%;
        height: 175px;
        margin-bottom: 4rem;
      }
    }

    .footer-items {
      .footer-cont {
        max-width: 1400px;
      }
    }
  }

}


// Landing Page End
// Dashboard

#dashboard{

  padding: 0 1rem;

  .media{

    padding: 80px 0;

    .media-left{
      padding-right: 1rem;

      img{
        width: 150px;
        height: 150px;
        border: 1px solid #fff;
        border-radius: 10px;
        box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.25);
      }
    }

    .media-body{

      .media-heading{
        font-weight: 800;
        font-size: 3.5rem;
        padding: 0.8rem 0 0.3rem;
      }

      .media-question {
        font-weight: 800;
        font-size: 3.5rem;
        padding: 0.3rem 0 0.8rem;
      }

    }
  }

  #user-stats{

    .stat{
      display: block;
      text-align: left;
      margin: 0 0 1.5rem 0;

      .icon{
        width: 80px;
        height: 80px;
        border-radius: 50%;
        background: #40403F;
        display: inline-block;
        vertical-align: middle;
        text-align: center;
        position: relative;

        i{
          display: inline-block;
          vertical-align: middle;
          width: 40px;
          height: 40px;
          margin: 20px;
          background-position: center;
          background-repeat: no-repeat;
          -webkit-background-size: contain;
          background-size: contain;
        }
      }

      &.next-game{
        i{
          background-image: url("../img/icons/next-game.png");
        }
      }

      &.total-games{
        i{
          background-image: url("../img/icons/games-played.png");
        }
      }

      &.total-rating{
        i{
          background-image: url("../img/icons/rating.png");
        }
      }

      &.total-goals{
        i{
          background-image: url("../img/icons/goals.png");
        }
      }

      &.total-best{
        i{
          background-image: url("../img/icons/man-of-the-match.png");
        }
      }


      .info{
        display: inline-block;
        vertical-align: middle;
        font-weight: 300;
        font-size: 1.6rem;
        margin-left: 1rem;

        strong{
          font-weight: 600;
        }
      }

    }

  }

  .dashboard-block{
    background: #40403F;
    border-radius: 5px;
    color: #fff;
    padding: 0.5rem;

    &.group-invites-block{
      margin-top: 15px;
    }

    h4{
      font-size: 1.4rem;
      font-weight: 300;
      text-align: center;
      margin: 0 0 15px;
    }

    .dashboard-block-wrapper{
      height: 100px;
      overflow: auto;

      .no-invites{
        text-align: center;

        .find-new-friends{
          display: inline-block;
          vertical-align: middle;
          margin-right: 1.5rem;

          span{
            font-weight: 300;
            font-size: 1.3rem;
            font-style: italic;
            display: block;
          }

          .btn-find-more{
            color: #40403F;
            background: $green-color;
            border-radius: 5px;
            display: block;
            font-weight: 600;
            font-size: 1rem;
            margin: 10px 0 0;
            padding: 0.4rem 0.6rem;
            @include transition(all, 0.4s, ease-in-out, 0s);

            &:hover{
              text-decoration: none;
              opacity: 0.8;
            }
          }

        }

        .fgo-icon{
          width: 55px;
          height: 95px;
          display: inline-block;
          vertical-align: middle;
          background-position: center;
          background-repeat: no-repeat;
          -webkit-background-size: contain;
          background-size: contain;
          background-image: url("../img/icons/fgo-icon.png");

        }

      }

      .invites{
        display: block;
        padding: 0.25rem 0;
        border-bottom: 1px solid rgba(240, 240, 240, 0.15);

        .info{
          //background: url("../img/icons/invites.png") no-repeat 5px center;
          //-webkit-background-size: 18px 18px;
          //background-size: 18px 18px;
          //padding: 0.3rem 0 0.3rem 30px;
          padding: 0.3rem 0 0.3rem;
          font-weight: 300;
          font-size: 0.85rem;
          max-width: 340px;
          width: 80%;
          line-height: 1.1rem;

          a{
            color: $green-color;
          }
          //overflow: hidden;
          //white-space: nowrap;
          //text-overflow: ellipsis;
        }
      }
    }
  }
}

.invites-controls{
  text-align: center;

  .btn-accept,
  .btn-cancel{
    width: 20px;
    height: 20px;
    display: inline-block;
    margin: 0 2px;
    background-position: center;
    background-repeat: no-repeat;
    -webkit-background-size: contain;
    background-size: 60%;
    border-radius: 50%;
    opacity: 0.8;
    @include transition(all, 0.4s, ease-in-out, 0s);

    &:hover{
      opacity: 1;
    }
  }

  .btn-accept{
    background-image: url("../img/icons/accept.png");
    background-color: $green-color;
  }

  .btn-cancel{
    background-image: url("../img/icons/cancel.png");
    background-color: #FF0000;
  }
}

// Dashboard End
// Games

#games{
  text-align: center;

  #upcoming-games{

    .game-item{
      max-width: 420px;
      width: 100%;
      margin: 0 auto 40px;
      height: 360px;
      background-color: #FFFFFF;
      display: block;
      box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.30);
      text-decoration: none;

      &.no-event{
        background-color: rgba(255,255,255,0.8);
        background-image: url("../img/icons/fgo-icon-big.png");
        background-position: center;
        background-size: 20%;
        background-repeat: no-repeat;
      }

      .location-image{
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        width: 100%;
        height: 180px;
        position: relative;

        .pitch-price{
          background: $green-color;
          border-radius: 0 5px 5px 0;
          color: #fff;
          font-weight: 300;
          font-size: 0.8rem;
          position: absolute;
          z-index: 1;
          top: 20px;
          left: 0;
          display: block;
          padding: 0.3rem 0.5rem;

          span{
            font-weight: 600;
          }
        }
        .pitch-location{
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          padding: 0.4rem 0;
          background: rgba(0, 0, 0, 0.5);
          text-align: left;
          color: #fff;
          font-weight: 300;

          i{
            background: url("../img/icons/game-location.png") no-repeat;
            -webkit-background-size: contain;
            background-size: contain;
            display: inline-block;
            vertical-align: middle;
            width: 20px;
            height: 20px;
            margin: 0 5px 0 10px;
          }
          span{
            display: inline-block;
            vertical-align: middle;
            max-width: 85%;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
          }
        }

      }

      .game-info{
        margin: 1rem auto;
        text-align: center;
        .time{
          font-size: 0.8rem;
          font-weight: 400;
          color: $green-color;
        }
        .teams{
          font-size: 1.3rem;
          font-weight: 300;
          color: #40403F;
          margin: 5px 0 0;
          span{
            font-weight: 800;
          }
        }
      }
    }
  }

  #game-details,
  #history-game-details{

    .section-title{
      margin: 0 0 10px;

      span{
        font-weight: 600;

        &.winner{
          color: $green-color;
        }
      }
    }

    .game-invite-link{
      font-size: 0.9rem;
      font-weight: 300;
      margin: 0.5rem 0 0;
      padding: 0.2rem 0 0.2rem 1.5rem;
      background: url("../img/icons/external-link.png") no-repeat 0 center;
      background-size: 18px;
      span{
        color: $green-color;
      }
    }

    .btn-wrapper{
      a{
        border-radius: 0;
        border-color: rgba(255,255,255,0.8);
        font-size: 1.1rem;

        i{
          display: block;
          margin: 10px auto 15px;
        }

        span{
          display: block;
          margin: 0 auto 10px;
        }

        &:hover{
          border-color: $green-color;
        }

        &.btn-delete:hover{
          border-color: #ff0000;
        }
      }
    }

    .btn-green,
    .btn-grey,
    .btn-blue,
    .btn-red{
      width: 100%;
      margin: 5px 0;
      font-weight: 300;
      padding: 0.4rem 0.2rem;

      &:hover{
        opacity: 0.8;
      }

      i{
        display: inline-block;
        margin-right: 2px;
        width: 32px;
        height: 32px;
        vertical-align: middle;
      }

      span{
        display: inline-block;
        vertical-align: middle;
      }
    }

    .game-info{
      position: relative;

      .date-location{
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;
        background: $green-color;
        padding: 10px 15px;
        box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.50);
        color: #fff;

        .date{
          display: inline-block;
          padding-right: 10px;
          border-right: 1px solid #999;
          vertical-align: middle;

          .day{
            font-size: 2rem;
            font-weight: 300;
          }

          .month{
            font-size: 1.1rem;
            font-weight: 600;
          }

          .hour{
            font-size: 0.75rem;
            font-weight: 600;
            margin: 5px 0 0;
          }
        }

        .location{
          display: inline-block;
          padding-left: 5px;
          text-align: left;
          vertical-align: middle;

          a{
            color: #fff;
          }

          .name{
            font-size: 1.5rem;
            font-weight: 600;
          }

          .address{
            margin-top: 5px;
            font-size: 1rem;
            font-weight: 300;
          }

          .invite-url{
            font-size: 0.8rem;
            margin-top: 7px;
            font-weight: 600;
            letter-spacing: 0.5px;
          }
        }
      }

      .game-availability{
        position: absolute;
        bottom: 20px;
        right: 10px;
        width: 100%;
        text-align: right;

        .circles{
          margin: 0 1%;
        }
      }

      .loc-img-cont{
        height: 500px;
        position: relative;
        overflow: hidden;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
      }

      .loc-img{
        width: 100%;
        height: auto;
        display: block;
      }
    }
  }

  #new-game{

    form{
      max-width: 800px;
      margin: 0 auto;
      width: 94%;

      .form-group{
        margin-bottom: 1.1rem;
        text-align: left;

        #btn-new-location{
          color: $green-color;
          font-size: 0.8rem;
          margin: 0 0 5px;
          font-weight: 600;
        }

        .hours-fields {
          text-align: left;
        }

        .calendar-btn {
          display: block;
          position: absolute;
          top: 0;
          //right: 1rem;
          right: 16px; // todo: fix this.
          width: 40px;
          height: 38px;
          background-image: url('../img/icons/calendar-btn.png');
          background-repeat: no-repeat;
          background-position: center;
          background-size: 20px;
          border-left: 1px solid #ccc;
          z-index: 2;
        }


        &.form-last-group{
          border-bottom: 1px solid #ccc;
          padding: 0.5rem 0 1.2rem 0;
        }
      }

      #players-wrapper{
        text-align: left;

        .players-count{
          display: inline-block;
          vertical-align: middle;
          padding: .375rem 0;
          max-width: 50px;
          text-align: center;
          margin: 0 5px;
        }

        .arrows {
          display: inline-block;
          vertical-align: middle;
          width: 36px;
          height: 36px;
          border: 1px solid #ccc;
          background-color: #fff;
          border-radius: 5px;

          -webkit-background-size: 45%;
          background-size: 45%;
          background-position: center;
          background-repeat: no-repeat;
          @include transition(all, 0.4s, ease-in-out, 0s);

          &.players-down {
            background-image: url('../img/icons/pagination-arrow-prev.png');
          }
          &.players-up {
            background-image: url('../img/icons/pagination-arrow-next.png');
          }
          &:hover {
            background-color: #ddd;
          }
        }

        .fgo-players{
          display: inline-block;
          vertical-align: middle;
          margin-left: 10px;

          .player-icon{
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
            background-image: url('../img/icons/fgo-icon-count.png');
            width: 19px;
            height: 34px;
            margin: 0 2px;
            display: inline-block;
          }
        }
      }
    }
  }

  #find-game{

  }

  #history{

  }

  #history-game-statistic{

    form{
      margin: 2rem 0 0;

      label{
        font-weight: 300;
        margin: 0;

        &.teams{
          margin-bottom: 0.5rem;
          line-height: 1.4rem;
          font-size: 1.2rem;
        }
      }

      input{
        text-align: center;
      }

      .rating-goal {
        min-width: 180px;
        @media (max-width: 992px) {
          display: none;
        }
      }

      .mini-rating-goal {
        min-width: 100px;
        @media (min-width: 993px) {
          display: none;
        }
      }

      form input[type="radio"] + label span{
        margin-right: 0;
      }

      .vs-sign{
        font-weight: 600;
        font-size: 1.5rem;
        margin-bottom: 1rem;
      }
    }



    table{
      background: #fff;
      margin: 1rem 0;

      th{
        background: $green-color;
        color: #fff;
        text-align: center;
        vertical-align: middle;
        padding: 0.4rem 0.75rem;

        &:first-child{
          text-align: left;
          width: 60%;
        }
      }

      td{
        vertical-align: middle;
        font-weight: 300;
        text-align: center;
        padding: 0.4rem 0.75rem;

        &:first-child{
          text-align: left;
        }

        .form-group{
          margin-bottom: 0;
        }
      }

      .rate-player-img{
        display: block;
        text-decoration: none;
        color: $text-color;

        .player-img{
          display: inline-block;
          border-radius: 50%;
          box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
          width: 80px;
          height: 80px;
          overflow: hidden;
          vertical-align: middle;

          img{
            display: block;
            width: 100%;
            height: auto;
          }
        }

        .player-info{
          display: inline-block;
          vertical-align: middle;
          font-weight: 300;
          text-align: left;
          margin-left: 0.5rem;
          font-size: 1rem;

          .name{
            font-size: 1rem;
          }

          .age{
            font-weight: 600;
            font-size: 0.6rem;
          }

        }
      }

    }
  }
}

// Games End
// Friends

#friends{

  #view-friends{

  }

  #view-friends-empty{

  }

  #find-friends{

    .search-options{
      a{
        display: block;
        background: $green-color;
        border-radius: 5px;
        font-weight: 300;
        font-size: 1.2rem;
        color: #FFFFFF;
        line-height: 1.2rem;
        padding: 0.3rem 0;
        text-decoration: none!important;
        border: 2px solid $green-color;
        text-align: center;
        @include transition(all, 0.4s, ease-in-out, 0s);

        i{
          display: inline-block;
          margin-right: 2px;
          width: 32px;
          height: 32px;
          background-size: 80%!important;
          vertical-align: middle;
        }

        span{
          display: inline-block;
          vertical-align: middle;
        }

        &.find-fb-friends{
          i{
            background:url("../img/icons/fb-icon.png") no-repeat center center;
          }
        }

        &.invite-fb-friends{
          i{
            background:url("../img/icons/invite-fb-friends-icon.png") no-repeat center center;
          }
        }

        &.message-fb-friends{
          i{
            background:url("../img/icons/sent-msg-icon.png") no-repeat center center;
          }
        }


        &:hover,
        &.active{
          background: $text-color;
          border-color: $text-color;
        }
      }
    }

  }

}

// Friends End
// Groups

#groups{

  #my-groups{

  }

  #create-group{
    form {
      max-width: 800px;
      margin: 0 auto;
      width: 94%;
      text-align: center;
    }
  }

  #group-details{

    .group-avatar{
      display: block;
      width: 100%;
      height: auto;
      border-radius: 50%;
      max-width: 215px;
      margin: 0 auto;
      box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
    }

    .group-descr{
      text-align: justify;
      font-weight: 300;
      line-height: 1.3rem;
      font-size: 1rem;
    }

    .group-stats{
      display: block;
      margin: 0.5rem 0 0;

      div{
        display: inline-block;
        font-size: 0.9rem;
        font-weight: 300;
        padding: 0.2rem 0 0.2rem 1.7rem;
        margin-left: 5px;

        span{
          font-weight: 600;
        }

        &.members{
          background: url("../img/icons/groups.png") no-repeat 0 center;
          background-size: 20px;
          margin-left: 0;
        }

        &.games{
          background: url("../img/icons/notification-new.png") no-repeat 0 center;
          background-size: 19px;
          padding-left: 1.5rem;
        }

        &.goals{
          background: url("../img/icons/fgo-icon.png") no-repeat 0 center;
          background-size: 12px;
          padding-left: 1.3rem;
        }
      }
    }

    .group-invite-link{
      font-size: 0.9rem;
      font-weight: 300;
      margin: 0.5rem 0 0;
      padding: 0.2rem 0 0.2rem 1.5rem;
      background: url("../img/icons/external-link.png") no-repeat 0 center;
      background-size: 18px;
      span{
        color: $green-color;
      }
    }


    .players-list{
      border-top: 1px solid #ccc;
      padding: 1rem 0 0;

      .button-cont{
        border: none;
        padding-top: 0.5rem;
      }
    }

    .btn-wrapper{
      a{
        border-radius: 0;
        border-color: rgba(255,255,255,0.8);
        font-size: 1.1rem;

        i{
          display: block;
          margin: 10px auto 15px;
        }

        span{
          display: block;
          margin: 0 auto 10px;
        }

        &:hover{
          border-color: $green-color;
        }

        &.btn-delete:hover{
          border-color: #ff0000;
        }
      }
    }

    .btn-green,
    .btn-grey,
    .btn-blue,
    .btn-red{
      width: 100%;
      margin: 5px 0;
      font-weight: 300;
      padding: 0.4rem 0.2rem;

      &:hover{
        opacity: 0.8;
      }

      i{
        display: inline-block;
        margin-right: 2px;
        width: 32px;
        height: 32px;
        vertical-align: middle;
      }

      span{
        display: inline-block;
        vertical-align: middle;
      }
    }
  }
}

// Groups End
// Locations

#locations{

  .location-item{
    position: relative;
    display: block;
    margin-bottom: 2rem;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.3);
    @include transition(all, 0.4s, ease-in-out, 0s);
    background-image: url("../img/location-default.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    height: 270px;
    width: 100%;

    overflow: hidden;

    &:hover{
      opacity: 0.8;
    }

    &.no-location{
      background: rgba(255,255,255, 0.8);
      display: block;
      text-align: center;
      height: 270px;
      @include transition(all, 0s, ease-in-out, 0s);

      img{
        display: block;
        margin: 0 auto;
        width: 80%;
        max-width: 375px;
        height: auto;
      }

      p{
        font-weight: 300;
        font-size: 1.2rem;
        margin-bottom: 0.8rem;
      }

      a{
        margin-bottom: 0.8rem;
        width: 80%;
        max-width: 200px;
        padding: 0.3rem 2.5rem;
      }

    }


    img{
      display: block;
      width: 100%;
      height: auto;
    }

    .location-price{
      background: url("../img/icons/price-badge.png") no-repeat center;
      background-size: contain;
      width: 60px;
      height: 60px;
      line-height: 57px;
      position: absolute;
      z-index: 1;
      top: 10px;
      right: 10px;
      color: #fff;
      font-size: 0.9rem;
      font-weight: 600;
      text-align: center;
    }

    .location-name{
      position: absolute;
      z-index: 1;
      bottom: 0;
      left: 0;
      width: 100%;
      background: rgba(0, 0, 0, 0.5);
      padding: 0.5rem 0;
      color: #fff;
      font-size: 1.1rem;
      font-weight: 300;
      text-align: center;
    }

  }

  #my-locations{

  }

  #new-locations{

    text-align: center;

    div.map-cont{
      margin-bottom: 1rem;
    }

  }

  #find-locations{

    .map-toggle{
      font-size: 0.8rem;
      font-weight: 600;
      margin-bottom: 0.3rem;

      .label{
        display: block;
        float: right;
        color: $text-color;
        padding: 0.45rem 0;
        margin-right: 0.5rem;
      }

      a{
        float: right;
        font-weight: 300;
        background: #D8D8D8;
        padding: 0.3rem 0;
        min-width: 45px;
        text-align: center;
        text-decoration: none;
        color: $text-color;
        @include transition(all, 0.4s, ease-in-out, 0s);

        &.toggle-off{
          border-radius: 10px 0 0 10px;
        }

        &.toggle-on{
          border-radius: 0 10px 10px 0;
        }

        &:hover,
        &.active{
          background: $green-color;
          color: #fff;
        }

      }
    }

  }

  #location-details{
    .locations-info{
      position: relative;

      .heart{
        position: absolute;
        top: 20px;
        right: 90px;
        height: 51px;
        width: 51px;
        text-decoration: none;
        background: url("../img/icons/heart-empty.png") no-repeat center;
        background-size: 51px;
        @include transition(all, 0.4s, ease-in-out, 0s);

        &:hover,
        &.favorite{
          background: url("../img/icons/heart.png") no-repeat center;
          background-size: 51px;
        }

      }

      .price{
        background: url("../img/icons/price-badge.png") no-repeat center;
        background-size: contain;
        width: 51px;
        height: 51px;
        line-height: 51px;
        position: absolute;
        z-index: 1;
        top: 20px;
        right: 20px;
        color: #fff;
        font-size: 0.9rem;
        font-weight: 600;
        text-align: center;
      }

      img{
        width: 100%;
        height: auto;
        display: block;
      }

      .location-descr{
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        padding: 0.6rem 0;
        background: rgba(0, 0, 0, 0.5);
        text-align: left;
        color: #fff;
        font-weight: 300;

        i{
          background: url("../img/icons/game-location.png") no-repeat;
          -webkit-background-size: contain;
          background-size: contain;
          display: inline-block;
          vertical-align: middle;
          width: 20px;
          height: 20px;
          margin: 0 5px 0 10px;
        }

        .stat{
          display: block;
          float: right;

          .phone{
            background: url("../img/icons/phone.png") no-repeat 0 center;
            background-size: 20px;
            display: inline-block;
            vertical-align: middle;
            padding: 2px 0 2px 30px;
            margin-right: 10px;
          }

          .fields{
            background: url("../img/icons/fields.png") no-repeat 0 center;
            background-size: 16px 20px;
            display: inline-block;
            vertical-align: middle;
            padding: 2px 0 2px 25px;
            margin-right: 10px;
          }

          .players{
            background: url("../img/icons/fgo-icon.png") no-repeat 0 center;
            background-size: 11px 20px;
            display: inline-block;
            vertical-align: middle;
            padding: 2px 0 2px 18px;
            margin-right: 10px;
          }
        }
      }

    }

    .location-map{
      border-top: 1px solid #ccc;
      padding-top: 1rem;

      .section-title{
        margin-bottom: 10px;
      }
    }
  }
}

#user{

  margin: 30px 0;

  #user-details{

    .info{
      .user-avatar{
        display: block;
        margin: 0 auto;
        width: 215px;
        height: auto;
        box-shadow: 0 0 2px rgba(0,0,0,0.3);
        border-radius: 50%;
      }

      .name{
        color: $green-color;
        font-size: 1.5rem;
        text-align: center;
        font-weight: 300;
        margin: 0.8rem 0 0.4rem;
      }

      .position{
        font-size: 0.8rem;
        text-align: center;
        font-weight: 600;
      }

      table{
        margin: 1rem 0 0;

        &.table-striped tbody tr:nth-of-type(odd){
          background: #ddd;
        }

        tr{
          background: #eee;

          td{
            width: 50%;
            font-weight: 300;
            font-size: 1rem;
            padding: .5rem .75rem;

            &:first-child{
              text-align: right;
              border-right: 1px solid #bbb;
            }
          }
        }
      }
    }


    .comments-list{
      border: none;
    }

  }

  #user-settings{
    text-align: center;

    #upload-tool{
      margin: 2rem 0;

      .col-md-6:first-child{
        border-right: 1px solid #ccc;
      }

      .upload-image{
        display: block;
        margin: 0 auto;
        width: 100%;
        max-width: 215px;
        box-shadow: 0 0 2px rgba(0,0,0,0.3);
        border-radius: 50%;
        overflow: hidden;
        position: relative;

        .btn-upload{
          position: absolute;
          z-index: 1;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background: rgba(255,255,255,0.7);
          text-decoration: none;
          color: $text-color;
          font-size: 1rem;
          line-height: 1.3rem;
          font-weight: 600;

          i{
            display: block;
            margin: 70px auto 10px;
            width: 28px;
            height: 28px;
          }

          span{
            display: block
          }


          &.btn-upload-image{
            i{
              background: url("../img/icons/upload-image.png") no-repeat center;
              background-size: contain;
            }
          }

          &.btn-fb-image{
            i{
              background: url("../img/icons/fb-image.png") no-repeat center;
              background-size: contain;
            }
          }
        }

        .user-avatar{
          width: 100%;
          height: auto;
          display: block;
        }

      }

    }

  }
}

// Locations End
// Contact us

#contact-us{
  margin: 60px auto 0;
}

// Contact us End
// Footer
#footer{
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 2;

  #banner{
    max-width: 728px;
    max-height: 90px;
    -webkit-border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;
    border-radius: 5px 5px 0 0;
    margin: 0 auto;
    box-shadow: 0px -1px 3px 0px rgba(0,0,0,0.25);

    a{
      display: block;

      img{
        display: block;
        width: 100%;
        height: auto;
      }
    }


  }

}


#who-are-we{
  margin: 30px auto;
  font-weight: 300;

  .content-view{
    padding: 15px 2.5rem;

    .row{
      margin-bottom: 2rem;
    }

  }

  p{
    text-align: justify;
    font-size: 1rem;
    line-height: 1.4rem;
  }

  img{
    display: block;
    margin: 0 auto;
    max-height: 180px;
    height: 100%;
    width: auto;
  }
}

// Footer End
// Media Queries

@media (min-width: 1400px){

  .container {
    max-width: 1300px;
  }

}

@media (min-width: 1200px) and (max-width: 1400px){

}
@media (min-width: 992px) and (max-width: 1200px){

  #navigation{

    .navbar-nav{
      li{
        margin-left: 1rem;
        a{
          font-size: 0.7rem;

          span{

            &.icon{
              width: 20px;
            }

          }
        }
      }
    }
  }

  #dashboard{

    .media{

      .media-left{
        img{
          width: 135px;
          height: 135px;
        }
      }

      .media-body{

        .media-heading{
          font-size: 3rem;
        }

        .media-question {
          font-size: 3rem;
        }

      }
    }

    #user-stats{
      .stat{

        .icon{
          width: 60px;
          height: 60px;

          i{
            width: 30px;
            height: 30px;
            margin: 15px;
          }
        }

        .info{
          font-size: 1.3rem;
          margin-left: 0.3rem;
        }
      }
    }

    .dashboard-block{
      .dashboard-block-wrapper{
        .invites{
          .info{
            width: 70%;
          }
        }

        .no-invites{
          .find-new-friends{
            margin-right: 1.1rem;

            span{
              font-size: 1rem;
            }
          }
          .fgo-icon{
            height: 80px;
          }
        }
      }
    }
  }

  #games{
    #upcoming-games{

      .game-item{

        .game-info{
          .time{
            font-size: 0.6rem;
          }
          .teams{
            font-size: 1rem;
          }
        }

        .game-availability{

          .circles{
            width: 65px;
            height: 65px;
            padding: 12px 0;

            .number{
              font-size: 1.6rem;
              margin-bottom: 0;
            }

            .text{
              font-size: 0.7rem;
            }
          }
        }
      }
    }

    form input#hour, form input#minutes{
      width: 42%;
    }
  }

  .players-list .players-cont .player{
    width: 280px;

    .player-info{
      max-width: 150px;
    }
  }
}

@media (min-width: 544px) and (max-width: 992px){
  .col-md-1, .col-md-10, .col-md-11,
  .col-md-12, .col-md-2, .col-md-3,
  .col-md-4, .col-md-5, .col-md-6,
  .col-md-7, .col-md-8, .col-md-9{
    float:none;
    width: auto;
  }

  #dashboard{

    .media{
      padding: 50px 0;
      .media-left{
        img{
          width: 115px;
          height: 115px;
        }
      }

      .media-body{

        .media-heading{
          font-size: 2rem;
        }

        .media-question {
          font-size: 2rem;
        }

      }
    }

    .dashboard-block{
      margin: 2rem 0;
    }

  }

  form{
    .hour-separator{
      width: 5%;
    }
  }

  .players-list .players-cont .player{
    width: 315px;

    .player-info{
      max-width: 180px;
    }
  }

  #games #game-details .game-info .loc-img-cont,
  #games #history-game-details .game-info .loc-img-cont{
    height: 370px;
  }
}

@media (max-width: 544px){

  #dashboard{

    .media{
      padding: 50px 0;
      .media-left{
        img{
          width: 80px;
          height: 85px;
        }
      }

      .media-body{

        .media-heading{
          font-size: 1rem;
        }

        .media-question {
          font-size: 1rem;
        }

      }
    }


    #user-stats{
      .stat{

        .icon{
          width: 40px;
          height: 40px;

          i{
            width: 20px;
            height: 20px;
            margin: 10px;
          }
        }

        .info{
          font-size: 1.1rem;
          margin-left: 0.3rem;
          max-width: 80%;
        }
      }
    }

    .dashboard-block{
      margin: 2rem 0;
      .dashboard-block-wrapper{
        .invites{
          .info{
            width: 70%;
          }
        }

        .no-invites{
          .find-new-friends{
            margin-right: 1.1rem;

            span{
              font-size: 0.8rem;
            }
          }
          .fgo-icon{
            height: 80px;
          }
        }
      }
    }
  }

  form{
    .hour-separator{
      width: 4%;
    }
  }

  #games #game-details .game-info .date-location,
  #games #history-game-details .game-info .date-location{
    position: relative;
    .date{

      .day{
        font-size: 1.5rem;
      }

      .month{
        font-size: 0.9rem;
      }
    }

    .location{
      .name{
        font-size: 1rem;
      }

      .address{
        font-size: 0.8rem;
      }
    }
  }

  #games #game-details .game-info .game-availability,
  #games #history-game-details .game-info .game-availability{
    text-align: center;
    position: relative;
    right: 0;
    bottom: 0;
    margin: 1rem 0;

    .circles{
      width: 65px;
      height: 65px;

      .number{
        font-size: 1.5rem;
        margin-bottom: 1px;
      }

      .text{
        font-size: 0.7rem;
      }
    }
  }

  #games #game-details .game-info .loc-img-cont,
  #games #history-game-details .game-info .loc-img-cont{
    height: 300px;
  }

  .players-list .players-cont .player{
    width: 100%;
  }

  .comments-list .comment-form #comment-field{
    width: 100%;
    border-radius: 5px;
  }
  
  .comments-list .comment-form #submit-comment{
    width: 100%;
    margin: 10px 0 0;
  }

  .add-guest-form #guest-name-field{
    width: 100%;
    border-radius: 5px;
  }

  .add-guest-form #submit-guest{
    width: 100%;
    margin: 10px 0 0;
  }
}

@media (min-width: 0px) and (max-width: 992px){
  #navigation{

    .navbar-brand{
      //position: absolute;
      //top: 0;
      //left: 50%;
      //-webkit-transform: translateX(-50%);
      //-moz-transform: translateX(-50%);
      //-ms-transform: translateX(-50%);
      //-o-transform: translateX(-50%);
      //transform: translateX(-50%);
      float: none;
      display: block;
      border-bottom: 1px solid #dedede;
      margin: 0;

      img{
        height: 30px;
        display: block;
        margin: 0 auto;
      }
    }

    #mobile-nav-btn{
      display: block;
    }

    #close-nav-btn{
      &.close-show {
        display: block;
      }
    }

    #main-menu{
      display: none;
      position: fixed;
      background: white;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 3;
      padding: 4rem 2rem 1rem;
      overflow: auto;
      overflow-x: hidden;

      &.menu-show{
        display: block;
      }

      li{
        margin: 0;
        float: none;

        a{
          display: block;
          text-align: center;

          span{

            &.text{
              display: none;
            }

          }
        }

        &.dropdown{

          .dropdown-nav{
            position: relative;
            top:auto;
            opacity: 1;
            visibility: visible;
            width: 100%;
            left: 0;
            -webkit-transform: translateX(0);
            -moz-transform: translateX(0);
            -ms-transform: translateX(0);
            -o-transform: translateX(0);
            transform: translateX(0);
            box-shadow: none;

            li{
              display: block;
              margin: 0;
              border-bottom: 1px solid #ddd;
            }
          }

        }
      }
    }

    #nav-notifications{

      li.dropdown{

        #notifications-list{
          position: fixed;
          top: 0;
          left: 0;
          z-index: 3;
          padding-top: 60px;
          overflow: auto;
          max-height: none!important;
          height: 100%;
          border: none;
          border-radius: 0;
          background: #fff;

          &.notification-show{
            top: 0!important;
          }

          ul{
            li{
              a{
                font-size: 0.9rem;
                padding: 0.7rem 0.2rem;

                span{
                  max-width: 80%;
                }
              }
            }
          }
        }
      }
    }
  }


  .page-sub-nav{
    border-radius: 0;
    display: block;

    .btn-secondary{
      display: block;
      float: none;
      border-radius: 0;
    }
  }

  #games {
    #history {
      width: 100%;
    }
  }

  .admin-view .btn-wrapper,
  .player-view .btn-wrapper{
    display: block;
    float: none;
    width: 100%;
  }

  .table-fgo{
    thead{
      th{
        i{
          margin: 0 5px;
        }
        span{
          display: none;
        }
      }
    }
    tbody{
      tr{
        td{
          font-size: 0.8rem;
          span{
            display: block;
            &.score{
              margin: 5px 0;
            }
          }
        }
      }
    }
  }

  #friends #find-friends .search-options a{
    margin: 0.8rem 0;
  }


  form{

    .hours-fields{
      margin-bottom: 1.1rem;
    }

    .hour-separator{
      text-align: center;
      display: inline-block;
    }

    input#hour,
    input#minutes{
      width: 46%;
    }

    #team-1{
      margin-bottom: 1.1rem;
    }
  }

  #games #new-game{
    form #players-wrapper{
      .fgo-players{
        display: block;
        margin-left: 0px;
        margin-top: 20px;

        .player-icon{
          width: 16px;
          height: 24px;
        }
      }
    }
  }


  .comments-list .comments-cont .comment .line-cont{
    display: none;
  }

  .comments-list .comments-cont .comment img{
    margin-bottom: 1.5rem;
  }

  .comments-list .comments-cont .comment .name{
    text-align: center;
  }

  #user #user-settings #upload-tool .col-md-6:first-child{
    border: none;
    margin-bottom: 2rem;
  }

  body.landing-page #content .row .col-md-6{
    display: none;
  }

  body.landing-page #content .row#register{
    margin-top: 5rem;
  }

  body.landing-page #content .row .col-md-6.text-left,
  body.landing-page #content .row .col-md-6.text-right{
    display: block;
    text-align: center;
    height: auto;
    margin: 2.5rem;

    h4{
      text-align: center;
      margin-top: 2rem;
      font-size: 1.8rem;
      padding: 1.8rem 0 0;
      max-width: none;
      width: 90%;

      .step-number{
        top: -75px;
        left: 50%;
        right: auto;
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
        transform: translateX(-50%);
      }
    }

    p{
      text-align: center;
      max-width: none;
      width: 90%;
    }
  }

  body.landing-page #header .fgo-slogan{
    font-size: 2.5rem;
    line-height: 2.9rem;
  }

  body #footer .footer-items .footer-cont .col-md-4{
    text-align: center;
    padding: 0.5rem 0;
  }

  #content{
    padding-bottom: 150px;
  }

  #footer{
    position: relative;
  }
}

// Media Queries End

.has-error {
  .control-label {
    color: red;
  }
}

.ng-hide.ng-hide-animate{
  display: none !important;
}

md-datepicker{
  background: inherit;
}

.cropArea {
  overflow: hidden;
  width:500px;
  height:350px;
}
.cropDiv {
  max-width: none;
  overflow: hidden;
}