<loader class="row" ng-show="isMainLoading"></loader>
<div ng-show="!isMainLoading">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">{{ 'INVITE PEOPLE' | translate}} {{ group.name }}</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <div class="row">
        <div class="col-lg-12">
            <h3>{{ 'FIND YOUR FRIENDS' | translate}}</h3>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    <div class="row">
        <div class="col-lg-12">
            <form>
                <fieldset class="form-group">
                    <label for="name" class="capitalLetter">{{ 'EMAIL' | translate}}</label>
                    <input class="form-control" ng-model="data.email" id="email" type="email" placeholder="{{ 'EMAIL' | translate }}">
                </fieldset>
                <fieldset class="form-group">
                    <label for="name">{{ 'NAME' | translate }}</label>
                    <input class="form-control" id="name" ng-model="data.name" placeholder="{{ 'NAME' | translate }}">
                </fieldset>
                <button class="btn btn-primary" ng-click="search()">{{ 'SEARCH' | translate }}</button>
                <button class="btn btn-primary" ng-click="searchFBFriends()" ng-show="currentUser.hasFacebook">{{ 'SEARCH FACEBOOK FRIENDS' | translate }}</button>
                <button class="btn btn-primary" ng-click="searchGoogleFriends()" ng-show="currentUser.hasGoogle">{{ 'SEARCH GOOGLE FRIENDS' | translate }}</button>
                <!--<a id="login-google" href="/api/v1/auth/google{{redirect_uri}}" ng-show="currentUser.hasGoogle" target="_self" class="btn  btn-primary">{{ 'SEARCH GOOGLE FRIENDS' | translate }}</a>-->
            </form>
        </div>
        <div class="col-lg-12">
            <hr/>
        </div>
        <loader class="row" ng-show="isSearchLoading"></loader>
        <div ng-show="!isSearchLoading">
            <div class="row" ng-show="hasResults">
                <div class="col-lg-12">
                    <h3 ng-show="results.length > 0">{{results.length}} {{ (results.length == 1 ? 'RESULT FOUND' : 'RESULTS FOUND') | translate }}</h3>
                    <h3 ng-show="results.length === 0">{{ 'NO RESULTS FOUND' | translate}}</h3>
                </div>
            </div>
            <div class="row" ng-show="hasResults && results.length > 0">
                <div class="col-lg-12">
                    <div class="list-group">
                        <div ng-repeat="user in results track by $index">
                            <a href="#" class="list-group-item" style="height: 120px">
                                <button type="button" class="btn btn-primary pull-right"
                                        ng-click="invite(user)"
                                        ng-show="!user.alreadyInGroup && !user.alreadyInvited"
                                        >{{ "INVITE" | translate }}</button>
                                <span class="pull-right" ng-show="user.alreadyInGroup">{{ 'ALREADY A GROUP MEMBER' | translate}}</span>
                                <span class="pull-right" ng-show="user.alreadyInvited">{{ 'INVITATION SENT' | translate }}</span>
                                <user-avatar type="small" class="pull-left" style="margin: 0 10px 5px 10px;" user="user"></user-avatar>

                                <h4 class="list-group-item-heading">{{user.email}}
                                </h4>

                                <p class="list-group-item-text">more user info here...</p>
                            </a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr/>
</div>