<loader class="row" ng-show="isMainLoading"></loader>
<div ng-show="!isMainLoading">
    <div class="content-view small-view" ng-show="group">
        
        <a ui-sref="base.managegroup.group({ groupId: group.urlName || group._id })" class="btn-style btn-green btn-join">
             << {{ 'BACK TO THE GROUP' | translate }} "{{ group.name }}"
        </a>
    </div>
    <invite-current-friends refresh="{{refreshFriends}}" invite-friend-action="invite" check-invited="checkInvited"></invite-current-friends>
    <hr/>
</div>