<loader class="row" ng-show="isLoading"></loader>
<div ng-show="!isLoading">
    <div id="groups">

        <div id="group-details" class="content-view small-view">

            <div class="row">

                <div class="col-md-12">
                    <div class="section-title">
                        <div class="title-wrapper">
                            <h2>{{ group.name | unescape }}</h2>
                            <div class="title-underline"></div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-3">
                            <img ng-src="{{ group.imageUrl }}" alt="{{ group.name | unescape }}" class="group-avatar"/>
                        </div>
                        <div class="col-md-9">
                            <p class="group-descr">
                                {{ group.description | unescape }}
                            </p>
                            <div class="group-stats">
                                <div class="members">
                                    {{ 'MEMBERS' | translate }}: <span>{{ group.users.length + group.admin_users.length }}</span>
                                </div>
                                <div class="games">
                                    {{ 'GAMES PLAYED' | translate }}: <span>{{ group.gamesCount || 0 }}</span>
                                </div>
                                <div class="goals">
                                    {{ 'GOALS SCORED' | translate }}: <span>{{ group.goalsCount || 0 }}</span>
                                </div>
                            </div>
                            <div class="group-invite-link" ng-show="group.invitation_code">
                                {{ 'GROUP INVITE URL' | translate }}: <span>{{ groupInviteUrl() }}</span>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="players-list">
                <div class="section-title">
                    <div class="title-wrapper">
                        <h3>{{ "PLAYERS LIST" | translate }}</h3>

                        <div class="title-underline"></div>
                    </div>
                </div>


                <div class="players-cont">
                    <span ng-repeat="user in users track by $index">
                        <player-item player="user" view="'rating'"/>
                    </span>
                </div>
            </div>

            <!--<div class="button-cont" style="padding-bottom: 15px" ng-hide="userIsAdmin || (userIsAdmin && group.invitation_code && !isMobile)">-->
                <!--<button type="button" class="btn btn-success" ui-sref="base.invite.group({ groupId: group.urlName || group._id })" ng-show="userIsAdmin">{{ "INVITE" | translate }}</button>-->
                <!--<button type="button" class="btn btn-facebook" ng-click="inviteThroughFacebook()" ng-show="userIsAdmin && group.invitation_code && !isMobile">{{ 'INVITE THROUGH FACEBOOK' | translate }}</button>-->
                <!--<button type="button" class="btn btn-danger" ng-click="deleteGroup()" ng-show="userIsAdmin">{{ 'DELETE GROUP' | translate }}</button>-->
            <!--</div>-->

            <div class="button-cont" style="padding-bottom: 15px">

                <div class="section-title">
                    <div class="title-wrapper">
                        <h3>{{ "GROUP SETTINGS" | translate }}</h3>
                        <div class="title-underline"></div>
                    </div>
                </div>

                <!-- ADMIN OPTIONS -->

                <div class="admin-view clearfix" ng-show="userIsAdmin">
                    <div class="btn-wrapper">
                        <a ui-sref="base.invite.group({ groupId: group.urlName || group._id })"
                           class="btn-style btn-grey btn-fgo">
                            <i></i>
                            <span>{{ "FGO INVITES" | translate }}</span>
                        </a>
                    </div>

                    <div class="btn-wrapper">
                        <a href="#" class="btn-style btn-grey btn-facebook" ng-click="inviteThroughFacebook()">
                            <i></i>
                            <span>{{ 'FACEBOOK INVITES' | translate }}</span>
                        </a>
                    </div>

                    <!--<div class="btn-wrapper">
                        <a ui-sref=""
                           class="btn-style btn-grey btn-edit">
                            <i></i>
                            <span>{{ "EDIT" | translate }}</span>
                        </a>
                    </div>-->

                    <div class="btn-wrapper">
                        <a href="#" class="btn-style btn-red btn-delete" ng-click="deleteGroup()">
                            <i></i>
                            <span>{{ 'DELETE' | translate}}</span>
                        </a>
                    </div>
                </div>

                <!-- MEMBER OPTIONS -->

                <div class="player-view clearfix" ng-show="!userIsAdmin && !gamePassed">

                    <div class="btn-wrapper" ng-show="!userIsSigned()">
                        <a href="#" class="btn-style btn-green btn-join" ng-click="join()" >
                            <i></i>
                            <span>{{ 'JOIN THE GROUP' | translate }}</span>
                        </a>
                    </div>

                    <div class="btn-wrapper" ng-show="userIsSigned()">
                        <a href="#" class="btn-style btn-red btn-delete" ng-click="leave()">
                            <i></i>
                            <span>{{ 'SIGN OUT THE GROUP' | translate }}</span>
                        </a>
                    </div>

                    <div class="btn-wrapper">
                        <a ui-sref="base.invite.group({ groupId: group.urlName || group._id })"
                           class="btn-style btn-grey btn-fgo">
                            <i></i>
                            <span>{{ "FGO INVITES" | translate }}</span>
                        </a>
                    </div>

                    <div class="btn-wrapper">
                        <a href="#" class="btn-style btn-grey btn-facebook" ng-click="inviteThroughFacebook()">
                            <i></i>
                            <span>{{ 'FACEBOOK INVITES' | translate }}</span>
                        </a>
                    </div>

                </div>
            </div>

            <comments/>

        </div>

    </div>
    <!--
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header"
                ng-class="{'panel-warning' : (userIsAdmin && !userIsOwner), 'panel-success': userIsOwner, 'panel-info': !userIsAdmin}"
                    >{{ 'GROUP' | translate }}: {{group.name}}</h1>
            <h4>
                {{ 'GROUP RANK' | translate }}:
                <span ng-show="userIsAdmin && !userIsOwner">{{ 'ADMIN' | translate }}</span>
                <span ng-show="userIsOwner">{{ 'OWNER' | translate }}</span>
                <span ng-show="!userIsAdmin">{{ 'MEMBER' | translate }}</span>
            </h4>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <h5>{{ 'NUMBER OF PLAYERS' | translate}}: {{ users.length }}</h5>
            <div class="list-group">
                <div ng-repeat="user in users track by $index">

                    <div class="list-group-item" style="height: 120px">
                        <avatar type="normal" class="pull-left" style="margin: 0 10px 5px 10px;" userid="{{user._id}}" height="100"></avatar>
                        <span class="label label-default label-pill pull-right" ng-show="userIsAdmin || user._id == currentUserId" ng-click="removeUser(user)">x</span>
                        <h4 class="list-group-item-heading">{{user.name}}
                            <span style="font-size: 12px;" ng-show="user.isAdminUser">[{{'ADMIN' | translate}}]</span>
                            <span style="font-size: 12px;" ng-show="!user.isAdminUser">[{{'USER' | translate}}]</span>
                        </h4>
                        <p>{{player.name}}</p>
                        <p class="list-group-item-text" ng-show="false">24, Sofia. 5 uchastiq v machove s grupata.</p>
                    </div>
                </div>
            </div>

            <div class="list-group" ng-show="group.invitation_code">
                <label>{{ 'GROUP INVITE URL' | translate }}:</label>
                <input class="form-control" readonly value="{{groupInviteUrl()}}"/>
            </div>

            <button type="button" class="btn btn-success" ui-sref="base.invite.group({ groupId: group.urlName || group._id })" ng-show="userIsAdmin">{{ "INVITE" | translate }}</button>
            <button type="button" class="btn btn-info" ng-click="generateActivationCode()" ng-show="userIsAdmin && !group.invitation_code">{{ "GENERATE GROUP INVITATION CODE" | translate }}</button>
            <button type="button" class="btn btn-facebook" ng-click="inviteThroughFacebook()" ng-show="userIsAdmin && group.invitation_code && !isMobile">{{ 'INVITE THROUGH FACEBOOK' | translate }}</button>
            <button type="button" class="btn btn-warning" ng-click="removeActivationCode()" ng-show="userIsAdmin && group.invitation_code">{{ 'DELETE GROUP INVITATION' | translate }}</button>
            <button type="button" class="btn btn-danger" ng-click="deleteGroup()" ng-show="userIsAdmin">{{ 'DELETE GROUP' | translate }}</button>
        </div>
    </div>

    <div class="row">
        <br/>

        <comments/>
    </div>-->
</div>