<loader class="row" ng-show="isLoading"></loader>
<div ng-show="!isLoading">
    <div id="groups">

        <div id="my-groups-empty" ng-show="groups.length === 0" class="content-view small-view">

            <div class="row">

                <div class="col-md-12">
                    <div class="section-title">
                        <div class="title-wrapper">
                            <h2>{{ 'MY GROUPS' | translate }}</h2>
                            <div class="title-underline"></div>
                        </div>
                    </div>

                    <div class="players-list">
                        <div class="players-cont empty"></div>
                    </div>

                    <div class="call-to-action-msg">
                        <p>
                            {{ 'EMPTY GROUP TEXT 1' | translate }}<br/>
                            {{ 'EMPTY GROUP TEXT 2' | translate }}
                        </p>
                        <a ui-sref="base.newgroup" class="btn-style">{{ 'CREATE A GROUP' | translate }}</a>
                    </div>
                </div>

            </div>

        </div>

        <div id="my-groups" class="content-view small-view" ng-show="groups.length > 0">

            <div class="row">

                <div class="col-md-12">
                    <div class="section-title">
                        <div class="title-wrapper">
                            <h2>{{ 'MY GROUPS' | translate }}</h2>
                            <div class="title-underline"></div>
                        </div>
                    </div>

                    <div class="players-list">
                        <div class="players-cont">
                            <span ng-repeat="group in groups track by $index">
                                <a ui-sref="base.managegroup.group({ groupId: group.urlName || group._id })" class="player">
                                    <div class="player-img">
                                        <img ng-src="{{ group.imageUrl }}" alt="{{ group.name }}"/>
                                    </div>
                                    <div class="player-info">
                                        <div class="name">{{ group.name }}</div>
                                        <div class="members">{{ group.users.length + group.admin_users.length }}</div>
                                        <div class="games">{{ group.gamesCount || 0 }}</div>
                                    </div>
                                </a>
                            </span>
                        </div>
                    </div>

                    <!--<div class="button-cont">
                        <a href="#" class="btn-style">Load More...</a>
                    </div>-->
                </div>

            </div>

        </div>

    </div>

    <!--<div class="row">
        <div ng-repeat="group in groups track by $index">
            <div class="col-lg-4">
                <div class="panel"
                     ng-class="{'panel-warning' : (group.isAdmin && !group.isOwner), 'panel-success': group.isOwner, 'panel-info': !group.isAdmin}">
                    <div class="panel-heading">
                        <h3 class="panel-title">{{group.name}}
                            <div class="pull-right">
                                <span ng-show="group.isAdmin && !group.isOwner">{{ 'ADMIN' | translate }}</span>
                                <span ng-show="group.isOwner">{{ 'OWNER' | translate }}</span>
                                <span ng-show="!group.isAdmin">{{ 'MEMBER' | translate }}</span>
                            </div>
                        </h3>
                    </div>
                    <div class="panel-body" style="min-height: 100px">
                        <ul>
                            <li>{{ 'PLAYERS' | translate }}: {{ group.users.length + group.admin_users.length }}</li>
                            <li>{{ 'GAMES' | translate }}: {{group.games.length}}</li>
                            <li ng-show="group.lastGame">{{ 'LAST GAME' | translate }}: {{group.lastGame.date_time |
                                date:('DATE FORMAT' | translate)}}
                            </li>
                            <li ng-show="group.nextGame">{{ 'NEXT GAME' | translate }}: {{group.nextGame.date_time |
                                date:('DATE FORMAT' | translate)}}
                            </li>
                        </ul>
                    </div>
                    <div class="panel-footer">
                        <a ui-sref="base.managegroup.group({ groupId: group.urlName || group._id })" class="btn btn-primary">{{ "VIEW" |
                            translate }}</a>
                        <a ui-sref="base.invite.group({ groupId: group.urlName || group._id })" class="btn btn-success" ng-show="group.isAdmin || group.isOwner">{{ "INVITE" | translate
                            }}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4">
            <a ui-sref="base.newgroup" class="btn btn-success">{{ 'CREATE A GROUP' | translate }}</a>
        </div>
    </div>-->
</div>