<loader class="row" ng-show="isLoading"></loader>
<div ng-show="!isLoading">
    <div id="groups">

        <div id="create-group" class="content-view small-view">

            <div class="row">

                <div class="col-md-12">
                    <div class="section-title">
                        <div class="title-wrapper">
                            <h2>{{ 'CREATE A GROUP' | translate }}</h2>
                            <div class="title-underline"></div>
                        </div>
                    </div>

                    <form name="newGroup" ng-submit="createGroup(newGroup.$valid)" novalidate>
                        <fieldset class="form-group">
                            <input type="text" class="form-control" id="group-name" placeholder="{{ 'NAME' | translate }}"
                                   ng-model="group.name" ng-required="true">
                        </fieldset>
                        <fieldset class="form-group">
                            <fieldset class="form-group">
                                <file-selector></file-selector>
                            </fieldset>
                        </fieldset>
                        <fieldset class="form-group">
                            <textarea placeholder="{{ 'GROUP DESCRIPTION' | translate}}"
                                      ng-model="group.description"></textarea>
                        </fieldset>

                        <div class="alert alert-warning" role="alert" ng-show="!newGroup.$valid && newGroup.$submitted">
                            <strong>{{ 'WARNING' | translate }}</strong>
                            {{ 'VALIDATION ERROR' | translate }}
                        </div>

                        <input type="submit" class="btn-submit" value="{{ 'CREATE' | translate}}">
                    </form>
                </div>

            </div>

        </div>

    </div>
</div>