<loader class="row" ng-show="isLoading"></loader>
<div ng-show="!isLoading">
    <!-- GAMES -->
    <div class="dashboard-block" ng-if="!hasGameInvites">
        <h4>{{ 'GAME INVITATIONS' | translate }}</h4>

        <div class="dashboard-block-wrapper">
            <div class="no-invites">
                <div class="find-new-friends">
                    <span>{{ 'INVITES PLAY NOW' | translate }}!</span>
                    <a ui-sref="base.findgames()" class="btn-find-more">{{ 'FIND A GAME' | translate }}</a>
                    <a ui-sref="base.newgame()" class="btn-find-more">{{ 'CREATE A GAME' | translate }}</a>
                </div>
                <div class="fgo-icon"></div>
            </div>
        </div>
    </div>
    <div class="dashboard-block" ng-if="hasGameInvites">
        <h4>{{ 'GAME INVITATIONS' | translate }}</h4>

        <div class="dashboard-block-wrapper">
            <div class="invites clearfix" ng-repeat="invite in gameInvites track by $index">
                <div class="info pull-xs-left">{{ invite.createdBy.name || invite.createdBy.email | unescape }} invite you to game
                    "<a ui-sref="base.gamedetails.game({ gameId: invite.game.urlName || invite.game._id })">{{ invite.game.name  | unescape }}</a>"
                </div>

                <div class="invites-controls pull-xs-right">
                    <a href="#" ng-click="inviteAction(invite, 'Accepted')" class="btn-accept">
                        <i></i>
                    </a>
                    <a href="#" ng-click="inviteAction(invite, 'Rejected')" class="btn-cancel">
                        <i></i>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <!-- GROUPS -->
    <div class="dashboard-block group-invites-block" ng-if="!hasGroupInvites">
        <h4>{{ 'GROUP INVITATIONS' | translate }}</h4>

        <div class="dashboard-block-wrapper">
            <div class="no-invites">
                <div class="find-new-friends">
                    <span>{{ 'INVITES FIND FRIENDS' | translate }}!</span>
                    <a ui-sref="base.mygroups()" class="btn-find-more">{{ 'MY GROUPS' | translate }}</a>
                </div>
                <div class="fgo-icon"></div>
            </div>
        </div>

    </div>
    <div class="dashboard-block group-invites-block" ng-if="hasGroupInvites">
        <h4>{{ 'GROUP INVITATIONS' | translate }}</h4>

        <div class="dashboard-block-wrapper">
            <div class="invites clearfix" ng-repeat="invite in groupInvites track by $index">
                <div class="info pull-xs-left">{{ invite.createdBy.name || invite.createdBy.email | unescape }} invite you to group
                    "<a ui-sref="base.managegroup.group({ groupId: invite.group.urlName || invite.group._id })">{{
                        invite.group.name  | unescape }}</a>"
                </div>

                <div class="invites-controls pull-xs-right">
                    <a href="#" ng-click="inviteAction(invite, 'Accepted')" class="btn-accept">
                        <i></i>
                    </a>
                    <a href="#" ng-click="inviteAction(invite, 'Rejected')" class="btn-cancel">
                        <i></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>