<div id="contact-us" class="content-view small-view">
    <div class="section-title">
        <div class="title-wrapper">
            <h2 class="ng-binding">{{ "WRITE US" | translate }}</h2>
            <div class="title-underline"></div>
        </div>
    </div>
    <contact-us></contact-us>
</div>