<loader class="row" ng-show="isLoading"></loader>
<div id="user" ng-hide="isLoading">
    <div id="user-settings" class="content-view small-view">

        <div class="section-title">
            <div class="title-wrapper">
                <h2>{{ 'EDIT USER PROFILE' | translate }}
                </h2>
                <div class="title-underline"></div>
            </div>
        </div>
        
        <input id="file-selector-id" type="file" nv-file-select uploader="uploader" style="display: none;"/>
        <input id="reload-image" type="button" ng-click="reloadImage()" value="Reload" style="display: none;"/>
        <div class="row" id="upload-tool">
            <div class="col-md-3" ng-if="!user.hasFacebook"></div>
            <div class="col-md-6" ng-hide="isMobile">
                <div class="upload-image" ng-hide="imageSelected">
                    <a href="#" class="btn-upload-image btn-upload" ngf-select="imageSelected = true" ng-model="picFile" accept="image/*">
                        <i></i>
                        <span>{{ 'UPLOAD' | translate}}<br>{{ 'NEW IMAGE' | translate }}</span>
                    </a>
                    <img ng-hide="localAvatarUrl" src="/assets/img/upload-default-image.png" alt="Upload Default Image" class="user-avatar">
                    <img ng-show="localAvatarUrl" ng-src="{{localAvatarUrl}}" alt="Upload Default Image" class="user-avatar">
                </div>
                <div class="cropDiv" ng-show="imageSelected">
                    <div ngf-drop ng-model="picFile" ngf-pattern="image/*"
                         class="cropArea">
                        <img-crop image="picFile  | ngfDataUrl"
                                  result-image="croppedDataUrl" ng-init="croppedDataUrl=''">
                        </img-crop>
                    </div>
                    <span style="padding-top-top: 10px">
                        <button ng-click="upload()" class="btn btn-success">{{ 'UPLOAD' | translate }}</button>
                        <button ng-click="cancelUpload()" class="btn btn-warning">{{ 'CANCEL' | translate }}</button>
                    </span>
                </div>
            </div>
            <div class="col-md-6" ng-if="isMobile">
                <div class="upload-image">
                    <a href="#" class="btn-upload-image btn-upload" ng-click="uploadBtnClicked()">
                        <i></i>
                        <span>Upload<br>New Image</span>
                    </a>
                    <img ng-hide="localAvatarUrl" src="/assets/img/upload-default-image.png" alt="Upload Default Image" class="user-avatar">
                    <img ng-show="localAvatarUrl" ng-src="{{localAvatarUrl}}" alt="Upload Default Image" class="user-avatar">
                </div>
            </div>
            <div class="col-md-6" ng-if="user.hasFacebook">
                <div class="upload-image">
                    <a href="#" ng-click="loadFacebookImage()" class="btn-fb-image btn-upload" ng-hide="facebookAvatarUrl">
                        <i></i>
                        <span>{{ 'USE YOUR' | translate }}<br>{{ 'FACEBOOK IMAGE' | translate }}</span>
                    </a>
                    <img ng-hide="facebookAvatarUrl" src="/assets/img/upload-default-image.png" alt="Upload Default Image" class="user-avatar">
                    <img ng-show="facebookAvatarUrl" ng-src="{{facebookAvatarUrl}}" alt="Upload Default Image" class="user-avatar">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <form name="editProfile" ng-submit="saveProfile(editProfile.$valid)" novalidate>
                    <fieldset class="form-group">
                        <input type="email" class="form-control" id="user-email" readonly="" ng-model="user.email">
                    </fieldset>

                    <fieldset class="form-group" ng-show="user.hasLocal">
                        <input class="form-control" id="currentPassword" name="currentPassword" ng-model="currentPassword"
                               type="password"
                               placeholder="{{ 'CURRENT PASSWORD' | translate }}">
                    </fieldset>

                    <password-confirm ng-model="newPassword" hide-labels="true" allowempty="true" passwordlabel="user.hasLocal ? 'NEW PASSWORD' : ''"></password-confirm>

                    <div class="form-group" ng-class="{'has-error' : (editProfile.name.$invalid && !editProfile.name.$pristine && !submitting)}">
                        <input type="text" class="form-control" id="first-name" placeholder="{{ 'FULL NAME' | translate}}"
                               ng-model="user.name"
                               ng-required="true"
                               name="name" id="name"/>

                        <label
                                class="control-label"
                                ng-show='(editProfile.name.$invalid && !editProfile.name.$pristine  && !submitting)'>
                            {{ 'REQUIRED FIELD' | translate }}
                        </label>
                    </div>

                    <fieldset class="form-group" style="text-align: left">
                        <md-datepicker id="birthDate" ng-model="user.birthDate"></md-datepicker>
                    </fieldset>

                    <fieldset class="form-group">
                        <country-selector selected-country-id="user.countryId"></country-selector>
                    </fieldset>

                    <fieldset class="form-group">
                        <input type="text" class="form-control" id="city" placeholder="{{ 'CITY' | translate }}" ng-model="user.city">
                    </fieldset>

                    <fieldset class="form-group">
                        <input type="number" class="form-control" id="height" placeholder="{{ 'HEIGHT' | translate }}" ng-model="user.height">
                    </fieldset>

                    <fieldset class="form-group">
                        <input type="number" class="form-control" id="weight" placeholder="{{ 'WEIGHT' | translate }}" ng-model="user.weight">
                    </fieldset>

                    <fieldset class="form-group">
                        <select class="form-control" id="strong-foot" ng-model="user.strongFoot">
                            <option disabled value="">{{ 'STRONG FOOT' | translate }}</option>
                            <option value='STRONG FOOT LEFT'>{{ 'STRONG FOOT LEFT' | translate }}</option>
                            <option value='STRONG FOOT RIGHT'>{{ 'STRONG FOOT RIGHT' | translate }}</option>
                            <option value='STRONG FOOT BOTH'>{{ 'STRONG FOOT BOTH' | translate }}</option>
                        </select>
                    </fieldset>

                    <fieldset class="form-group">
                        <select id="position" ng-model="user.preferredPosition" class="form-control">
                            <option disabled value="">{{ 'PREFERRED POSITION' | translate }}</option>
                            <option value='0'>{{ 'NONE' | translate }}</option>
                            <option value='1'>{{ 'KEEPER' | translate }}</option>
                            <option value='2'>{{ 'DEFENDER' | translate }}</option>
                            <option value='3'>{{ 'MIDFIELDER' | translate }}</option>
                            <option value='4'>{{ 'ATTACKER' | translate }}</option>
                        </select>
                    </fieldset>

                    <fieldset class="form-group">
                        <input id="should-receive-game-invite-mails" type="checkbox" ng-model="user.shouldReceiveGameInviteMails" />
                        <label for="should-receive-game-invite-mails"><span></span>{{ 'SHOULD RECEIVE GAME INVITE MAILS' | translate }}</label>
                    </fieldset>

                    <fieldset class="form-group form-last-group">
                        <input type="radio" id="game-type-1" name="game-type" checked
                               value="true" ng-model="user.public"/>
                        <label for="game-type-1"><span></span>{{ 'PUBLIC' | translate }}</label>

                        <input type="radio" id="game-type-2" name="game-type"
                               ng-model="user.public" value="false"/>
                        <label for="game-type-2"><span></span>{{ 'PRIVATE' | translate }}</label>
                    </fieldset>

                    <input type="submit" class="btn-submit" value="{{ 'UPDATE PROFILE' | translate }}">
                </form>
            </div>
        </div>
    </div>

</div>