<loader class="row" ng-show="isLoading"></loader>
<div ng-show="!isLoading">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">{{ 'USER PROFILE' | translate }}</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    <div class="row">
        <div class="col-lg-12">
            <form name="editProfile" ng-submit="saveProfile(editProfile.$valid)" novalidate>
                <fieldset class="form-group" ng-class="{'has-error' : (editProfile.name.$invalid && editProfile.$submitted)}">
                    <label for="name">{{ 'EMAIL' | translate }}</label>
                    <input class="form-control" id="email" name="email" ng-model="user.email" readonly="readonly">
                </fieldset>

                <fieldset class="form-group" ng-class="{'has-error' : (editProfile.name.$invalid && editProfile.$submitted)}">
                    <label for="name">{{ 'NAME' | translate }}</label>
                    <input class="form-control" id="name" name="name" ng-model="user.name"
                           placeholder="{{ 'ENTER NAME' | translate }}"
                           ng-required="true"
                            >

                    <label  class="control-label" ng-show='(editProfile.name.$invalid && editProfile.$submitted)'>{{ 'REQUIRED FIELD: NAME' | translate }}</label>

                </fieldset>

                <fieldset class="form-group" >
                    <button type="checkbox" data-toggle="button" class="btn btn-default" ng-click="changePassword = !changePassword" formnovalidate="formnovalidate">{{ (user.hasLocal ? 'CHANGE PASSWORD' : 'ENTER PASSWORD')| translate }}</button>
                    <a ui-sref="base.friends.list" class="btn btn-success">{{ 'MANAGE FRIENDS' | translate }}</a>
                </fieldset>

                <!--password-->
                <div ng-show="changePassword">
                    <fieldset class="form-group" ng-show="user.hasLocal"
                              ng-class="{'has-error' : (editProfile.currentPassword.$invalid && !editProfile.currentPassword.$pristine) || (editProfile.$submitted && !initialPasswordMissing && editProfile.currentPassword.$pristine)}">
                        <label for="currentPassword">{{ 'CURRENT PASSWORD' | translate }}</label>
                        <input class="form-control" id="currentPassword" name="currentPassword" ng-model="currentPassword"
                               type="password"
                               placeholder="{{ 'CURRENT PASSWORD' | translate }}"
                               ng-required="changePassword && user.hasLocal">

                        <label  class="control-label" ng-show='(editProfile.currentPassword.$invalid && !editProfile.currentPassword.$pristine) || (editProfile.$submitted && !initialPasswordMissing && editProfile.currentPassword.$pristine)'>{{ 'REQUIRED FIELD' | translate }}</label>
                        <label  class="control-label" ng-show='wrongCurrentPassword'>{{ 'WRONG CURRENT PASSWORD' | translate }}</label>
                    </fieldset>

                    <password-confirm ng-model="newPassword" ng-show="changePassword" allowempty="{{!changePassword}}" passwordlabel="{{ user.hasLocal ? 'NEW PASSWORD' : '' }}"></password-confirm>
                </div>

                <div class="form-group">
                    <label for="preferredPosition">{{ 'PREFERRED POSITION' | translate }}</label>
                    <select id="preferredPosition" ng-model="user.preferredPosition" class="form-control">
                        <option value='0'>{{ 'NONE' | translate }}</option>
                        <option value='1'>{{ 'KEEPER' | translate }}</option>
                        <option value='2'>{{ 'DEFENDER' | translate }}</option>
                        <option value='3'>{{ 'MIDFIELDER' | translate }}</option>
                        <option value='4'>{{ 'ATTACKER' | translate }}</option>
                    </select>
                </div>

                <fieldset class="form-group" ng-show="user.hasFacebook || user.hasGoogle">
                    <label>{{ 'AVATAR' | translate }}:</label>
                    <ul class="no-bullet">
                        <li ng-show="user.hasFacebook">
                            <label class="c-input c-radio" >
                                <input id="radio-fb-avatar" name="radio" type="radio" checked="checked" ng-model="user.preferredAvatar" value="1">
                                Facebook
                                <avatar id="fb-avatar" preferred="1" userid="currentUser._id"></avatar>
                            </label>
                        </li>
                        <li ng-show="user.hasGoogle">
                            <label class="c-input c-radio" >
                                <input id="radio-google-avatar" name="radio" type="radio" checked="checked" ng-model="user.preferredAvatar" value="2">
                                Google
                                <avatar id="google-avatar" preferred="2" userid="currentUser._id"></avatar>

                            </label>
                        </li>
                        <li>
                            <label class="c-input c-radio">
                                <input id="radio-gravatar" name="radio" type="radio" checked="checked" ng-model="user.preferredAvatar" value="3">
                                Default
                                <avatar id="gravatar" preferred="3" userid="currentUser._id"></avatar>
                            </label>
                        </li>
                    </ul>
                </fieldset>

                <fieldset class="form-group" ng-hide="user.hasFacebook">
                    <a id="login-facebook" href="/api/v1/auth/facebook/link/?targetEmail={{user.email}}" target="_self" class="btn btn-facebook">{{ 'LINK FACEBOOK' | translate }}</a>
                </fieldset>
                <fieldset class="form-group" ng-hide="user.hasGoogle">
                    <a id="login-google" href="/api/v1/auth/google/link/?targetEmail={{user.email}}" target="_self" class="btn btn-google">{{ 'LINK GOOGLE' | translate }}</a>
                </fieldset>

                <fieldset class="form-group" ng-show="false && (user.hasLocal || user.hasGoogle) && user.hasFacebook">
                    <button type="button" class="btn btn-warning" formnovalidate="formnovalidate" ng-click="disconnectFacebook()">{{ 'DISCONNECT FACEBOOK' | translate }}</button>
                </fieldset>
                <fieldset class="form-group" ng-show="false && (user.hasLocal || user.hasFacebook) && user.hasGoogle">
                    <button type="button" class="btn btn-warning" formnovalidate="formnovalidate" ng-click="disconnectGoogle()" >{{ 'DISCONNECT GOOGLE' | translate }}</button>
                </fieldset>

                <button type="submit" class="btn btn-primary">{{ 'UPDATE' | translate }}</button>
                <button type="button" class="btn btn-secondary" formnovalidate="formnovalidate">{{ 'CANCEL' | translate }}</button>
            </form>
        </div>
    </div>
</div>