<loader class="row" ng-show="isLoading"></loader>
<div id="user" ng-hide="isLoading">

    <form id="user-details" class="content-view small-view">

        <div class="row">
            <div class="col-md-12">
                <div class="info" style="text-align: center">
                    <user-avatar type="normal" user="user" width="215" height="215" class="user-avatar"></user-avatar>
                    <div class="name">{{ user.name | unescape }}</div>
                    <div ng-show="!isCurrentUser">
                        <input type="submit" ng-show="!areAlreadyFriends" class="btn-submit" ng-click="addFriend()" value="{{ 'ADD FRIEND' | translate }}">
                        <!--<label style="color: green" ng-show="areAlreadyFriends">{{ 'ALREADY A FRIEND' | translate }}</label>-->
                    </div>
                    <div class="position">{{ user.preferredPositionText }}</div>
                    <table class="table table-striped">
                        <tbody>
                        <tr>
                            <td>{{ 'DATE OF BIRTH' | translate }}</td>
                            <td ng-show="user.birthDate">{{ user.birthDate | date:('DATE FORMAT' | translate) }}</td>
                            <td ng-hide="user.birthDate">{{ 'NOT AVAILABLE' | translate }}</td>
                        </tr>
                        <tr>
                            <td>{{ 'COUNTRY' | translate }}</td>
                            <td ng-show="user.countryId">{{ user.countryName }}</td>
                            <td ng-hide="user.countryId">{{ 'NOT AVAILABLE' | translate }}</td>
                        </tr>
                        <tr>
                            <td>{{ 'CITY' | translate }}</td>
                            <td ng-show="user.city">{{ user.city | unescape }}</td>
                            <td ng-hide="user.city">{{ 'NOT AVAILABLE' | translate }}</td>
                        </tr>
                        <tr>
                            <td>{{ 'HEIGHT' | translate }}</td>
                            <td ng-show="user.height">{{ user.height }} {{ 'CM' | translate}}</td>
                            <td ng-hide="user.height">{{ 'NOT AVAILABLE' | translate }}</td>
                        </tr>
                        <tr>
                            <td>{{'WEIGHT' | translate }}</td>
                            <td ng-show="user.weight">{{ user.weight }} {{ 'KG' | translate}}</td>
                            <td ng-hide="user.weight">{{ 'NOT AVAILABLE' | translate }}</td>
                        </tr>
                        <tr>
                            <td>{{ 'STRONG FOOT' | translate }}</td>
                            <td ng-show="user.strongFoot">{{ user.strongFoot | translate }}</td>
                            <td ng-hide="user.strongFoot">{{ 'NOT AVAILABLE' | translate }}</td>
                        </tr>
                        <tr>
                            <td>{{ 'GAMES PLAYED COUNT' | translate }}</td>
                            <td>{{ user.games || 0}}</td>
                        </tr>
                        <tr>
                            <td>{{ 'GOALS SCORED' | translate}}</td>
                            <td>{{ user.goals || 0}}</td>
                        </tr>
                        <tr>
                            <td>{{ 'MAN OF THE MATCH' | translate}}</td>
                            <td>{{ user.manOfTheMatch || 0}}</td>
                        </tr>
                        <tr>
                            <td>{{ 'AVERAGE RATING' | translate}}</td>
                            <td ng-show="user.rating">{{ user.rating }}</td>
                            <td ng-hide="user.rating">{{ 'NOT AVAILABLE' | translate }}</td>
                        </tr>
                        <tr ng-show="isCurrentUser">
                            <td>{{ 'PUBLIC' | translate}}</td>
                            <td>{{ (user.public ?  'YES' : 'NO' ) | translate }}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <player-reviews></player-reviews>
    </form>

</div>