@import "compass/reset";
@import "compass/css3/opacity";
@import "compass/css3/box-shadow";
@import "compass/css3/transform";
@import "compass/css3/transition";
@import "compass/utilities/sprites";

// Sprite Setup

$icons-spacing: 50px;
@import "../img/icons/*.png";
@include all-icons-sprites;
$icons: sprite-map("../img/icons/*.png", $spacing: 10px);

// Sprite Setup End
// Variables

$OpenSansPath: "./fonts/OpenSans" !default;
$OpenSansVersion: "1.1.0" !default;

$font-stack: 'Open Sans', Arial, sans-serif;

$green-color: #B2CD12;
$text-color: #414140;
$max-width: 1440px;

// Variables End
// Mixin

@mixin transition($transition-property, $transition-time, $method, $delay) {
  -webkit-transition: $transition-property $transition-time $method $delay;
  -moz-transition: $transition-property $transition-time $method $delay;
  -ms-transition: $transition-property $transition-time $method $delay;
  -o-transition: $transition-property $transition-time $method;
  transition: $transition-property $transition-time $method $delay;
}

@mixin fontdef($OpenSansPath, $OpenSansVersion, $FontType:"Regular") {
  src:  url('#{$OpenSansPath}/#{$FontType}/OpenSans-#{$FontType}.eot?v=#{$OpenSansVersion}');
  src:  url('#{$OpenSansPath}/#{$FontType}/OpenSans-#{$FontType}.eot?#iefix&v=#{$OpenSansVersion}') format('embedded-opentype'),
  url('#{$OpenSansPath}/#{$FontType}/OpenSans-#{$FontType}.woff2?v=#{$OpenSansVersion}') format('woff2'),
  url('#{$OpenSansPath}/#{$FontType}/OpenSans-#{$FontType}.woff?v=#{$OpenSansVersion}') format('woff'),
  url('#{$OpenSansPath}/#{$FontType}/OpenSans-#{$FontType}.ttf?v=#{$OpenSansVersion}') format('truetype'),
  url('#{$OpenSansPath}/#{$FontType}/OpenSans-#{$FontType}.svg?v=#{$OpenSansVersion}##{$FontType}') format('svg');
}

// Mixin End
// Font Embed End

@font-face {
  font-family: 'Open Sans';
  @include fontdef($OpenSansPath, $OpenSansVersion, "Light");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  @include fontdef($OpenSansPath, $OpenSansVersion, "Regular");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  @include fontdef($OpenSansPath, $OpenSansVersion, "Semibold");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  @include fontdef($OpenSansPath, $OpenSansVersion, "Bold");
  font-weight: 800;
  font-style: normal;
}

// Font Embed End
// Main Settings
html{
  height: 100%;
  overflow-x: none;
}
body{
  font-family: "Open Sans", "Arial", "sans-serif";
  font-size: 1rem;
  color: $text-color;
  background: url("../img/backgrounds/home-bg.jpg") center center no-repeat #fff;
  background-attachment: fixed;
  -webkit-background-size: cover;
  background-size: cover;
  height: 100%;
  overflow-x: none;
}

// Main Settings End
// Navigation

#navigation{
  background: rgba(255,255,255,0.9);
  border-bottom: 1px solid #ccc;

  .navbar{
    padding: 0 1rem;
  }

  #mobile-nav-btn{
    display: none;
    text-decoration: none;
    color: $text-color;
    font-size: 1.3rem;
    font-weight: 600;
    padding: 1.15rem 0;

    i{
      background: url("../img/icons/mobile-nav.png") no-repeat center center;
      display: inline-block; 
      width: 15px;
      height: 25px;
      -webkit-background-size: contain;
      background-size: contain;
      vertical-align: middle;
    }

    span{
      display: inline-block;
      vertical-align: middle;
    }
  }

  #close-nav-btn{
    position: fixed;
    z-index: 4;
    display: none;
    text-align: center;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem 0;
    background: #fff;

    i{
      background: url("../img/icons/close.png") no-repeat center center;
      display: inline-block;
      width: 25px;
      height: 25px;
      -webkit-background-size: contain;
      background-size: contain;
      vertical-align: middle;
    }
  }

  .navbar-brand{
    margin-right: 3rem;
    padding-top: 0.64rem;
    padding-bottom: 0.64rem;
    
    img{
      height: 40px;
      width: auto;
      display: block;
    }
  }

  .navbar-nav{
    
    li{
      margin-left: 2rem;
      position: relative;

      &:first-child{
        margin-left: 0rem;
      }

      &:hover,
      &.active{

        a.nav-link{
          color: $green-color;

          span {
            &.text {
              position: relative;
              .line {
                width: 50%;
              }
            }
          }
        }
      }

      a{
        padding-top: 1.1rem;
        padding-bottom: 1.1rem;
        color: $text-color;
        font-size: 0.9rem;
        font-weight: 600;

        @include transition(color, 0.3s, ease-in-out, 0s);

        span{
          display: inline-block;
          vertical-align: middle;

          &.icon{
            margin-right: 0.2rem;
            height: 26px;
            width: 24px;
            background-position: center;
            background-repeat: no-repeat;
            -webkit-background-size: contain;
            background-size: contain;

            &.icon-dashboard{
              background-image: url("../img/icons/dashboard.png");
            }

            &.icon-games{
              background-image: url("../img/icons/games.png");
            }

            &.icon-friends{
              background-image: url("../img/icons/friends.png");
            }

            &.icon-groups{
              background-image: url("../img/icons/groups.png");
            }

            &.icon-locations{
              background-image: url("../img/icons/locations.png");
            }

            &.icon-who-are-we{
              background-image: url("../img/icons/who-are-we.png");
            }

            &.icon-notifications{
              background-image: url("../img/icons/notifications.png");
              position: relative;

              .notifications-count{
                display: inline-block;
                width: 18px;
                height: 18px;
                -webkit-border-radius: 50%;
                -moz-border-radius: 50%;
                border-radius: 50%;

                background: #F90000;
                color: #fff;
                font-size: 0.5rem;
                line-height: 1.08rem;
                font-weight: 600;

                text-align: center;
                position: absolute;
                bottom: -5px;
                left: -5px;
              }
            }

            &.icon-settings{
              background-image: url("../img/icons/settings.png");
            }
          }

          &.text{
            position: relative;

            .line{
              width: 0%;
              height: 2px;
              background: $green-color;
              display: block;
              position: absolute;
              bottom: -5px;
              left: 1px;

              @include transition(all, 0.3s, ease-in-out, 0s);
            }
          }
        }
      }

      &.dropdown{

        &:hover{
          .dropdown-nav{
            visibility: visible;
            opacity: 1;
            top: 62px;
          }
        }

        .dropdown-nav{
          display: block;
          visibility: hidden;
          position: absolute;
          background: rgba(255, 255, 255, 0.9);
          -webkit-border-radius: 0 0 5px 5px;
          -moz-border-radius: 0 0 5px 5px;
          border-radius: 0 0 5px 5px;
          padding: 0 0.4rem;
          top: 52px;
          opacity: 0;
          box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.25);
          @include transition(all, 0.4s, ease-in-out, 0s);
          z-index: 3;

          li{
            display: block;
            margin: 0;
            border-bottom: 1px solid #ddd;
            
            &:last-child{
              border: none;
            }

            a{
              display: block;
              padding: 0.4rem 0.5rem;
              font-size: 0.8rem;
              font-weight: 400;
              text-align: center;
              
              &:hover,
              &.active{
                color: $green-color;
                text-decoration: none;
              }
            }
          }
        }
      }
    }

    .dropdown-left{
      left: 0;
    }

    .dropdown-right{
      right: 0;
    }

    .dropdown-center{
      left: 50%;
      -webkit-transform: translateX(-50%);
      -moz-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      -o-transform: translateX(-50%);
      transform: translateX(-50%);
    }

    .dropdown-small{
      min-width: 110px;
    }

    .dropdown-middle{
      min-width: 150px;
    }

    .dropdown-large{
      min-width: 260px;
    }
  }

  #nav-notifications{

    li{
      margin-left: 1.5rem;

      &.dropdown {

        #profile-settings{
          &.settings-show{
            visibility: visible;
            opacity: 1;
            top: 62px;
          }
        }

        #notifications-list{
          overflow-x: hidden;
          overflow-y: auto;
          max-height: 160px;

          &.notification-show{
            visibility: visible;
            opacity: 1;
            top: 62px;
          }

          ul{
            width: 100%;
          }
          li{
            clear: both;
            width: 100%;

            a{
              font-size: 0.75rem;
              padding: 0.3rem 0.2rem;
              display: block;
              font-weight: 300;

              span{
                display: block;
                float: left;
                max-width: 220px;
                line-height: 16px;
                text-align: left;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
              }
              
              i{
                display: block;
                float: right;
                width: 16px;
                height: 16px;
                background-position: center;
                background-repeat: no-repeat;
                -webkit-background-size: contain;
                background-size: contain;
              }
            }
            
            &.new-game {
              i{
                background-image: url("../img/icons/notification-new.png");
              }
            }

            &.game-canceled {
              i{
                background-image: url("../img/icons/notification-canceled.png");
              }
            }

            &.game-update {
              i{
                background-image: url("../img/icons/notification-updated.png");
              }
            }

            &.game-review-open {
              i{
                background-image: url("../img/icons/notification-rating.png");
              }
            }

          }
        }
        .dropdown-nav {
          li{
            margin: 0;
          }
        }

        &:hover{
          .dropdown-nav{
            visibility: hidden;
            opacity: 0;
            top: 52px;
          }
        }
      }
    }
  }
}

// Navigation End
// Universal Classes
#content{
  padding-bottom: 110px;
}

.section-title{
  text-align: center;
  margin: 0 0 20px;

  .title-wrapper{
    display: inline-block;

    h2{
      font-size: 1.6rem;
      font-weight: 300;
      display: block;
    }

    .title-underline{
      height: 1px;
      width: 50%;
      margin: 10px auto 0;
      background: #979797;
    }

  }
}

.table-fgo{
  background: #fff;
  border-color: #ccc;
  margin-bottom: 10px;

  thead{
    th{
      background: #F0F0F0;
      border-color: #ccc;
      border-bottom: 1px solid #ccc;
      text-align: center;
      color: #414140;
      font-weight: 300;
      padding: .4rem;
      vertical-align: middle;

      i{
        display: inline-block;
        vertical-align: middle;
        width: 18px;
        height: 18px;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        margin-right: 5px;

        &.table-date{
          background-image: url("../img/icons/table-date.png");
        }
        &.table-final-score{
          background-image: url("../img/icons/table-final-score.png");
        }
        &.table-location{
          background-image: url("../img/icons/table-location.png");
        }
        &.table-players{
          background-image: url("../img/icons/table-players.png");
        }
      }

      span{
        display: inline-block;
        vertical-align: middle;
      }
    }
  }

  tbody{
    tr {
      cursor: pointer;

      td {
        padding: .4rem;
        background: #fff;
        border-color: #ccc;
        font-size: 0.8rem;
        text-align: center;
        color: #414140;
        font-weight: 300;
        line-height: 1.1rem;
        vertical-align: middle;

        span {
          display: inline-block;
          vertical-align: middle;

          &.score {
            font-size: 1.1rem;
            font-weight: 600;
            margin: 0 5px;
          }

          &.winner {
            color: $green-color;
            font-weight: 600;
          }
        }

        &:last-child {
          font-weight: 600;
        }
      }

      &:hover{
        td{
          background: #f0f0f0;
        }
      }
    }
  }
}

.pagination-fgo{

  .page-item{
    
    &.active{
      .page-link{
        background-color: $green-color;
        color: #fff;
      }
    }
    
    .page-link{
      padding: 0;
      width: 30px;
      height: 30px;
      font-size: 0.8rem;
      line-height: 29px;
      text-align: center;
      background-color: #F0F0F0;
      border-color: #ccc;
      text-decoration: none;
      color: #414140;

      &.prev-link{
        background: url("../img/icons/pagination-arrow-prev.png") no-repeat center;
        background-color: #F0F0F0;
        background-size: 45%;
      }
      &.next-link{
        background: url("../img/icons/pagination-arrow-next.png") no-repeat center;
        background-size: 45%;
        background-color: #F0F0F0;
      }

      &:hover{
        background-color: #ddd;
      }
    }
    
  }
  
}

form{

  input{
    color: #414140;
    font-weight: 300;
    font-size: 1rem;
    border-radius: 5px;
    border: 1px solid #ccc;

    &#hour,
    &#minutes {
      display: inline-block;
      width: 44%;
      vertical-align: middle;
      text-align: center;
      padding-left: 0;
      padding-right: 0;
    }


    &[type="radio"] {
      display:none;
    }

    &[type="radio"] + label {
      color: #414140;
      font-size: 1rem;
      font-weight: 300;
      margin-right: 15px;
      padding: 0.3rem 0;
    }

    &[type="radio"] + label span {
      display:inline-block;
      width:20px;
      height:20px;
      margin:-3px 10px 0 0;
      vertical-align:middle;
      cursor:pointer;
      -moz-border-radius:  50%;
      border-radius:  50%;
      @include transition(all, 0.4s, ease-in-out, 0s);
    }

    &[type="radio"] + label span {
      background-color: #fff;
      border: 1px solid #ccc;
    }

    &[type="radio"]:checked + label span{
      background-color: $green-color;
      border: 1px solid $green-color;
    }

  }

  select{
    color: #414140;
    font-weight: 300;
    font-size: 1rem;
    border-radius: 5px;
    border: 1px solid #ccc;
    height: 38px;
    position: relative;
    -webkit-appearance: none;
    -moz-appearance: none;

    background-image: url('../img/icons/select-icon.png')!important;
    background-repeat: no-repeat;
    background-position: 98%;
    background-size: 4px;
  }

  .alert-warning{
    background: #F90000;
    color: #fff;
    font-weight: 300;

    strong{
      font-weight: 600;
    }
  }

  .btn-submit{
    background: $green-color;
    border: none;
    box-shadow: none;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    color: #fff;
    font-weight: 600;
    font-size: 1.1rem;
    margin: 0.5rem 0;
    padding: 1rem .75rem;
    max-width: 280px;
    width: 80%;
    @include transition(all, 0.4s, ease-in-out, 0s);

    &:hover{
      opacity: 0.8;
    }
  }
}

// Universal Classes End
// Dashboard

#dashboard{

  padding: 0 1rem;

  .media{

    padding: 80px 0;
    
    .media-left{
      padding-right: 1rem;
      
      img{
        width: 150px;
        height: 150px;
        border: 1px solid #fff;
        border-radius: 10px;
        box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.25);
      }
    }

    .media-body{

      .media-heading{
        font-weight: 800;
        font-size: 3.5rem;
        padding: 0.8rem 0 0.3rem;
      }

      .media-question {
        font-weight: 800;
        font-size: 3.5rem;
        padding: 0.3rem 0 0.8rem;
      }

    }
  }

  #user-stats{

    .stat{
      display: block;
      text-align: left;
      margin: 1rem 0;

      .icon{
        width: 80px;
        height: 80px;
        border-radius: 50%;
        background: #40403F;
        display: inline-block;
        vertical-align: middle;
        text-align: center;
        position: relative;

        i{
          display: inline-block;
          vertical-align: middle;
          width: 40px;
          height: 40px;
          margin: 20px;
          background-position: center;
          background-repeat: no-repeat;
          -webkit-background-size: contain;
          background-size: contain;
        }
      }

      &.next-game{
        i{
          background-image: url("../img/icons/next-game.png");
        }
      }

      &.total-games{
        i{
          background-image: url("../img/icons/games-played.png");
        }
      }

      &.total-rating{
        i{
          background-image: url("../img/icons/rating.png");
        }
      }

      &.total-goals{
        i{
          background-image: url("../img/icons/goals.png");
        }
      }

      &.total-best{
        i{
          background-image: url("../img/icons/man-of-the-match.png");
        }
      }


      .info{
        display: inline-block;
        vertical-align: middle;
        font-weight: 300;
        font-size: 1.6rem;
        margin-left: 1rem;

        strong{
          font-weight: 600;
        }
      }

    }

  }
  
  .dashboard-block{
    background: #40403F;
    border-radius: 5px;
    color: #fff;
    padding: 0.5rem;

    &.group-invites-block{
      margin-top: 15px;
    }

    h4{
      font-size: 1.4rem;
      font-weight: 300;
      text-align: center;
      margin: 0 0 15px;
    }
    
    .dashboard-block-wrapper{
      height: 100px;
      overflow: auto;

      .no-invites{
        text-align: center;

        .find-new-friends{
          display: inline-block;
          vertical-align: middle;
          margin-right: 1.5rem;

          span{
            font-weight: 300;
            font-size: 1.3rem;
            font-style: italic;
            display: block;
          }

          .btn-find-more{
            color: #40403F;
            background: $green-color;
            border-radius: 5px;
            display: block;
            font-weight: 600;
            font-size: 1rem;
            margin: 10px 0 0;
            padding: 0.4rem 0.6rem;
            @include transition(all, 0.4s, ease-in-out, 0s);

            &:hover{
              text-decoration: none;
              opacity: 0.8;
            }
          }

        }
        
        .fgo-icon{
          width: 55px;
          height: 95px;
          display: inline-block;
          vertical-align: middle;
          background-position: center;
          background-repeat: no-repeat;
          -webkit-background-size: contain;
          background-size: contain;
          background-image: url("../img/icons/fgo-icon.png");

        }

      }

      .invites{
        display: block;
        padding: 0.25rem 0;
        border-bottom: 1px solid rgba(240, 240, 240, 0.15);

        .info{
          background: url("../img/icons/invites.png") no-repeat 5px center;
          -webkit-background-size: 18px 18px;
          background-size: 18px 18px;
          padding: 0.3rem 0 0.3rem 30px;
          font-weight: 300;
          font-size: 0.85rem;
          max-width: 340px;
          width: 80%;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
        }

        .invites-controls{
          text-align: center;

          .btn-accept,
          .btn-cancel{
            width: 20px;
            height: 20px;
            display: inline-block;
            margin: 0 2px;
            background-position: center;
            background-repeat: no-repeat;
            -webkit-background-size: contain;
            background-size: 60%;
            border-radius: 50%;
            opacity: 0.8;
            @include transition(all, 0.4s, ease-in-out, 0s);

            &:hover{
              opacity: 1;
            }
          }

          .btn-accept{
            background-image: url("../img/icons/accept.png");
            background-color: $green-color;
          }

          .btn-cancel{
            background-image: url("../img/icons/cancel.png");
            background-color: #FF0000;
          }
        }


      }
    }
  }

}

// Dashboard End
// Games

#games{
  text-align: center;

  .page-sub-nav{
    margin: 30px 0;
    box-shadow: 0 2px 3px rgba(0,0,0,0.2);
    border-radius: 5px;

    .btn-secondary{
      min-width: 165px;
      text-align: center;
      font-size: 1rem;
      border: none;
      @include transition(all, 0.4s, ease-in-out, 0s);
      
      &:hover,
      &.active{
        color: #fff;
        background: $green-color;
      }
    }
  }

  #upcoming-games{

    .game-item{
      max-width: 420px;
      width: 100%;
      margin: 0 auto 40px;
      height: 360px;
      background-color: #FFFFFF;
      display: block;
      box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.30);
      text-decoration: none;

      &.no-event{
        background-color: rgba(255,255,255,0.8);
        background-image: url("../img/icons/fgo-icon-big.png");
        background-position: center;
        background-size: 20%;
        background-repeat: no-repeat;
      }

      .location-image{
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        width: 100%;
        height: 180px;
        position: relative;

        .pitch-price{
          background: $green-color;
          border-radius: 0 5px 5px 0;
          color: #fff;
          font-weight: 300;
          font-size: 0.8rem;
          position: absolute;
          z-index: 1;
          top: 20px;
          left: 0;
          display: block;
          padding: 0.3rem 0.5rem;

          span{
            font-weight: 600;
          }
        }
        .pitch-location{
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          padding: 0.4rem 0;
          background: rgba(0, 0, 0, 0.5);
          text-align: left;
          color: #fff;
          font-weight: 300;

          i{
            background: url("../img/icons/game-location.png") no-repeat;
            -webkit-background-size: contain;
            background-size: contain;
            display: inline-block;
            vertical-align: middle;
            width: 20px;
            height: 20px;
            margin: 0 5px 0 10px;
          }
          span{
            display: inline-block;
            vertical-align: middle;
          }
        }

      }

      .game-info{
        margin: 1rem auto;
        text-align: center;
        .time{
          font-size: 0.8rem;
          font-weight: 400;
          color: $green-color;
        }
        .teams{
          font-size: 1.3rem;
          font-weight: 300;
          color: #40403F;
          margin: 5px 0 0;
          span{
            font-weight: 800;
          }
        }
      }

      .game-availability{

        .circles{
          display: inline-block;
          background: #F0F0F0;
          box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.30);
          border-radius: 50%;
          color: #40403F;
          width: 85px;
          height: 85px;
          margin: 0 1.5%;
          padding: 15px 0;

          .number{
            display: block;
            font-size: 2rem;
            font-weight: 600;
            text-align: center;
            margin-bottom: 5px;
          }

          .text{
            display: block;
            font-size: 0.8rem;
            font-weight: 300;
            text-align: center;
          }

          &.players-available{
            background: $green-color;
            color: #fff;
          }
        }
      }
    }
  }

  #history{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px 1.2rem;
    background: rgba(255,255,255,0.8);
    box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.30);
  }

  #new-game{
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    padding: 15px 1.2rem;
    background: rgba(255,255,255,0.8);
    box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.30);

    form{
      max-width: 800px;
      margin: 0 auto;
      width: 94%;

      .form-group{
        margin-bottom: 1.1rem;
        text-align: left;

        #btn-new-location{
          color: $green-color;
          font-size: 0.8rem;
          margin: 0 0 5px;
          font-weight: 600;
        }

        .hours-fields {
          text-align: left;
        }

        .calendar-btn {
          display: block;
          position: absolute;
          top: 0;
          right: 16px;
          width: 40px;
          height: 38px;
          background-image: url('../img/icons/calendar-btn.png');
          background-repeat: no-repeat;
          background-position: center;
          background-size: 20px;
          border-left: 1px solid #ccc;
          z-index: 1;
        }


        &.form-last-group{
          border-bottom: 1px solid #ccc;
          padding: 0.5rem 0 1.2rem 0;
        }
      }

      #players-wrapper{
        text-align: left;

        .players-count{
          display: inline-block;
          vertical-align: middle;
          padding: .375rem 0;
          max-width: 50px;
          text-align: center;
          margin: 0 5px;
        }

        .arrows {
          display: inline-block;
          vertical-align: middle;
          width: 36px;
          height: 36px;
          border: 1px solid #ccc;
          background-color: #fff;
          border-radius: 5px;

          -webkit-background-size: 45%;
          background-size: 45%;
          background-position: center;
          background-repeat: no-repeat;
          @include transition(all, 0.4s, ease-in-out, 0s);

          &.players-down {
            background-image: url('../img/icons/pagination-arrow-prev.png');
          }
          &.players-up {
            background-image: url('../img/icons/pagination-arrow-next.png');
          }
          &:hover {
            background-color: #ddd;
          }
        }

        .fgo-players{
          display: inline-block;
          vertical-align: middle;
          margin-left: 10px;

          .player-icon{
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
            background-image: url('../img/icons/fgo-icon-count.png');
            width: 19px;
            height: 34px;
            margin: 0 2px;
            display: inline-block;
          }
        }
      }
    }
  }
}

// Games End
// Footer

#footer{
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 2;

  #banner{
    max-width: 728px;
    max-height: 90px;
    -webkit-border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;
    border-radius: 5px 5px 0 0;
    margin: 0 auto;
    box-shadow: 0px -1px 3px 0px rgba(0,0,0,0.25);

    img{
      width: 100%;
      height: auto;
    }
  }
  
}

// Footer End
// Media Queries

@media (min-width: 1400px){

  .container {
    max-width: 1300px;
  }

}

@media (min-width: 992px) and (max-width: 1200px){

  #navigation{

    .navbar-nav{
      li{
        margin-left: 1rem;
        a{
          font-size: 0.7rem;

          span{

            &.icon{
              width: 20px;
            }

          }
        }
      }
    }
  }

  #dashboard{

    .media{

      .media-left{
        img{
          width: 135px;
          height: 135px;
        }
      }

      .media-body{

        .media-heading{
          font-size: 3rem;
        }

        .media-question {
          font-size: 3rem;
        }

      }
    }

    #user-stats{
      .stat{

        .icon{
          width: 60px;
          height: 60px;

          i{
            width: 30px;
            height: 30px;
            margin: 15px;
          }
        }

        .info{
          font-size: 1.3rem;
          margin-left: 0.3rem;
        }
      }
    }

    .dashboard-block{
      .dashboard-block-wrapper{
        .invites{
          .info{
            width: 70%;
          }
        }

        .no-invites{
          .find-new-friends{
            margin-right: 1.1rem;

            span{
              font-size: 1rem;
            }
          }
          .fgo-icon{
            height: 80px;
          }
        }
      }
    }
  }

  #games{
    #upcoming-games{

      .game-item{

        .game-info{
          .time{
            font-size: 0.6rem;
          }
          .teams{
            font-size: 1rem;
          }
        }

        .game-availability{

          .circles{
            width: 65px;
            height: 65px;
            padding: 12px 0;

            .number{
              font-size: 1.6rem;
              margin-bottom: 0;
            }

            .text{
              font-size: 0.7rem;
            }
          }
        }
      }
    }

    form input#hour, form input#minutes{
      width: 42%;
    }
  }
}

@media (min-width: 544px) and (max-width: 992px){
  .col-md-1, .col-md-10, .col-md-11,
  .col-md-12, .col-md-2, .col-md-3,
  .col-md-4, .col-md-5, .col-md-6,
  .col-md-7, .col-md-8, .col-md-9{
    float:none;
    width: auto;
  }

  #dashboard{

    .media{
      padding: 50px 0;
      .media-left{
        img{
          width: 115px;
          height: 115px;
        }
      }

      .media-body{

        .media-heading{
          font-size: 2rem;
        }

        .media-question {
          font-size: 2rem;
        }

      }
    }

    .dashboard-block{
      margin: 2rem 0;
    }

  }

  form{
    .hour-separator{
      width: 5%;
    }
  }
}

@media (max-width: 544px){

  #dashboard{

    .media{
      padding: 50px 0;
      .media-left{
        img{
          width: 80px;
          height: 85px;
        }
      }

      .media-body{

        .media-heading{
          font-size: 1rem;
        }

        .media-question {
          font-size: 1rem;
        }

      }
    }


    #user-stats{
      .stat{

        .icon{
          width: 40px;
          height: 40px;

          i{
            width: 20px;
            height: 20px;
            margin: 10px;
          }
        }

        .info{
          font-size: 1.1rem;
          margin-left: 0.3rem;
          max-width: 80%;
        }
      }
    }

    .dashboard-block{
      margin: 2rem 0;
      .dashboard-block-wrapper{
        .invites{
          .info{
            width: 70%;
          }
        }

        .no-invites{
          .find-new-friends{
            margin-right: 1.1rem;

            span{
              font-size: 0.8rem;
            }
          }
          .fgo-icon{
            height: 80px;
          }
        }
      }
    }
  }

  #games{

    .page-sub-nav{
      border-radius: 0;
      display: block;

      .btn-secondary{
        display: block;
        float: none;
        border-radius: 0;
      }
    }
  }

  form{
    .hour-separator{
      width: 4%;
    }
  }
}

@media (min-width: 0px) and (max-width: 992px){
  #navigation{

    .navbar-brand{
      float: none;
      display: block;
      border-bottom: 1px solid #dedede;
      margin: 0;

      img{
        display: block;
        margin: 0 auto;
      }
    }

    #mobile-nav-btn{
      display: block;
    }

    #close-nav-btn{
      &.close-show {
        display: block;
      }
    }

    #main-menu{
      display: none;
      position: fixed;
      background: white;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 3;
      padding: 4rem 2rem 1rem;
      overflow: auto;
      overflow-x: hidden;

      &.menu-show{
        display: block;
      }

      li{
        margin: 0;
        float: none;

        a{
          display: block;
          text-align: center;

          span{

            &.text{
              display: none;
            }

          }
        }

        &.dropdown{

          .dropdown-nav{
            position: relative;
            top:auto;
            opacity: 1;
            visibility: visible;
            width: 100%;
            left: 0;
            -webkit-transform: translateX(0);
            -moz-transform: translateX(0);
            -ms-transform: translateX(0);
            -o-transform: translateX(0);
            transform: translateX(0);
            box-shadow: none;

            li{
              display: block;
              margin: 0;
              border-bottom: 1px solid #ddd;
            }
          }

        }
      }
    }

    #nav-notifications{

      li.dropdown{
        #notifications-list{
          position: fixed;
          top: 0;
          left: 0;
          z-index: 3;
          padding-top: 60px;
          overflow: auto;
          max-height: none!important;
          height: 100%;
          border: none;
          border-radius: 0;
          background: #fff;

          &.notification-show{
            top: 0!important;
          }

          ul{
            li{
              a{
                font-size: 0.9rem;
                padding: 0.7rem 0.2rem;

                span{
                  max-width: 80%;
                }
              }
            }
          }
        }
      }
    }
  }
  #games {
    #history {
      width: 100%;
    }
  }

  .table-fgo{
    thead{
      th{
        i{
          margin: 0 5px;
        }
        span{
          display: none;
        }
      }
    }
    tbody{
      tr{
        td{
          font-size: 0.8rem;
          span{
            display: block;
            &.score{
              margin: 5px 0;
            }
          }
        }
      }
    }
  }


  form{

    .hours-fields{
      margin-bottom: 1.1rem;
    }

    .hour-separator{
      text-align: center;
      display: inline-block;
    }

    input#hour,
    input#minutes{
      width: 46%;
    }

    #team-1{
      margin-bottom: 1.1rem;
    }
  }

  #games #new-game{
    form #players-wrapper{
      .fgo-players{
        display: block;
        margin-left: 0px;
        margin-top: 20px;

        .player-icon{
          width: 16px;
          height: 24px;
        }
      }
    }
  }


}

// Media Queries End