<StackLayout>

  <!-- Upcoming Game Info -->
  <StackLayout *ngIf="upcoming">
    <Label
        text="NEXT GAME">
    </Label>
    <Label
      text="{{upcoming.dateTime}}">
    </Label>
    <Label
      text="{{upcoming.locationName}}">
    </Label>
    <Label
      text="{{upcoming.numberOfPlayers}} People">
    </Label>
  </StackLayout>

  <!-- Game invite section -->
  <StackLayout *ngIf="gameInvites.length > 0">
    <ul>
      <li *ngFor="let gameInvite of gameInvites">
        <Label text="New Game Invitation"></Label>
        <Label text="{{ gameInvite.dateTime }}"></Label>
        <Label text="at"></Label>
        <Label text="{{ gameInvite.locationName }}"></Label>
      </li>
    </ul>
  </StackLayout>

  <StackLayout *ngIf="gameInvites === 0">
    <Label
        text="no game invites">
    </Label>
  </StackLayout>

  <!-- Group invite section -->
  <StackLayout *ngIf="groupInvites.length > 0">
    <ul>
      <li *ngFor="let groupInvite of groupInvites">
        <Label text="New Group Invitation"></Label>
        <Label text="{{ groupInvite.name }}"></Label>
        <Label text="from"></Label>
        <Label text="{{ groupInvite.createdByName || groupInvite.createdByEmail }}"></Label>
      </li>
    </ul>
  </StackLayout>

  <StackLayout *ngIf="groupInvites === 0">
    <Label
        text="no group invites">
    </Label>
  </StackLayout>

</StackLayout>