<loader class="row" ng-show="isLoading"></loader>
<div class="row" ng-if="!isLoading">
    <div id="locations">

        <div id="my-locations">

            <div class="row">
                <location-results locations="locations" view="'grid'"></location-results>
            </div>

        </div>

    </div>

</div>