<div ng-if="view === 'grid'">
    <div id="search-result-list" class="row">
        <div class="col-md-6" data-ng-repeat="location in locations track by $index">
            <a ui-sref="base.location.view({ id: location._id })" target="_self" class="location-item" style="background-image: url({{ location.imageUrl }});">
                <div class="location-price" ng-show="location.price">{{ location.price  | unescape }} lv</div>
                <div class="location-name">{{ location.name | unescape }}</div>
            </a>
        </div>

        <div class="col-md-6" data-ng-repeat="r in range() track by $index">
            <div class="location-item no-location">
                <img src="/assets/img/location-empty.png" alt="Location Empty"/>
                <p>{{ 'FIND YOUR FAVOURITE PLACE' | translate }}!</p>
                <a ui-sref="base.location.find" class="btn-style btn-find-field">{{ 'FIND LOCATION' | translate }}</a>
            </div>
        </div>
    </div>
</div>
<div ng-if="view === 'map'">
    <div class="map-cont" ng-if="showMap">
        <ui-gmap-google-map center='map.center' zoom='map.zoom' options="map.options"
            events="map.events">
            <ui-gmap-marker ng-repeat="m in existingMarkers"
                            coords="m.coords"
                            options="m.options"
                            idKey="m.id">
                <ui-gmap-window ng-cloak  coords="m.coords">
                    <p>{{ 'FIELD NAME' | translate  | unescape }}: <a ui-sref="base.location.view({ id: $parent.m.id })"> {{ m.name  | unescape }}</a>, {{ 'ADDRESS' | translate  | unescape }}: {{ m.formattedAddress  | unescape }}</p>
                </ui-gmap-window>
            </ui-gmap-marker>
        </ui-gmap-google-map>
    </div>
</div>
