<loader class="row" ng-show="isLoading"></loader>
<div ng-show="!isLoading">
    <div id="locations">

        <div id="new-locations" class="content-view small-view">

            <div class="row">

                <div class="col-md-12">
                    <div class="section-title">
                        <div class="title-wrapper">
                            <h2>{{ 'NEW LOCATION' | translate }}</h2>
                            <div class="title-underline"></div>
                        </div>
                    </div>

                    <form name="newLocation" ng-submit="create(newLocation.$valid)" novalidate>
                        <fieldset class="form-group">
                            <input type="text" class="form-control"
                                   id="name" name="FieldName" ng-model="location.name"
                                   placeholder="{{ 'ENTER NAME' | translate }}"
                                   ng-required="true">
                        </fieldset>

                        <fieldset class="form-group">
                            <input class="form-control"
                                   name="FieldsCount" data-ng-model="location.totalFieldsCount"
                                   type="number" min="1" max="22"
                                   placeholder="{{ 'TOTAL FIELDS' | translate }}: 7">
                        </fieldset>

                        <fieldset class="form-group">
                            <input type="text" class="form-control"
                                   name="FieldPhone" data-ng-model="location.phone"
                                   placeholder="{{ 'PHONE NUMBER' | translate }}: 08xx xxx xxx">
                        </fieldset>

                        <fieldset class="form-group">
                            <input class="form-control" name="FieldPlayersCount" data-ng-model="location.playersCount"
                                   type="number" min="2" max="22"
                                   placeholder="{{ 'MAX PLAYERS PER FIELD' | translate }}: 12">
                        </fieldset>

                        <fieldset class="form-group">
                            <input type="text" class="form-control"
                                   name="FieldPrice"
                                   data-ng-model="location.price"
                                   type="text"
                                   maxlength="256"
                                   placeholder="{{ 'FIELD PRICE' | translate }}: 60">
                        </fieldset>

                        <fieldset class="form-group">
                            <file-selector></file-selector>
                        </fieldset>

                        <fieldset class="form-group" id="searchBoxParent">
                            <!--<label for="address" class="capitalLetter">{{ 'ADDRESS' | translate}}</label>-->
                            <script type="text/ng-template" id="searchBox.template.html">
                                <input type="text" ng-model="$parent.$parent.$parent.location.address" id="address"
                                       class="form-control" name="FieldAddress"
                                       placeholder="{{ 'ADDRESS' | translate}}" ng-required="true" />
                            </script>
                            <!--<input type="text" class="form-control" id="field-address" name="field-address" placeholder="Address">-->
                        </fieldset>

                        <div class="map-cont">
                            <ui-gmap-google-map center='map.center' zoom='map.zoom' events="mapEvents">
                                <ui-gmap-search-box template="searchBox.template" parentdiv="searchBox.parentdiv" events="searchBox.events" position="BOTTOM_RIGHT"></ui-gmap-search-box>
                                <ui-gmap-marker ng-if="marker.id"
                                                coords="marker.coords"
                                                options="marker.options"
                                                events="marker.events"
                                                idkey="marker.id">
                                </ui-gmap-marker>

                                <ui-gmap-markers models="existingMarkers" coords="'coords'">
                                </ui-gmap-markers>


                                <!--<ui-gmap-marker ng-repeat="m in existingMarkers"
                                                coords="m.coords"
                                                options="m.options"
                                                idKey="m.id">
                                    <ui-gmap-window ng-cloak  coords="m.coords">
                                        <p>Field name: <a ui-sref="base.location.view({ id: $parent.m.id })"> {{ m.name }}</a>, Address: {{ m.formattedAddress }}</p>
                                    </ui-gmap-window>
                                </ui-gmap-marker>-->
                            </ui-gmap-google-map>
                            <!--<img src="assets/img/google-maps.jpg" alt="Google Maps Place Holder"/>-->
                        </div>

                        <validation-summary form-to-validate="newLocation"></validation-summary>

                        <input type="submit" class="btn-submit" value="{{ 'SAVE LOCATION' | translate }}">
                    </form>
                </div>

            </div>

        </div>

    </div>
</div>