<loader class="row" ng-show="isLoading"></loader>
<div ng-show="!isLoading">
    <div id="locations">

        <div id="find-locations" class="content-view small-view">

            <div class="row">

                <div class="col-md-12">
                    <div class="section-title">
                        <div class="title-wrapper">
                            <h2>{{ 'FIND LOCATION' | translate }}</h2>
                            <div class="title-underline"></div>
                        </div>
                    </div>

                    <form ng-init="search()">
                        <!--TODO: FIX for the next release-->
                        <div class="map-toggle">
                            <a href="#" ng-click="go('map');" ng-class="{active: view === 'map'}" class="toggle-on">ON</a>
                            <a href="#" ng-click="go('grid');" ng-class="{active: view === 'grid'}" class="toggle-off">OFF</a>
                            <div class="label">MAP SEARCH</div>
                            <div class="clearfix"></div>
                        </div>

                        <fieldset class="form-group search-field">
                            <input type="text" class="form-control" id="field-price" ng-model="searchText" placeholder="{{ 'SEARCH BY CITY OR FIELD' | translate }}">
                            <input type="submit" value="" ng-click="search()" class="search-icon"/>
                        </fieldset>
                    </form>

                    <loader class="row" ng-show="isLocationResultsLoading"></loader>
                    <location-results view="view" locations="locations" fav-locations="favLocations"></location-results>

                    <!--<div class="button-cont">
                        <a href="#" class="btn-style">Load More...</a>
                    </div>-->
                </div>

            </div>

        </div>

    </div>
</div>