<loader class="row" ng-show="isLoading"></loader>
<div ng-show="!isLoading">
    <div id="locations">

        <div id="location-details" class="content-view small-view">

            <div class="row">

                <div class="col-md-12">
                    <div class="section-title">
                        <div class="title-wrapper">
                            <h2>{{ location.name | unescape }}</h2>
                        </div>
                    </div>

                    <div class="locations-info">

                        <a href="#" ng-if="!isFavLocation(location._id)" ng-click="addFavLocation(location._id)" class="heart"></a>
                        <!--TODO: Remove fav location on click-->
                        <a href="#" ng-click="removeFavLocation(location._id)" ng-if="isFavLocation(location._id)" class="favorite heart"></a>
                        <div class="price" ng-show="location.price">{{ location.price | unescape }} lv</div>

                        <img ng-src="{{ location.imageUrl }}" alt="{{ location.name | unescape }}" />

                        <div class="location-descr">
                            <i></i>
                            <span class="address">{{ location.formattedAddress | unescape }}, </span>
                            <div class="stat">
                                <!--<span class="fields">7</span>-->
                                <span class="phone">{{ location.phone || '(123) 456-7890' | unescape }}</span>
                                <span class="players">{{ location.playersCount || 12 }}</span>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="location-map">
                <div class="section-title">
                    <div class="title-wrapper">
                        <h3>{{ 'MAP' | translate }}</h3>
                    </div>
                </div>

                <div class="map-cont" ng-if="render">
                    <ui-gmap-google-map center='map.center' zoom='map.zoom' options="map.options" >
                        <!--<ui-gmap-search-box template="searchBox.template" parentdiv="searchBox.parentdiv" events="searchBox.events" position="BOTTOM_RIGHT"></ui-gmap-search-box>-->
                        <ui-gmap-marker ng-if="marker.id"
                                        coords="marker.coords"
                                        options="marker.options"
                                        events="marker.events"
                                        idkey="marker.id">
                        </ui-gmap-marker>
                    </ui-gmap-google-map>
                </div>
            </div>
        </div>
    </div>
</div>