<div class="comments-list">
    <div class="section-title">
        <div class="title-wrapper">
            <h3>{{ 'COMMENTS' | translate }}</h3>
            <div class="title-underline"></div>
        </div>
    </div>

    <div class="comments-cont">
        <div ng-repeat="comment in comments" class="comment">
            <div class="row line-cont">
                <div class="col-md-2">
                    <div class="line"></div>
                </div>
                <div class="col-md-10"></div>
            </div>
            <div class="row">
                <div class="col-md-2">
                    <user-avatar type="large" user="comment.createdBy" alt="{{ comment.createdBy.name || comment.createdBy.email | unescape }}"></user-avatar>
                </div>
                <div class="col-md-10">
                    <div class="name">
                        {{ comment.createdBy.name || comment.createdBy.email  | unescape }} / <span>{{ timeSince(comment.updatedAt) }}</span>
                    </div>
                    <p class="descr">
                        {{ comment.text | unescape }}
                    </p>
                </div>
            </div>
        </div>

        <!--<span ng-hide="comments && comments.length > 0">{{ 'NO COMMENTS YET' | translate}}</span>-->
    </div>
    <div class="comment-form">
        <form  name="submitComment" ng-submit="submitComment(newComment)">
            <fieldset class="form-group clearfix">
                <input type="text" name="comment" ng-model="newComment" class="form-control" id="comment-field" placeholder="{{ 'YOUR COMMENT' | translate }}"/>
                <input type="submit" value="{{ 'SEND' | translate}}" id="submit-comment" class="btn-style"/>
            </fieldset>
        </form>
    </div>
</div>