<div>
	<select id="select-country" ng-change="update()" ng-model="selectedCountryId" class="form-control">
		<option disabled="disabled" value='0' >{{ 'COUNTRY' | translate }}</option>
		<option ng-repeat="country in countries | orderBy : ['order','name']" value='{{country.id}}'>{{country.name}}</option>
	</select>
</div>