<span>
    <input type="text" class="form-control" id="group-image"
           ng-model="selectedPicture"
           placeholder="{{ fileSelectorHolderText }}" readonly>
    <a href="#" class="upload-btn" ng-click="uploadBtnClicked();"></a>
    <input id="file-selector-id" type="file" nv-file-select uploader="uploader" style="display: none;"/>
</span>