<a ui-sref="base.profile.view.user({ userId: player._id})" class="rating" style="text-decoration: none">
    <div class="player-img">
        <img ng-show="player.avatar_url" src="{{ player.avatar_url}}" alt="{{ player.name}}">
        <user-avatar ng-show="player._id" user="player"></user-avatar>
        <a ng-class="{'btn-invite-player': !removeMode, 'btn-remove-friend' : removeMode, 'checked': clicked}" ng-show="iconClick" ng-click="click(player)">
            <span class="text">{{(clickName || 'INVITE') | translate}}</span>
            <span class="icon"></span>
        </a>
    </div>
    <div class="player-info">
        <a ng-show="player._id" ui-sref="base.profile.view.user({ userId: player._id})">
            <div class="name">
                {{ player.name || player.email | unescape }}
            </div>
            <div class="age" ng-hide="!player.age">{{ 'AGE' | translate }} {{ player.age }}</div>
        </a>
        <span ng-hide="player._id">
            <div class="name">
                {{ player.name || player.email | unescape }}
            </div>
            <div class="age" ng-hide="!player.age">{{ 'AGE' | translate }} {{ player.age }}</div>
        </span>
    </div>
</a>