<div class="player">
    <div class="player-img">
        <user-avatar></user-avatar>
        <span ng-click="removeGuestFromGame($event)" class="btn-remove-friend">
            <span class="text">{{ ('UNSIGN') | translate }}</span>
            <span class="icon"></span>
        </span>
    </div>

    <div class="player-info">
        <div class="name">
            {{ 'GUEST' | translate }}: {{ guest.name | unescape }}
        </div>
    </div>
</div>