<div>
    <select ng-model="selectedLocationId" class="form-control">
        <option ng-repeat='location in locations track by $index'
                value='{{location.id}}'>{{location.name}}
        </option>
    </select>
</div>