<a ui-sref="base.profile.view.user({ userId: player._id})" ng-class="{'player': view === 'rating', 'rate-player-img' : view === 'statistics'}">
    <div class="player-img">
        <!--<user-avatar user="player"></user-avatar>-->
        <img ng-show="player.avatar_url" src="{{ player.avatar_url}}" alt="{{ player.name}}">
        <user-avatar user="player"></user-avatar>
        <span ng-show="showRemovePlayer" ng-click="removePlayerFromGame($event)" class="btn-remove-friend">
            <span class="text">{{ ('UNSIGN') | translate }}</span>
            <span class="icon"></span>
        </span>
    </div>

    <div class="player-info">
        <div class="name">
            {{ player.name || player.email | unescape }}
            <span class="man-of-the-match" ng-show="view === 'rating' && game.men_of_the_match.indexOf(player._id) > -1"></span>
        </div>
        <div class="age" ng-hide="view === 'rating' || !player.age">{{ 'AGE' | translate }} {{ player.age }}</div>
        <div class="rating" ng-show="view === 'rating' && player.averageRating">{{ player.averageRating || ('RATING NOT AVAILABLE' | translate) }}</div>
        <div class="rating" ng-show="view === 'rating' && !player.averageRating">{{ player.rating || ('RATING NOT AVAILABLE' | translate) }}</div>
    </div>
</a>