<div class="navbar-default sidebar" role="navigation">
	<div class="sidebar-nav navbar-collapse">
		<ul class="nav" id="side-menu">
			<li>
				<a href="/" data-hash="/"><i class="fa fa-dashboard fa-fw"></i> {{ 'DASHBOARD' | translate }}</a>
			</li>
			<li>
				<a href="/games" data-hash="/games"><i class="fa fa-calendar fa-fw"></i> {{ 'GAMES' | translate }}<span class="fa arrow"></span></a>
				<ul class="nav nav-second-level">
					<li>
						<a ui-sref="base.upcominggames" data-hash="/upcoming-games"><i class="fa fa-history fa-fw"></i> {{ 'UPCOMING GAMES' | translate }}</a>
					</li>
					<li>
						<a ui-sref="base.newgame" data-hash="/new-game"><i class="fa fa-futbol-o fa-fw"></i> {{ 'NEW GAME' | translate }}</a>
					</li>
					<li>
						<a ui-sref="base.gamehistory" data-hash="/game-history"><i class="fa fa-history fa-fw"></i> {{ 'HISTORY' | translate }}</a>
					</li>
				</ul>
				<!-- /.nav-second-level -->
			</li>
			<li>
				<a href=""><i class="fa fa-bar-chart-o fa-users"></i> {{ 'GROUPS' | translate }}<span class="fa arrow"></span></a>
				<ul class="nav nav-second-level">
					<li>
						<a ui-sref="base.newgroup" data-hash="/new-group"><i class="fa fa-plus-square-o fa-fw"></i> {{ 'NEW GROUP' | translate }}</a>
					</li>
					<li>
						<a ui-sref="base.mygroups" data-hash="/my-groups"><i class="fa fa-list fa-fw"></i> {{ 'MY GROUPS' | translate }}</a>
					</li>
				</ul>
				<!-- /.nav-second-level -->
			</li>
			<li>
				<a href=""><i class="fa fa-map-marker"></i> {{ 'LOCATIONS' | translate }}<span class="fa arrow"></span></a>
				<ul class="nav nav-second-level">
					<li>
						<a ui-sref="base.location.find"><i class="fa fa-search fa-fw"></i> {{ 'FIND' | translate }}</a>
					</li>
					<li>
						<a ui-sref="base.location.new" data-hash="/new-location"><i class="fa fa-plus-square-o fa-fw"></i> {{ 'NEW LOCATION' | translate }}</a>
					</li>
					<li>
						<a ui-sref="base.location.favourites" data-hash="/favourite-locations"><i class="fa fa-plus-square-o fa-fw"></i> {{ 'FAVOURITE LOCATIONS' | translate }}</a>
					</li>
				</ul>
			</li>
			<li ng-if="false">
				<a href="/design" target="_self">{{ 'DESIGN' | translate }}</a>
			</li>
			<li ng-if="false">
				<a href="/logout" ng-click="logout()"><i class="fa fa-sign-out fa-fw"></i> {{ 'LOGOUT' | translate }}</a>
			</li>
		</ul>
	</div>
	<!-- /.sidebar-collapse -->
</div>
<!-- /.navbar-static-side -->