<!-- GROUPS -->
<div class="btn-group page-sub-nav" ng-if="mainSelectedItem === mainItemNames.groups" role="group" aria-label="Groups Nav">
    <a ui-sref="base.mygroups" class="btn btn-secondary"
       ng-class="{active:
       subSelectedItem === 'base.mygroups'
       || currentState === 'base.managegroup.group'
       || currentState === 'base.invite.group'}">{{ 'MY GROUPS' | translate }}</a>
    <a ui-sref="base.newgroup" class="btn btn-secondary"
       ng-class="{active: subSelectedItem === 'base.newgroup'}">{{ 'NEW GROUP' | translate }}</a>
</div>

<!-- GAMES -->
<div class="btn-group page-sub-nav" ng-if="mainSelectedItem === mainItemNames.games" role="group" aria-label="Games Nav">
    <a ui-sref="base.upcominggames" class="btn btn-secondary"
       ng-class="{active: subSelectedItem === 'base.upcominggames'
       || currentState === 'base.editgame.game'
       || currentState === 'base.gameinvite.game'
       || (subSelectedItem === 'base.gamedetails.game' && previousState !== 'base.gamehistory')}">{{ 'UPCOMING GAMES' | translate }}</a>
    <a ui-sref="base.findgames" class="btn btn-secondary"
        ng-class="{active: subSelectedItem === 'base.findgames'}">
        {{ 'FIND GAMES' | translate }}
    </a>
    <a ui-sref="base.newgame" class="btn btn-secondary"
       ng-class="{active: subSelectedItem === 'base.newgame'}">{{ 'NEW GAME' | translate }}</a>
    <a ui-sref="base.gamehistory" class="btn btn-secondary"
       ng-class="{
            active: subSelectedItem === 'base.gamehistory'
                || subSelectedItem === 'base.gamestatistics.game'
                || (subSelectedItem === 'base.gamedetails.game' && previousState === 'base.gamehistory')
            }">{{ 'HISTORY' | translate }}</a>
</div>

<!-- LOCATIONS -->
<div class="btn-group page-sub-nav" ng-if="mainSelectedItem === mainItemNames.locations" role="group" aria-label="Groups Nav">
    <a ui-sref="base.location.favourites" class="btn btn-secondary"
       ng-class="{active: subSelectedItem === 'base.location.favourites'}">{{ 'FAVOURITE LOCATIONS' | translate }}</a>
    <a ui-sref="base.location.new" class="btn btn-secondary"
       ng-class="{active: subSelectedItem === 'base.location.new'}">{{ 'NEW LOCATION' | translate }}</a>
    <a ui-sref="base.location.find" class="btn btn-secondary"
       ng-class="{active: subSelectedItem === 'base.location.find'}">{{ 'FIND' | translate }}</a>
</div>

<!-- FRIENDS -->
<div class="btn-group page-sub-nav" ng-if="mainSelectedItem === mainItemNames.friends" role="group" aria-label="Groups Nav">
    <a ui-sref="base.friends.list" class="btn btn-secondary"
       ng-class="{active: subSelectedItem === 'base.friends.list'}">{{ 'VIEW FRIENDS' | translate }}</a>
    <a ui-sref="base.friends.add" class="btn btn-secondary"
       ng-class="{active: subSelectedItem === 'base.friends.add'}">{{ 'FIND MORE FRIENDS' | translate }}</a>
</div>
