<ul class="pagination pagination-fgo">
    <li class="page-item" ng-class="{ 'disabled' : currentPage == 1 }">
        <a class="page-link prev-link" ng-click="prev()" href="#" aria-label="Previous"
                ng-show="hasPrev" ng-click="prev()">
            <span aria-hidden="true"></span>
        </a>
    </li>
    <span
        ng-repeat="pageNumber in pageNumbers track by $index"
            >
        <li class="page-item"
            ng-class="{ active: pageNumber === currentPage }">
            <a class="page-link" href="#" ng-click="navigate(pageNumber)">
                {{ pageNumber }}
            </a>
        </li>
    </span>
    <li class="page-item" ng-class="{ 'disabled' : currentPage == pageNumbers.length }">
        <a class="page-link next-link" href="#" aria-label="Next"
           ng-show="hasNext" ng-click="next()">
            <span aria-hidden="true"></span>
        </a>
    </li>
</ul>