<div id="navigation">
    <div class="container">
        <nav class="navbar">

            <!-- LOGO -->
            <a class="navbar-brand" href="/">
                <img src="/assets/img/fgo-logo-beta.png" alt="FGO Logo"/>
            </a>

            <!-- NAV Links -->
            <a href="javascript:void(0)" target="_self" id="mobile-nav-btn" class="pull-xs-left" onclick="showNav();">
                <i></i>
                <span>{{ 'MENU' | translate }}</span>
            </a>

            <a href="javascript:void(0);" target="_self" id="close-nav-btn" onclick="closeNav();">
                <i></i>
            </a>

            <ul id="main-menu" class="nav navbar-nav">
                <li class="nav-item"
                        ng-class="{active: selectedItem == itemNames.dashboard }">
                    <a class="nav-link" href="/">
                        <span class="icon icon-dashboard"></span>
                            <span class="text">
                                {{ 'DASHBOARD' | translate }}
                                <i class="line"></i>
                            </span>

                    </a>
                </li>
                <li class="nav-item dropdown"
                    ng-class="{active: selectedItem == itemNames.games }">
                    <a class="nav-link" ui-sref="base.upcominggames">
                        <span class="icon icon-games"></span>
                            <span class="text">
                                {{ 'GAMES' | translate }}
                                <i class="line"></i>
                            </span>
                    </a>
                    <ul class="dropdown-nav dropdown-center dropdown-middle">
                        <li>
                            <a ui-sref="base.upcominggames">{{ 'UPCOMING GAMES' | translate }}</a>
                        </li>
                        <li>
                            <a ui-sref="base.findgames">{{ 'FIND GAMES' | translate }}</a>
                        </li>
                        <li>
                            <a ui-sref="base.newgame">{{ 'NEW GAME' | translate }}</a>
                        </li>
                        <li>
                            <a ui-sref="base.gamehistory">{{ 'HISTORY' | translate }}</a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item dropdown"
                    ng-class="{active: selectedItem == itemNames.friends }">
                    <a class="nav-link" ui-sref="base.friends.list">
                        <span class="icon icon-friends"></span>
                            <span class="text">
                                {{ 'FRIENDS' | translate }}
                                <i class="line"></i>
                            </span>
                    </a>
                    <ul class="dropdown-nav dropdown-center dropdown-middle">
                        <li>
                            <a ui-sref="base.friends.list">{{ 'VIEW FRIENDS' | translate }}</a>
                        </li>
                        <li>
                            <a ui-sref="base.friends.add">{{ 'FIND MORE FRIENDS' | translate }}</a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item dropdown"
                    ng-class="{active: selectedItem == itemNames.groups }">
                    <a class="nav-link" ui-sref="base.mygroups">
                        <span class="icon icon-groups"></span>
                            <span class="text">
                                {{ 'GROUPS' | translate }}
                                <i class="line"></i>
                            </span>
                    </a>
                    <ul class="dropdown-nav dropdown-center dropdown-middle">
                        <li>
                            <a ui-sref="base.mygroups">{{ 'MY GROUPS' | translate }}</a>
                        </li>
                        <li>
                            <a ui-sref="base.newgroup">{{ 'NEW GROUP' | translate }}</a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item dropdown"
                    ng-class="{active: selectedItem == itemNames.locations }">
                    <a class="nav-link" ui-sref="base.location.favourites">
                        <span class="icon icon-locations"></span>
                            <span class="text">
                                {{ 'LOCATIONS' | translate }}
                                <i class="line"></i>
                            </span>
                    </a>
                    <ul class="dropdown-nav dropdown-center dropdown-middle">
                        <li>
                            <a ui-sref="base.location.favourites">
                                {{ 'FAVOURITE LOCATIONS' | translate }}
                                <!--My locations-->
                            </a>
                        </li>
                        <li>
                            <a ui-sref="base.location.new">
                                <!--Add location-->
                                {{ 'NEW LOCATION' | translate }}
                            </a>
                        </li>
                        <li>
                            <a ui-sref="base.location.find">{{ 'FIND' | translate }}
                                <!-- Find location -->
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item"
                    ng-class="{active: selectedItem == itemNames.about }">
                    <a ui-sref="base.who" class="nav-link">
                        <span class="icon icon-who-are-we"></span>
                            <span class="text">
                                {{ 'WHO ARE WE' | translate }}
                                <i class="line"></i>
                            </span>
                    </a>
                </li>
                <li class="nav-item dropdown"
                    ng-class="{active: selectedItem == itemNames.administration }" ng-show="showAdministration">
                    <a class="nav-link" ui-sref="base.admin.sendMail">
                        <span class="icon icon-administration"></span>
                            <span class="text">
                                {{ 'ADMINISTRATION' | translate }}
                                <i class="line"></i>
                            </span>
                    </a>
                    <ul class="dropdown-nav dropdown-center dropdown-middle">
                        <li>
                            <a ui-sref="base.admin.sendMail">
                                {{ 'SEND MAIL' | translate }}
                                <!--My locations-->
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>


            <ul id="nav-notifications" class="nav navbar-nav pull-xs-right">
                <li class="nav-item">
                    <div class="lang-nav">
                        <a href="#" ng-click="changeLanguage('bg')"
                           ng-class="currentLanguage == 'bg' ? 'active' : 'normal'">BG</a>
                        <span>/</span>
                        <a href="#" ng-click="changeLanguage('en')"
                           ng-class="currentLanguage == 'en' ? 'active' : 'normal'">EN</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link" href="javascript:void(0);"  onclick="showSettings();">
                        <span class="icon icon-settings"></span>
                    </a>
                    <ul id="profile-settings" class="dropdown-nav dropdown-right dropdown-small">
                        <li>
                            <a ui-sref="base.profile.view.user({userId: currentUser._id})" data-hash="/profile/view" onclick="showSettings();">
                                {{ 'USER PROFILE' | translate }}
                                <!--My Profile-->
                            </a>
                        </li>
                        <li>
                            <a ui-sref="base.profile.edit" data-hash="/profile/edit" onclick="showSettings();" style="white-space: nowrap">
                                {{ 'EDIT USER PROFILE' | translate }}
                                <!--My Profile-->
                            </a>
                        </li>
                        <!--<li style="padding: 0.4rem 0.5rem; font-size: 0.8rem; font-weight: 400; text-align: center;">-->
                            <!--<div class="text-nowrap">-->
                                <!--<a style='display: inline;' href="#" ng-click="changeLanguage('bg')"-->
                                   <!--ng-style="{'font-weight': currentLanguage == 'bg' ? 'bold' : 'normal'}"  onclick="showSettings();">BG</a>-->
                                <!--|-->
                                <!--<a style='display: inline;' href="#" ng-click="changeLanguage('en')"-->
                                   <!--ng-style="{'font-weight': currentLanguage == 'en' ? 'bold' : 'normal'}"  onclick="showSettings();">EN</a>-->
                            <!--</div>-->
                        <!--</li>-->
                        <li style="display:none">
                            <a href="#"  onclick="showSettings();">
                                {{ 'SETTINGS' | translate }}
                            </a>
                        </li>
                        <!--<li>-->
                            <!--<a ui-sref="base.profile.contact">-->
                                <!--{{ 'CONTACT US' | translate }}-->
                            <!--</a>-->
                        <!--</li>-->
                        <li>
                            <a href="#" ng-click="logoutFromTop();">
                                {{ 'LOGOUT' | translate }}
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
    </div>
</div>