<div class="alert alert-warning" ng-show="!formToValidate.$valid && formToValidate.$submitted" role="alert">
    <strong>{{ 'WARNING' | translate }}</strong>
    {{ 'VALIDATION ERROR' | translate }}

    <div style="margin-top: 10px;"></div>
    <ul style="margin-top: 5px;" ng-repeat="(key, errors) in formToValidate.$error track by $index">
        <li ng-repeat="e in errors">{{ 'FIELD' | translate }} <strong>{{ e.$name | translate }}</strong> {{ 'HAS AN ERROR' | translate }}: <strong>{{ key | translate }}</strong></li>
    </ul>
</div>