<head>
    <meta charset="utf-8">
    <title>Калкулатор на оценки</title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
</head>
<body>
<div style="padding-top: 30px; padding-left: 20px; padding-bottom: 30px;">
    Въведете точки:
    <input type="text" id="txtInput" />
    <input type="button" id="btnCalculate" value="Пресметни" />
</div>
<div id="tblResults" style="display: none; padding-left: 20px;">
    <table>
        <thead>
        <th>
            <h3>
                Оценка</h3>
        </th>
        <th>
            <h3>
                Точки</h3>
        </th>
        </thead>
        <tr>
            <td>
                За 2.00
            </td>
            <td>
                <span id="span2" />
            </td>
        </tr>
        <tr>
            <td>
                За 3.00
            </td>
            <td>
                <span id="span3" />
            </td>
        </tr>
        <tr>
            <td>
                За 3.50
            </td>
            <td>
                <span id="span35" />
            </td>
        </tr>
        <tr>
            <td>
                За 4.00
            </td>
            <td>
                <span id="span4" />
            </td>
        </tr>
        <tr>
            <td>
                За 4.50
            </td>
            <td>
                <span id="span45" />
            </td>
        </tr>
        <tr>
            <td>
                За 5.00
            </td>
            <td>
                <span id="span5" />
            </td>
        </tr>
        <tr>
            <td>
                За 5.50
            </td>
            <td>
                <span id="span55" />
            </td>
        </tr>
        <tr>
            <td>
                За 6.00
            </td>
            <td>
                <span id="span6" />
            </td>
        </tr>
    </table>
</div>
<div style="padding-top: 50px; padding-left: 20px; display: none" id="divCheck">
    Въведете точки за oценка:
    <input type="text" id="tbCheck" />
    <input type="button" id="bntCheck" value="Провери" />
    <div id="divResult" style="display: none">
        Оценка: <span id="spanCheck" />
    </div>
</div>
<script type="text/javascript">
    var grades = {
        three : [],
        threeAndAHalf : [],
        four : [],
        fourAndAHalf : [],
        five : [],
        fiveAndAHalf : [],
        six : []
    };

    if (!Array.prototype.indexOf) {
        Array.prototype.indexOf = function (obj, start) {
            for (var i = (start || 0), j = this.length; i < j; i++) {
                if (this[i] === obj) { return i; }
            }
            return -1;
        }
    }


    $("#txtInput").keyup(function(event){
        if(event.keyCode == 13){
            $("#btnCalculate").click();
        }
    });

    $("#btnCalculate").click(function () {
        grades.three.length = 0
        grades.threeAndAHalf.length = 0;
        grades.four.length = 0;
        grades.fourAndAHalf.length = 0;
        grades.five.length = 0;
        grades.fiveAndAHalf.length = 0;
        grades.six.length = 0;

        var total = parseInt($("#txtInput").val());
        var pointsFor2 = parseInt(total / 2) - 1;
        var remaining = total - pointsFor2 - 1;
        var base = pointsFor2 + 1;

        // we have total or 3 point to distribute (from 3 to 6)
        var onePoint = (3 / remaining);

        for (var i = base; i < total + 1; i++) {
            if(i == total)
            {
                grades.six.push(i);
                break;
            }
            var grade = onePoint * i;
            // from 3.00 to 3.50 - 3
            if (grade < 3.5) {
                grades.three.push(i);
            }
            // from 3.50 to 3.75 - 3.50
            else if (grade < 3.75) {
                grades.threeAndAHalf.push(i);
            }
            // from 3.75 to 4.50 - 4.00
            else if (grade < 4.50) {
                grades.four.push(i);
            }
            // from 4.50 to 4.75 - 4.50
            else if (grade < 4.75) {
                grades.fourAndAHalf.push(i);
            }
            // from 4.75 to 5.50 - 5.00
            else if (grade < 5.50) {
                grades.five.push(i);
            }
            // from 5.50 to 5.75 - 5.50
            else if (grade < 5.75) {
                grades.fiveAndAHalf.push(i);
            }
            // more than 5.75 - 6.00
            else {
                grades.six.push(i);
            }
        }

        $("#span2").text("0 - " + pointsFor2);

        setText(grades.three, "#span3");
        setText(grades.threeAndAHalf, "#span35");
        setText(grades.four, "#span4");
        setText(grades.fourAndAHalf, "#span45");
        setText(grades.five, "#span5");
        setText(grades.fiveAndAHalf, "#span55");
        setText(grades.six, "#span6");

        $("#divCheck").show();
        $("#divResult").hide();
        $("#tblResults").slideDown();
        $("#tbCheck").focus();
    });

    $("#tbCheck").keyup(function(event){
        if(event.keyCode == 13){
            check();
        } else {
			$("#divResult").hide();
		}
    });

    var check = function(){
        var total = parseInt($("#txtInput").val());
        var pointsToCheck = parseInt($("#tbCheck").val());
        if (pointsToCheck > total || pointsToCheck < 0) {
            alert("Невалидни точки за проверка");
            return;
        }

        if (grades.three.indexOf(pointsToCheck) > -1) {
            $("#spanCheck").text("3.00");
            $("#divResult").slideDown();
        }
        else if (grades.threeAndAHalf.indexOf(pointsToCheck) > -1) {
            $("#spanCheck").text("3.50");
            $("#divResult").slideDown();
        }
        else if (grades.four.indexOf(pointsToCheck) > -1) {
            $("#spanCheck").text("4.00");
            $("#divResult").slideDown();
        }
        else if (grades.fourAndAHalf.indexOf(pointsToCheck) > -1) {
            $("#spanCheck").text("4.50");
            $("#divResult").slideDown();
        }
        else if (grades.five.indexOf(pointsToCheck) > -1) {
            $("#spanCheck").text("5.00");
            $("#divResult").slideDown();
        }
        else if (grades.fiveAndAHalf.indexOf(pointsToCheck) > -1) {
            $("#spanCheck").text("5.50");
            $("#divResult").slideDown();
        }
        else if (grades.six.indexOf(pointsToCheck) > -1) {
            $("#spanCheck").text("6.00");
            $("#divResult").slideDown();
        }
        else {
            $("#spanCheck").text("2.00");
            $("#divResult").slideDown();
        }
    };

    $("#bntCheck").click(function () {
        check();
    });

    function setText(points, selector) {
        var text = "";
        for (var i = 0; i < points.length; i++) {
            text += (text == "") ? points[i] : ", " + points[i];
        }
        if (text != "") {
            $(selector).show();
            $(selector).text(text);
        }
        else {
            $(selector).hide();
        }
    }

    $(function() {
        $("#txtInput").focus();
    });
</script>
</body>
