<div class="row" id="sign-up-form" style="display: block;">
    <div class="col-md-3 col-md-offset-4">
        <div class="account-box">
            <div class="logo">
                <a class="navbar-brand" href="index_logged.html">FGO</a>
            </div>
            <loader class="row" ng-show="isLoading"></loader>
            <div ng-hide="isLoading">
                <div class="red-error" ng-show="activationError">
                    <span>{{activationError | translate}}</span>
                </div>
                <div ng-show="successfulActivation">
                    <span>{{ 'SUCCESSFUL ACTIVATION PROCEED TO' | translate }} <a ui-sref="login">{{ 'LOGIN' | translate}}</a></span>
                </div>
            </div>
        </div>
    </div>
</div>