<form name="contactForm" ng-submit="send(contactForm.$valid)"> 
    <fieldset class="form-group" ng-class="{'has-error' :
                    (contactForm.name.$invalid && !contactForm.name.$pristine)
                    || (contactForm.$submitted && contactForm.name.$pristine)}">
        <input type="text" class="form-control" id="contact-name" placeholder="{{ 'NAME' | translate }}*"
               ng-required="true"
               autofocus
               ng-model="name" />

        <label
                class="control-label"
                ng-show='(contactForm.name.$error.required && !contactForm.name.$pristine)
                                || (contactForm.$submitted && contactForm.name.$pristine)'>
            {{ 'REQUIRED FIELD' | translate }}
        </label>
    </fieldset>
    <div class="form-group" ng-class="{'has-error' :
                    (contactForm.email.$invalid && !contactForm.email.$pristine)
                    || (contactForm.$submitted && contactForm.email.$pristine)}">
        <input type="email"
               class="form-control"
               placeholder="{{ 'EMAIL' | translate}}"
               name="email" id="email"
               ng-required="true"
               ng-model="email"
                />

        <label
                class="control-label"
                ng-show='(contactForm.email.$error.required && !contactForm.email.$pristine)
                                || (contactForm.$submitted && contactForm.email.$pristine)'>
            {{ 'REQUIRED FIELD' | translate }}
        </label>

        <label
                class="control-label"
                ng-show='(contactForm.email.$error.email && !contactForm.email.$pristine)'>
            {{ 'INVALID EMAIL' | translate }}
        </label>

    </div>

    <fieldset class="form-group" ng-class="{'has-error' :
                    (contactForm.message.$invalid && !contactForm.message.$pristine)
                    || (contactForm.$submitted && contactForm.message.$pristine)}">
        <textarea placeholder="{{ 'MESSAGE' | translate }}..." class="form-control"
                  ng-required="true"
                  ng-model="message"></textarea>

        <label
                class="control-label"
                ng-show='(contactForm.message.$error.required && !contactForm.message.$pristine)
                                || (contactForm.$submitted && contactForm.message.$pristine)'>
            {{ 'REQUIRED FIELD' | translate }}
        </label>
    </fieldset>

    <input type="submit" class="btn-submit" ng-hide="messageSent" value="{{ 'SEND' | translate}}">

    <div class="alert alert-info" role="alert" ng-show="messageSent">
        <strong></strong>
        <span>{{ 'MESSAGE SENT' | translate }}</span>
    </div>

    <!--<div class="alert alert-warning" role="alert">
        <strong>Warning!</strong>
        Please fill all required fields!
    </div>-->
</form>