<welcome-login></welcome-login>
<!-- NAVIGATION -->

<div id="header">
    <div class="lang">
        <a href="#" class="lang-btn" ng-class="{ 'active': currentLanguage == 'bg'}" ng-click="changeLanguage('bg')">BG</a>
        <span> / </span>
        <a href="#" class="lang-btn" ng-class="{ 'active': currentLanguage == 'en'}" ng-click="changeLanguage('en')">EN</a>
    </div>
    <div class="fgo-slogan">
        {{ 'LANDING PAGE HEADER 1' | translate }}<br/>
        {{ 'LANDING PAGE HEADER 2' | translate }}
        <div class="application-stores">
            <img src="/assets/img/app-store.svg" class="app-store" ng-click="openInAppStore()"></img>
            <img src="/assets/img/google-play.svg" class="google-play" ng-click="openInGooglePlay()"></img>
        </div>
    </div>
    <div class="fgo-enter">
        <a href="javascript:void(0);" class="sign-up left" ng-click="userLogin(1);">
            <i></i>
            <span>{{ 'LANDING SIGN UP' | translate }}</span>
        </a>

        <a href="javascript:void(0);" class="login" ng-click="userLogin(2);">
            <i></i>
            <span>{{ 'LOGIN' | translate }}</span>
        </a>
    </div>
</div>

<!-- PAGE CONTENT -->
<div id="content">
    <div class="how-to-play-title">{{ 'LANDING PAGE: HOW TO PLAY' | translate }}</div>

    <div id="register" class="row">
        <div class="col-md-6 col-1">

        </div>
        <div class="col-md-6 col-2 text-right">
            <h4>
                <span class="step-number">1</span>
                {{ 'LANDING PAGE: REGISTER TITLE' | translate }}
            </h4>
            <p>{{ 'LANDING PAGE: REGISTER CONTENT' | translate }}</p>
        </div>
    </div>
    <div id="invite-friends" class="row">
        <div class="col-md-6 col-1 text-left">
            <h4>
                <span class="step-number">2</span>
                {{ 'LANDING PAGE: INVITE FRIENDS TITLE' | translate }}
            </h4>
            <p>{{ 'LANDING PAGE: INVITE FRIENDS CONTENT' | translate }}</p>
        </div>
        <div class="col-md-6 col-2">

        </div>
    </div>
    <div id="create-game" class="row">
        <div class="col-md-6 col-1">

        </div>
        <div class="col-md-6 col-2 text-right">
            <h4>
                <span class="step-number">3</span>
                {{ 'LANDING PAGE: CREATE GAME TITLE' | translate }}
            </h4>
            <p>{{ 'LANDING PAGE: CREATE GAME CONTENT' | translate }}</p>
        </div>
    </div>
    <div id="send-invites" class="row">
        <div class="col-md-6 col-1 text-left">
            <h4>
                <span class="step-number">4</span>
                {{ 'LANDING PAGE: SEND INVITES TITLE' | translate }}
            </h4>
            <p>{{ 'LANDING PAGE: SEND INVITES CONTENT' | translate }}</p>
        </div>
        <div class="col-md-6 col-2">

        </div>
    </div>
    <div id="play-game" class="row">
        <div class="col-md-6 col-1">

        </div>
        <div class="col-md-6 col-2 text-right">
            <h4>
                <span class="step-number">5</span>
                {{ 'LANDING PAGE: PLAY TITLE' | translate }}
            </h4>
            <p>{{ 'LANDING PAGE: PLAY CONTENT' | translate }}</p>
        </div>
    </div>
    <div id="rate-teammates" class="row">
        <div class="col-md-6 col-1 text-left">
            <h4>
                <span class="step-number">6</span>
                {{ 'LANDING PAGE: RATE YOUR TEAM TITLE' | translate }}
            </h4>
            <p>{{ 'LANDING PAGE: RATE YOUR TEAM CONTENT' | translate }}</p>
        </div>
        <div class="col-md-6 col-2">

        </div>
    </div>
</div>

<!-- FOOTER -->
<div id="footer">
    <div class="fgo-enter">
        <div class="fgo-icon"></div>
        <a href="javascript:void(0);" class="sign-up left" ng-click="userLogin(1);">
            <i></i>
            <span>{{ 'LANDING SIGN UP' | translate }}</span>
        </a>

        <a href="javascript:void(0);" class="login" ng-click="userLogin(2);">
            <i></i>
            <span>{{ 'LOGIN' | translate }}</span>
        </a>
    </div>
    <div class="footer-items">
        <div class="footer-cont">
            <div class="row">
                <div class="col-md-4 all-rights">
                    <p>{{ 'ALL RIGHTS RESERVED' | translate }}</p>
                </div>
                <div class="col-md-4 social">
                    <a href="https://www.facebook.com/fgo.official" target="_blank" class="fb-btn"></a>
                    <!--<a href="#" target="_blank" class="tw-btn"></a>
                    <a href="#" target="_blank" class="in-btn"></a>-->
                </div>
                <div class="col-md-4 footer-nav">
                    <a href="#" class="btn-foot-nav" ng-click="userLogin(6);">{{ 'CONTACT US' | translate }}</a>
                    <a href="#"  ng-click="userLogin(7)" class="btn-foot-nav">{{ 'TERMS AND CONDITIONS' | translate }}</a>
                    <a href="/privacy.html" class="btn-foot-nav">{{ 'PRIVACY' | translate }}</a>
                </div>
            </div>
        </div>
    </div>
</div>