<div class="row" id="sign-in-form">
    <div class="col-md-3 col-md-offset-4">
        <div class="account-box">
            <div class="logo">
                <a class="navbar-brand" href="index_logged.html">FGO</a>
            </div>
            <!-- login form -->
            <form name="loginForm" ng-submit="login(loginForm.$valid)" novalidate>
                <!--Email-->
                <div class="form-group" ng-class="{'has-error' : (loginForm.email.$invalid && !loginForm.email.$pristine) || (loginForm.$submitted && loginForm.email.$pristine)}">
                    <label for="email">{{ 'EMAIL' | translate }}</label>
                    <input type="email"
                        class="form-control"
                        placeholder="{{ 'EMAIL' | translate}}"
                        autofocus
                        name="email" id="email"
                        ng-required="true"
                        ng-model="data.email"
                    />

                    <label 
                        class="control-label" 
                        ng-show='(loginForm.email.$error.required && !loginForm.email.$pristine) || (loginForm.$submitted && loginForm.email.$pristine)'>
                        {{ 'REQUIRED FIELD' | translate }}
                    </label>

                    <label
                            class="control-label"
                            ng-show='(loginForm.email.$error.email && !loginForm.email.$pristine)'>
                        {{ 'INVALID EMAIL' | translate }}
                    </label>

                </div>
                

                <!--Password-->
                <div class="form-group" ng-class="{'has-error' : (loginForm.password.$invalid && !loginForm.password.$pristine) || (loginForm.$submitted && loginForm.password.$pristine)}">
                    <label for="password">{{ 'PASSWORD' | translate }}</label>
                    <input type="password"
                    class="form-control"
                    placeholder="{{'PASSWORD' | translate}}"
                    name="password" id="password"
                    ng-required="true"
                    ng-model="data.password" />

                    <label 
                        class="control-label" 
                        ng-show='(loginForm.password.$invalid && !loginForm.password.$pristine) || (loginForm.$submitted && loginForm.password.$pristine)'>
                        {{ 'REQUIRED FIELD' | translate }}
                    </label>

                </div>
                <!--Remember me-->
                <label class="checkbox" ng-show="false" style="padding-left: 20px;">
                    <input type="checkbox"
                    value="remember-me"
                    ng-model="data.rememberMe"
                    />
                    {{ 'REMEMBER ME' | translate}}
                </label>
                <button class="btn btn-lg btn-block purple-bg" type="submit">{{ 'SIGN IN' | translate}}</button>
                <div class="red-error" ng-show="!!loginError">
                    <span>{{loginError | translate}}</span>
                </div>
                <div ng-show="profileCreated">
                    <span>{{'PROFILE CREATED AND NEEDS ACTIVATION' | translate}}</span>
                </div>
            </form>
            <a ui-sref="passwordReset" class="forgotLnk">{{'FORGOTTEN PASSWORD' | translate}}</a>
            <div class="or-box">
                <span class="or">{{ 'OR' | translate }}</span>
                <div class="row">
                    <div class="col-md-6 row-block">
                        <a id="login-facebook" href="/api/v1/auth/facebook{{redirect_uri}}" target="_self" class="btn btn-facebook btn-block">Facebook</a>
                    </div>
                    <div class="col-md-6 row-block">
                        <a id="login-google" href="/api/v1/auth/google{{redirect_uri}}" target="_self" class="btn btn-google btn-block">Google</a>
                    </div>
                </div>
            </div>
            <div class="or-box row-block">
                <div class="row">
                    <div class="col-md-12 row-block">
                        <a href="" class="btn btn-primary btn-block" id="show-sign-up" ng-click="showSignUp()">{{ 'CREATE NEW ACCOUNT' | translate}}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row" id="sign-up-form" style="display: none;">
    <div class="col-md-3 col-md-offset-4">
        <div class="account-box">
            <div class="logo">
                <a class="navbar-brand" href="index_logged.html">FGO</a>
            </div>
            <!--register form-->
            <form class="form-signin" name="regForm" ng-submit="register(regForm.$valid)" novalidate>
                <!--email-->
                <div class="form-group"  ng-class="{'has-error' : (regForm.email.$invalid && !regForm.email.$pristine) || (regForm.$submitted && regForm.email.$pristine)}">
                    <label for="email">{{ 'EMAIL' | translate }}</label>
                    <input type="email" class="form-control"
                        placeholder="{{ 'EMAIL' | translate}}"
                        autofocus
                        ng-required="true"
                        name="email" id="email"
                        ng-model="data.email"
                         />

                    <label 
                        class="control-label" 
                        ng-show='(regForm.email.$error.required && !regForm.email.$pristine) || (regForm.$submitted && regForm.email.$pristine)'>
                        {{ 'REQUIRED FIELD' | translate }}
                    </label>

                    <label
                            class="control-label"
                            ng-show='(regForm.email.$error.email && !regForm.email.$pristine)'>
                        {{ 'INVALID EMAIL' | translate }}
                    </label>
                </div>
                <!--password-->
                <password-confirm ng-model="data.password"></password-confirm>
                <!--name-->
                <div class="form-group" ng-class="{'has-error' : (regForm.name.$invalid && !regForm.name.$pristine) || (regForm.$submitted && regForm.name.$pristine)}">
                    <label for="name">{{ 'FULL NAME' | translate }}</label>
                    <input type="text" class="form-control" placeholder="{{ 'FULL NAME' | translate}}"
                           ng-model="data.name"
                           ng-required="true"
                           name="name" id="name"/>

                    <label
                            class="control-label"
                            ng-show='(regForm.name.$invalid && !regForm.name.$pristine) || (regForm.$submitted && regForm.name.$pristine)'>
                        {{ 'REQUIRED FIELD' | translate }}
                    </label>
                </div>
                <!--country-->
                <div class="form-group" ng-show="false">
                    <country-selector selected-country-id="data.selectedCountryId"></country-selector>
                </div>

                <div class="form-group">
                    <label for="preferredPosition">{{ 'PREFERRED POSITION' | translate }}</label>
                    <select id="preferredPosition" ng-model="data.preferredPosition" class="form-control">
                        <option value='0'>{{ 'NONE' | translate }}</option>
                        <option value='1'>{{ 'KEEPER' | translate }}</option>
                        <option value='2'>{{ 'DEFENDER' | translate }}</option>
                        <option value='3'>{{ 'MIDFIELDER' | translate }}</option>
                        <option value='4'>{{ 'ATTACKER' | translate }}</option>
                    </select>
                </div>

                <label class="checkbox" style="padding-left: 20px;" ng-show="false">
                    <input type="checkbox" value="remember-me" ng-model="data.rememberMe" />
                    {{ 'REMEMBER ME' | translate}}
                </label>
                <button class="btn btn-lg btn-block purple-bg" type="submit">{{ 'REGISTER' | translate}}</button>
                <div class="red-error" ng-show="!!regError">
                    <span>{{regError}}</span>
                </div>
            </form>
            <div class="or-box row-block">
                <div class="row">
                    <div class="col-md-12 row-block">
                        <a href="" class="btn btn-primary btn-block" id="show-sign-in" ng-click="showSignIn()">{{ 'SIGN IN' | translate}}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>