<!--password-->
<div class="form-group" ng-class="{'has-error' : (form.password.$invalid && !form.password.$pristine) || (form.$submitted && form.password.$pristine)}">
    <label for="password" ng-hide="hideLabels">{{ (passwordlabel || 'PASSWORD') | translate }}</label>
    <input type="password" class="form-control" placeholder="{{(passwordlabel || 'PASSWORD') | translate}}"
           name="password" id="password"
           ng-required="fieldsRequired"
           ng-model="password" />

    <label
            class="control-label"
            ng-show='fieldsRequired && ((form.password.$invalid && !form.password.$pristine) || (form.$submitted && form.password.$pristine))'>
        {{ 'REQUIRED FIELD' | translate }}
    </label>
</div>
<!--confirm_password-->
<div class="form-group" ng-class="{'has-error' : ((form.confirm_password.$invalid)&& !form.confirm_password.$pristine) || (form.$submitted && form.confirm_password.$pristine)}">
    <label for="confirm_password" ng-hide="hideLabels">{{ 'CONFIRM PASSWORD' | translate }}</label>
    <input type="password" class="form-control" placeholder="{{'CONFIRM PASSWORD' | translate}}"
           name="confirm_password" id="confirm_password"
           ng-required="fieldsRequired"
           ng-model="password_verify"/>

    <label
            class="control-label"
            ng-show='fieldsRequired && ((form.confirm_password.$error.required && !form.confirm_password.$pristine) || (form.$submitted && form.confirm_password.$pristine))'>
        {{ 'REQUIRED FIELD' | translate }}
    </label>
    <label
            class="control-label"
            ng-show='password && !form.confirm_password.$error.required && ((form.confirm_password.$invalid && !form.confirm_password.$pristine) || (form.$submitted && form.confirm_password.$pristine))'>
        {{ 'PASSWORD DONT MATCH' | translate }}
    </label>
</div>