<div class="row" id="sign-up-form" style="display: block;">
    <div class="col-md-3 col-md-offset-4">
        <div class="account-box">
            <div class="logo">
                <a class="navbar-brand" href="index_logged.html">FGO</a>
            </div>
            <div ng-hide="secret">
                <loader class="row" ng-show="isLoading"></loader>
                <form name="enterEmailForm" ng-submit="resetPassword(enterEmailForm.$valid)" novalidate
                      ng-hide="passwordChangeRequested || isLoading">
                    <!--Email-->
                    <div class="form-group" ng-class="{'has-error' :
                    (enterEmailForm.email.$invalid && !enterEmailForm.email.$pristine)
                    || (enterEmailForm.$submitted && enterEmailForm.email.$pristine)}">
                        <label for="email">{{ 'EMAIL' | translate }}</label>
                        <input type="email"
                               class="form-control"
                               placeholder="{{ 'EMAIL' | translate}}"
                               autofocus
                               name="email" id="email"
                               ng-required="true"
                               ng-model="email"
                        />

                        <label
                                class="control-label"
                                ng-show='(enterEmailForm.email.$error.required && !enterEmailForm.email.$pristine)
                                || (enterEmailForm.$submitted && enterEmailForm.email.$pristine)'>
                            {{ 'REQUIRED FIELD' | translate }}
                        </label>

                        <label
                                class="control-label"
                                ng-show='(enterEmailForm.email.$error.email && !enterEmailForm.email.$pristine)'>
                            {{ 'INVALID EMAIL' | translate }}
                        </label>

                    </div>
                    <button class="btn btn-lg btn-block purple-bg"
                            type="submit">{{ 'RESET PASSWORD' | translate}}</button>
                    <div class="red-error" ng-show="resetPasswordError">
                        <span>{{resetPasswordError | translate}}</span>
                    </div>
                </form>
                <div ng-show="passwordChangeRequested && !isLoading">
                    <span>{{ 'PASSWORD RESET REQUESTED' | translate }}</span>
                </div>
            </div>
            <div ng-show="secret">
                <loader class="row" ng-show="isLoading"></loader>
                <form class="form-signin" name="setPasswordForm" ng-submit="changePassword(setPasswordForm.$valid)"
                      novalidate ng-hide="passwordChanged || isLoading">
                    <password-confirm ng-model="password"></password-confirm>
                    <button class="btn btn-lg btn-block purple-bg" type="submit">{{ 'CHANGE PASSWORD' | translate}}</button>
                    <div class="red-error" ng-show="passwordChangeError">
                        <span>{{passwordChangeError | translate}}</span>
                    </div>
                </form>
                <div ng-show="passwordChanged && !isLoading">
                    <span>{{ 'PASSWORD CHANGED PROCEED TO' | translate }} <a ui-sref="login">{{ 'LOGIN' | translate}}</a></span>
                </div>
            </div>
        </div>
    </div>
</div>