<style>
    .title {
        font-weight: 800;
        margin: 1rem 0;
        font-size: 1.2rem;
    }
</style>
<div ng-show="currentLanguage === 'en'">
    <div class="title">FGO Privacy Statement</div>

    <p>This privacy statement (“Privacy Statement”) applies to the treatment of personally identifiable information
        submitted by, or otherwise obtained from, you in connection with the associated application (“Application”). The
        Application is provided by FGO. By using or otherwise accessing the Application, you acknowledge that you accept
        the
        practices and policies outlined in this Privacy Statement.</p>

    <div class="title">WHAT PERSONAL INFORMATION DOES FGO COLLECT?</div>

    <p>We collect the following types of information from our users:</p>

    <p>Personal Information You Provide to Us:<br/>
        We may receive and store any information you submit to the Application (or otherwise authorize us to obtain –
        such
        as, from (for example) your Facebook account). The types of personal information collected may include your full
        name, email address, gender, IP address, browser information, username, demographic information, and any other
        information necessary for us to provide the Application services.</p>

    <p>Personal Information Collected Automatically:<br/>
        We receive and store certain types of usage related information whenever you interact with Application. For
        example,
        FGO may automatically receive and record information regarding your computer’s IP address, browser information,
        Facebook user ID, Facebook Page fan status, and URLs accessed. Such information may be shared in aggregate
        (non-personally identifiable) form with our partners.</p>

    <div class="title">HOW DOES FGO USE THE INFORMATION IT COLLECTS?</div>

    <p>FGO uses the information described in this Privacy Statement (i) internally, to analyze, develop and improve its
        products and services, and (ii) as set forth below in the “Will FGO Share any of the personal information it
        Collects” section below.</p>

    <div class="title">APPLICATION PARTNER TREATMENT OF PERSONAL INFORMATION.</div>

    <p>FGO may provide personal information to the applicable Application Partner. The Application Partner’s use of your
        personal information is subject to the Application Partner’s separate privacy policy – and not this Privacy
        Statement. The Application Partner’s privacy policy is linked to from within the Partner’s Facebook
        application.</p>

    <div class="title">WILL FGO SHARE ANY OF THE PERSONAL INFORMATION IT RECEIVES?</div>

    <p>Personal information about our users is an integral part of our business. We neither rent nor sell your personal
        information to anyone (with the exception of sharing your information with an applicable Application Partner –
        see
        the “Application Partner Treatment” section above). We share your personal information only as described
        below.</p>

    <p>Application Partners: We will share your personal information with an applicable Application Partner (see the
        “Application Partner Treatment” section above).</p>

    <p>Agents: We employ other companies and people to perform tasks on our behalf and need to share your information
        with
        them to provide products or services to you. Unless we tell you differently, FGO’s agents do not have any right
        to
        use personal information we share with them beyond what is necessary to assist us. You hereby consent to our
        sharing
        of personal information for the above purposes. Business Transfers: In some cases, we may choose to buy or sell
        assets. In these types of transactions, customer information is typically one of the business assets that are
        transferred. Moreover, if FGO, or substantially all of its assets were acquired, or in the unlikely event that
        FGO
        goes out of business or enters bankruptcy, user information would be one of the assets that is transferred or
        acquired by a third party. You acknowledge that such transfers may occur, and that any acquirer of FGO may
        continue
        to use your personal information as set forth in this policy.</p>

    <p>Protection of FGO and Others: We may release personal information when we believe in good faith that release is
        necessary to comply with the law; enforce or apply our conditions of use and other agreements; or protect the
        rights, property, or safety of FGO, our employees, our users, or others. This includes exchanging information
        with
        other companies and organizations for fraud protection and credit risk reduction.</p>

    <p>With Your Consent: Except as set forth above, you will be notified when your personal information may be shared
        with
        third parties, and will be able to prevent the sharing of this information.</p>

    <div class="title">CONDITIONS OF USE.</div>

    <p>If you decide to use or otherwise access the Application, your use/access and any possible dispute over privacy
        is
        subject to this Privacy Statement and our Terms of Use, including limitations on damages, arbitration of
        disputes,
        and application of California state law.</p>

    <div class="title">THIRD PARTY APPLICATIONS/WEBSITES.</div>

    <p>The Application may permit you to link to other applications or websites. Such third party applications/websites
        are
        not under FGO’s control, and such links do not constitute an endorsement by FGO of those other
        applications/websites
        or the services offered through them. The privacy and security practices of such third party
        application/websites
        linked to the Application are not covered by this Privacy Statement, and FGO is not responsible for the privacy
        or
        security practices or the content of such websites.</p>

    <div class="title">WHAT PERSONAL INFORMATION CAN I ACCESS?</div>

    <p>FGO allows you to access the following information about you for the purpose of viewing, and in certain
        situations,
        updating that information. This list may change in the event the Application changes.</p>

    <ul style="list-style: disc;margin: 1.5rem 0 1.5rem 1.2rem;padding: 0;">
        <li>Account and user profile information</li>
        <li>User e-mail address, if applicable</li>
        <li>Facebook profile information, if applicable</li>
        <li>User preferences</li>
        <li>Application specific data</li>
    </ul>

    <div class="title">CAN CHILDREN USE THE APPLICATION?</div>

    <p>Our site and the services available through FGO are not intended for children under the age of 13. FGO does not
        knowingly or specifically collect information about children under the age of 13 and believes that children of
        any
        age should get their parents’ consent before giving out any personal information. We encourage you to
        participate in
        your child’s web experience.</p>

    <div class="title">CHANGES TO THIS PRIVACY STATEMENT.</div>

    <p>FGO may amend this Privacy Statement from time to time. Use of information we collect now is subject to the
        Privacy
        Statement in effect at the time such information is used. If we make changes in the way we use personal
        information,
        we will notify you by posting an announcement on our Site or sending you an email. Users are bound by any
        changes to
        the Privacy Statement when he or she uses or otherwise accesses the Application after such changes have been
        first
        posted.</p>

    <div class="title">QUESTIONS OR CONCERNS.</div>

    <p>If you have any questions or concerns regarding privacy on our Website, please send us a detailed message at
        <a href="mailto:contact@fgo.io?Subject=Terms and Conditions" target="_top">contact@fgo.io</a>. We will make
        every effort to resolve your concerns.</p>

    <p>
        <br/>
        <br/>
        <br/>
        <br/>
    </p>
</div>

<div ng-show="currentLanguage === 'bg'">
    <div class="title">FGO Privacy Statement</div>

    <p>This privacy statement (“Privacy Statement”) applies to the treatment of personally identifiable information
        submitted by, or otherwise obtained from, you in connection with the associated application (“Application”). The
        Application is provided by FGO. By using or otherwise accessing the Application, you acknowledge that you accept
        the
        practices and policies outlined in this Privacy Statement.</p>

    <div class="title">WHAT PERSONAL INFORMATION DOES FGO COLLECT?</div>

    <p>We collect the following types of information from our users:</p>

    <p>Personal Information You Provide to Us:<br/>
        We may receive and store any information you submit to the Application (or otherwise authorize us to obtain –
        such
        as, from (for example) your Facebook account). The types of personal information collected may include your full
        name, email address, gender, IP address, browser information, username, demographic information, and any other
        information necessary for us to provide the Application services.</p>

    <p>Personal Information Collected Automatically:<br/>
        We receive and store certain types of usage related information whenever you interact with Application. For
        example,
        FGO may automatically receive and record information regarding your computer’s IP address, browser information,
        Facebook user ID, Facebook Page fan status, and URLs accessed. Such information may be shared in aggregate
        (non-personally identifiable) form with our partners.</p>

    <div class="title">HOW DOES FGO USE THE INFORMATION IT COLLECTS?</div>

    <p>FGO uses the information described in this Privacy Statement (i) internally, to analyze, develop and improve its
        products and services, and (ii) as set forth below in the “Will FGO Share any of the personal information it
        Collects” section below.</p>

    <div class="title">APPLICATION PARTNER TREATMENT OF PERSONAL INFORMATION.</div>

    <p>FGO may provide personal information to the applicable Application Partner. The Application Partner’s use of your
        personal information is subject to the Application Partner’s separate privacy policy – and not this Privacy
        Statement. The Application Partner’s privacy policy is linked to from within the Partner’s Facebook
        application.</p>

    <div class="title">WILL FGO SHARE ANY OF THE PERSONAL INFORMATION IT RECEIVES?</div>

    <p>Personal information about our users is an integral part of our business. We neither rent nor sell your personal
        information to anyone (with the exception of sharing your information with an applicable Application Partner –
        see
        the “Application Partner Treatment” section above). We share your personal information only as described
        below.</p>

    <p>Application Partners: We will share your personal information with an applicable Application Partner (see the
        “Application Partner Treatment” section above).</p>

    <p>Agents: We employ other companies and people to perform tasks on our behalf and need to share your information
        with
        them to provide products or services to you. Unless we tell you differently, FGO’s agents do not have any right
        to
        use personal information we share with them beyond what is necessary to assist us. You hereby consent to our
        sharing
        of personal information for the above purposes. Business Transfers: In some cases, we may choose to buy or sell
        assets. In these types of transactions, customer information is typically one of the business assets that are
        transferred. Moreover, if FGO, or substantially all of its assets were acquired, or in the unlikely event that
        FGO
        goes out of business or enters bankruptcy, user information would be one of the assets that is transferred or
        acquired by a third party. You acknowledge that such transfers may occur, and that any acquirer of FGO may
        continue
        to use your personal information as set forth in this policy.</p>

    <p>Protection of FGO and Others: We may release personal information when we believe in good faith that release is
        necessary to comply with the law; enforce or apply our conditions of use and other agreements; or protect the
        rights, property, or safety of FGO, our employees, our users, or others. This includes exchanging information
        with
        other companies and organizations for fraud protection and credit risk reduction.</p>

    <p>With Your Consent: Except as set forth above, you will be notified when your personal information may be shared
        with
        third parties, and will be able to prevent the sharing of this information.</p>

    <div class="title">CONDITIONS OF USE.</div>

    <p>If you decide to use or otherwise access the Application, your use/access and any possible dispute over privacy
        is
        subject to this Privacy Statement and our Terms of Use, including limitations on damages, arbitration of
        disputes,
        and application of California state law.</p>

    <div class="title">THIRD PARTY APPLICATIONS/WEBSITES.</div>

    <p>The Application may permit you to link to other applications or websites. Such third party applications/websites
        are
        not under FGO’s control, and such links do not constitute an endorsement by FGO of those other
        applications/websites
        or the services offered through them. The privacy and security practices of such third party
        application/websites
        linked to the Application are not covered by this Privacy Statement, and FGO is not responsible for the privacy
        or
        security practices or the content of such websites.</p>

    <div class="title">WHAT PERSONAL INFORMATION CAN I ACCESS?</div>

    <p>FGO allows you to access the following information about you for the purpose of viewing, and in certain
        situations,
        updating that information. This list may change in the event the Application changes.</p>

    <ul style="list-style: disc;margin: 1.5rem 0 1.5rem 1.2rem;padding: 0;">
        <li>Account and user profile information</li>
        <li>User e-mail address, if applicable</li>
        <li>Facebook profile information, if applicable</li>
        <li>User preferences</li>
        <li>Application specific data</li>
    </ul>

    <div class="title">CAN CHILDREN USE THE APPLICATION?</div>

    <p>Our site and the services available through FGO are not intended for children under the age of 13. FGO does not
        knowingly or specifically collect information about children under the age of 13 and believes that children of
        any
        age should get their parents’ consent before giving out any personal information. We encourage you to
        participate in
        your child’s web experience.</p>

    <div class="title">CHANGES TO THIS PRIVACY STATEMENT.</div>

    <p>FGO may amend this Privacy Statement from time to time. Use of information we collect now is subject to the
        Privacy
        Statement in effect at the time such information is used. If we make changes in the way we use personal
        information,
        we will notify you by posting an announcement on our Site or sending you an email. Users are bound by any
        changes to
        the Privacy Statement when he or she uses or otherwise accesses the Application after such changes have been
        first
        posted.</p>

    <div class="title">QUESTIONS OR CONCERNS.</div>

    <p>If you have any questions or concerns regarding privacy on our Website, please send us a detailed message at
        <a href="mailto:contact@fgo.io?Subject=Terms and Conditions" target="_top">contact@fgo.io</a>. We will make
        every effort to resolve your concerns.</p>

    <p>
        <br/>
        <br/>
        <br/>
        <br/>
    </p>
</div>
<div id="footer" class="ng-scope">
    <div class="fgo-enter">
        <div class="fgo-icon"></div>
        <a href="javascript:void(0);" class="sign-up left" ng-click="userLogin(1);">
            <i></i>
            <span class="ng-binding">Sign Up</span>
        </a>

        <a href="javascript:void(0);" class="login" ng-click="userLogin(2);">
            <i></i>
            <span class="ng-binding">Login</span>
        </a>
    </div>
    <div class="footer-items">
        <div class="footer-cont">
            <div class="row">
                <div class="col-md-4 all-rights">
                    <p class="ng-binding">{{ 'ALL RIGHTS RESERVED' | translate }}</p>
                </div>
                <div class="col-md-4 social">
                    <a href="https://www.facebook.com/fgo.official" target="_blank" class="fb-btn"></a>
                </div>
                <div class="col-md-4 footer-nav">
                    <a href="/welcome" class="btn-foot-nav ng-binding">{{ 'Login' | translate }}</a>
                    <a href="/welcome?contact" class="btn-foot-nav ng-binding">{{ 'CONTACT US' | translate }}</a>
                </div>
            </div>
        </div>
    </div>
</div>