<div ng-show="currentLanguage === 'en'">
    <div class="title">Introduction</div>

    <p>
        Theses general terms and conditions (hereinafter „the General Terms“) regulate the use of the site located at <a href="https://www.fgo.io">https://www.fgo.io</a> (hereinafter „the Site“) by its users. „User“ means a person, who uses the website’s features. „FGO“ means the team, holding the rights over the Site.
        <br><br>
        The General terms are binding to all users of the Site. By clicking on any link, button or application available on the site, the user expressly and unconditionally agrees to the General terms in full.
    </p>

    <div class="title">Intellectual property</div>

    <p>
        The whole contents of the site, including pictures, graphics, texts, designs, etc. is owned by FGO. Each use of the above materials, specified non-exhaustive, including but not limited to modification, reproduction and distribution without FGO's express written consent is unauthorized and subject to prosecution.
        <br><br>
        The user is entitled to view and print pages from the site only for personal use, subject to the restrictions set out below and elsewhere in the General terms. The user undertakes not to:
    </p>

    <ul style="list-style: disc;margin: 1.5rem 0 1.5rem 1.2rem;padding: 0;">
        <li>republish materials from the Site, including republishing in another website;</li>
        <li>sell information from the Site;</li>
        <li>reproduce, duplicate, copy or otherwise exploit material from the Site for a commercial purpose.</li>
    </ul>

    <div class="title">Unauthorized use</div>

    <p>
        The user undertakes not to use the Site in a way, which cause or may cause damage to the Site or to reduce its disposition or accessibility; in a way, which is illegal, fraudulent or harmful, or in relation with illegal, fraudulent or harmful purposes or activities. It is not allowed copying, recording, transferring or publishing of any material which consists of or is related to any spyware, computer virus, Trojan horse, worms, keystroke logger, rootkit or other malicious computer software. It is not allowed conduction of any systematic or automated data collection activities, including but not limited to scraping, data mining, data extraction and data harvesting, on or in relation to the Site without FGO's express written consent.
    </p>

    <div class="title">Publishing in the Site. Rating players</div>

    <p>
        Entering contents in the Site by the user should not lead to violation of third parties’ rights, including to violation which can be ground for filing a lawsuit against the user, FGO or third parties. FGO reserves its right to edit or delete information published on the Site or recorded on the severs of FGO.
        <br><br>
        The user is not entitled to publish comments containing profanity, offensive, obscene, discriminatory and intolerant content; comments containing advertising messages; comments whose content is inappropriate and violates or provides risk of violation of one’s legal rights and interest. Published comments contain solely the author’s content and express the author’s opinion. FGO is not responsible for the contents of the published comments. FGO reserves its right to deactivate registration of a user for publishing inappropriate comments.
        <br><br>
        The user is entitled to rate players only in the games in which has played.
    </p>

    <div class="title">No warranties</div>

    <p>
        Thе site is provided “as is” without any representations or warranties, express or implied. FGO makes no representations or warranties in relation to this website or the information and materials provided on this website.
        <br><br>
        Without prejudice to the generality of the foregoing paragraph, FGO does not warrant that:
    </p>
    <ul style="list-style: disc;margin: 1.5rem 0 1.5rem 1.2rem;padding: 0;">
        <li>
            this website will be constantly available, or available at all; or
        </li>
        <li>
            the information on this website is complete, true, accurate or non-misleading.
        </li>
    </ul>

    <div class="title">Entire agreement</div>

    <p>
        The General terms constitute an entire agreement between the user and FGO in relation to the use of the site, and supersede all previous agreements in respect of the use of this Site. You can contact FGO on e-mail <a href="mailto:contact@fgo.io?Subject=Terms and Conditions" target="_top">contact@fgo.io</a>.
    </p>

    <div style="font-weight: bold">Alterations</div>

    <p>
        FGO may revise the General terms from time-to-time. The revised General terms will regulate the use of the Site from the date of the publication of the revised General terms on this Please check this page regularly to ensure you are familiar with the current version.
    </p>

    <div style="font-weight: bold">Cookies</div>

    <p>
        The Site uses cookies. By using the Site you agree with FGO’s cookies use. Cookies can be disabled in your browser settings at any time.
    </p>

    <p>
        <br><br>
        © 2016. FGO. All rights reserved.
    </p>
</div>

<div ng-show="currentLanguage === 'bg'">
    <div class="title">Въведение</div>

    <p>
        Настоящите общи условия (по-долу „Общите условия“) регламентират използването на сайта, намиращ се на адрес <a href="https://www.fgo.io">https://www.fgo.io</a> (по-долу „Сайтът“) от неговите ползватели.
        <br><br>
        „Ползвател“ е всяко лице, използващо функционалностите на сайта.
        „FGO“ е екипът, притежаващ правата върху Сайта.
        Общите условия обвързват всички ползватели на Сайта. С кликването върху който и да е линк, бутон или приложение намиращи се на Сайта, ползвателят се съгласява изцяло с Общите условия.
    </p>

    <div class="title">Интелектуална собственост</div>

    <p>
        Цялото съдържание на Сайта, включително снимки, графики, текстове, дизайни и подобни са собственост на FGO. Всяко използване на гореизброените по неизчерпателен начин материали, включително, но не само модификация, репродукция и дистрибуция без писменото разрешение на FGO е неправомерно и се наказва по предвидени от закона начини.
        <br><br>
        Ползвателят може да разглежда и принтира страници от Сайта само за лична употреба, като се съгласява с ограниченията, описани по-долу или където и да било другаде в Общите условия. Ползвателят се задължава да не:
    </p>

    <ul>
        <li>препубликува информация от Сайта, включително да копира информацията в друг сайт;</li>
        <li>продава информация от Сайта;</li>
        <li>възпроизвежда, дублира, копира или използва по друг начин информацията от Сайта за комерсиални цели.</li>
    </ul>

    <div class="title">Неразрешено използване</div>

    <p>
        Ползвателят се задължава да не използва Сайта по начин, който причинява или може да причини вреди на Сайта или да доведе до намаляване на неговото разположение или  достъпност; по начин, който е незаконен, измамен или вреден, или във връзка с незаконни, измамни или вредни цели или дейности. При използването на Сайта не е разрешено копиране, записване, предаване или публикуване на никакъв материал, който съдържа или е свързан с някакъв spyware, компютърен вирус, троянски кон, червеи, логъри или какъвто и да е друг злонамерен компютърен софтуер. Не е разрешено провеждането на систематично и автоматизирано събиране на данни от Сайта, включително, но не само scraping, data mining, data extraction и data harvesting, без съгласието на FGO.
    </p>

    <div class="title">Публикуване в Сайта. Оценки на играчи</div>

    <p>
        Въвеждането на съдържание от ползвателя в Сайта не трябва да води до нарушение на права на трети лица, включително и до нарушение, което би могло да предизвика завеждане на съдебен иск срещу ползвателя, FGO или трети лица. FGO си запазва правото да редактира или изтрива информация, публикувана на Сайта или записана на сървърите на FGO.
        <br><br>
        Ползвателят не може да публикува коментари, съдържащи нецензурен език или с обидно, клеветническо, дискриминационно или нетолерантно съдържание; коментари, съдържащи рекламни послания; коментари, чието съдържание е неуместно или нарушава или създава опасност от нарушаване на законни права и интереси на когото и да било. Публикуваните коментари са с представеното от ползвателя съдържание и изразяват единствено и само неговото мнение. FGO не носи отговорност за съдържанието на публикуваните коментари. FGO си запазва правото да деактивира регистрацията на ползвател, който публикува коментари с неподходящо съдържание.
        <br><br>
        Ползвателят може да публикува оценки само за играчи в мачове, в които е участвал.
    </p>

    <div class="title">Без гаранции</div>

    <p>
        Сайтът се предоставя 'както е' без никакви гаранции. FGO не гарантира за информацията и материалите, които са публикувани на този сайт.
        <br><br>
        Без ущърб на този параграф, FGO не гарантира че:
    </p>

    <ul>
        <li>
            този сайт ще е постоянно на разположение, или изобщо на разположение; или
        </li>
        <li>
            информацията на този сайт е пълна, вярна, коректна и неподвеждаща.
        </li>
    </ul>

    <div class="title">Цялостно споразумение</div>

    <p>
        Общите условия представляват цялостното споразумение между ползвателя и FGO във връзка с използването на Сайта и заместват всякакви предходни споразумения за използването на Сайта. Можете да се свържете с FGO на e-mail адрес <a href="mailto:contact@fgo.io?Subject=Terms and Conditions" target="_top">contact@fgo.io</a>.
    </p>

    <div class="title">Промени</div>

    <p>
        FGO може да прави периодично промени в Общите условия. Променените Общи условия ще регулират използването на Сайта от момента, в който са публикувани на Сайта. Моля, проверявайте редовно за да сте сигурни, че сте запознати с текущата версия на Общите условия.
    </p>

    <div class="title">Бисквитки</div>

    <p>
        Сайтът използва бисквитки (cookies). Използвайки сайта, вие се съгласявате с използването на бисквитки. Можете да изключите използването на бисквитки от настройките на вашия браузър.
    </p>

    <p>
        <br><br>
        © 2016. FGO. Всички права запазени.
    </p>
</div>