<form name="activatingUserForm" id="activatingUserForm">
    <div ng-show="activatingUser">
        {{ 'ACTIVATING USER' | translate }}...
    </div>
    <div ng-hide="activatingUser">
        <div class="alert alert-warning" role="alert" ng-show="activationError">
            <strong>{{'WARNING' | translate}}</strong>
            <span>{{activationError | translate}}</span>
        </div>
        <div class="alert alert-info" role="alert" ng-show="successfulActivation"> 
            <strong></strong>
            <span>{{ 'USER SUCCESSFULLY ACTIVATED' | translate }}</span>
        </div>
        <div class="seperator-or">
            <br/>
            <span class="line"></span>
        </div>
        <a href="javascript:void(0);" ui-sref="landingPage({ login: 'true', code: null, secret: null})" target="_self" class="btn-style" id="sign-up-btn">{{ 'SIGN IN' | translate}}</a>
    </div>
</form>