<form class="form-signin" name="setPasswordForm" ng-submit="changePassword(setPasswordForm.$valid)" >
    <welcome-password-confirm ng-model="password"></welcome-password-confirm>
    <button class="btn-style" id="sign-up-btn" type="submit" ng-disabled="changingPassword" ng-hide="passwordChanged">{{ 'CHANGE PASSWORD' | translate}}</button>

    <div class="alert alert-warning" role="alert" ng-show='(setPasswordForm.password.$invalid && !setPasswordForm.password.$pristine)
                            || (setPasswordForm.$submitted && setPasswordForm.password.$pristine)
                            || (setPasswordForm.confirm_password.$invalid && !setPasswordForm.confirm_password.$pristine)
                            || (setPasswordForm.$submitted && setPasswordForm.confirm_password.$pristine)'>
        <strong>{{'WARNING' | translate}}</strong>
        {{ 'FILL ALL REQUIRED FIELDS' | translate }}
    </div>

    <div class="alert alert-warning" role="alert" ng-show="passwordChangeError">
        <strong>{{'WARNING' | translate}}</strong>
        <span>{{passwordChangeError | translate}}</span>
    </div>

    <div class="alert alert-info" role="alert" ng-show="passwordChanged">
        <strong></strong>
        <span>{{ 'PASSWORD CHANGED' | translate }}</span>
    </div>

    <a href="javascript:void(0);" target="_self" class="btn-style" id="sign-up-btn" ng-show="passwordChanged" ui-sref="landingPage({ login: 'true', code: null, secret: null})">{{ 'SIGN IN' | translate}}</a>
</form>