<!--password-->
<div class="form-group" ng-class="{'has-error' : (form.password.$invalid && !form.password.$pristine) || (form.$submitted && form.password.$pristine)}">
    <input type="password" class="form-control" placeholder="{{'PASSWORD' | translate}}"
           name="password" id="password"
           ng-required="fieldsRequired"
           ng-model="password" />
</div>
<!--confirm_password-->
<div class="form-group" ng-class="{'has-error' : ((form.confirm_password.$invalid)&& !form.confirm_password.$pristine) || (form.$submitted && form.confirm_password.$pristine) || (password != password_verify)}">
    <input type="password" class="form-control" placeholder="{{'CONFIRM PASSWORD' | translate}}"
           name="confirm_password" id="confirm_password"
           ng-required="fieldsRequired"
           ng-model="password_verify"/>
    <label
            class="control-label"
            ng-show='!form.confirm_password.$error.required &&
            ((form.confirm_password.$invalid && !form.confirm_password.$pristine)
             || (form.$submitted && form.confirm_password.$pristine)
             || (password != password_verify))'>
        {{ 'PASSWORD DONT MATCH' | translate }}
    </label>
</div>