<div id="user-login" class="dNone">
    <div id="signup" class="form-cont dNone">
        <a href="javascript:void(0);" target="_self" class="close-popup" ng-click="userLogin(0);">
            <i></i>
        </a>
        <!--register form-->
        <form class="form-signin" name="regForm" ng-submit="register(regForm.$valid)" novalidate>
            <!--email-->
            <div class="form-group"  ng-class="{'has-error' :
                ((regForm.email.$invalid && !regForm.email.$pristine) || (regForm.$submitted && regForm.email.$pristine)) && !registering}">
                <input type="email" class="form-control"
                       placeholder="{{ 'EMAIL' | translate}}"
                       autofocus
                       ng-required="true"
                       name="email" id="email"
                       ng-model="data.email"/>
                <label
                        class="control-label"
                        ng-show='(regForm.email.$error.email && !regForm.email.$pristine && !registering)'>
                    {{ 'INVALID EMAIL' | translate }}
                </label>
            </div>
            <!--password-->
            <welcome-password-confirm ng-model="data.password"></welcome-password-confirm>
            <!--name-->
            <div class="form-group" ng-class="{'has-error' :
                ((regForm.name.$invalid && !regForm.name.$pristine) || (regForm.$submitted && regForm.name.$pristine)) && !registering}">
                <input type="text" class="form-control" placeholder="{{ 'FULL NAME' | translate}}"
                       ng-model="data.name"
                       ng-required="true"
                       name="name" id="name"/>
            </div>

            <div class="form-group">
                <select id="preferredPosition" ng-model="data.preferredPosition" class="form-control">
                    <option selected disabled value=''>{{ 'PREFERRED POSITION' | translate }}</option>
                    <option value='0'>{{ 'NONE' | translate }}</option>
                    <option value='1'>{{ 'KEEPER' | translate }}</option>
                    <option value='2'>{{ 'DEFENDER' | translate }}</option>
                    <option value='3'>{{ 'MIDFIELDER' | translate }}</option>
                    <option value='4'>{{ 'ATTACKER' | translate }}</option>
                </select>
            </div>

            <label class="checkbox" style="padding-left: 20px;" ng-show="false">
                <input type="checkbox" value="remember-me" ng-model="data.rememberMe" />
                {{ 'REMEMBER ME' | translate}}
            </label>
            <button class="btn-style" id="sign-up-btn" type="submit" ng-style="{ 'background-color': registering ? 'buttonface' :'auto'}" ng-disabled="registering">{{ 'REGISTER' | translate}}</button>

            <div class="alert alert-warning" role="alert" ng-show='
                            ((regForm.email.$error.required && !regForm.email.$pristine)
                            || (regForm.$submitted && regForm.email.$pristine)
                            || (regForm.name.$invalid && !regForm.name.$pristine)
                            || (regForm.$submitted && regForm.name.$pristine)
                            || (regForm.password.$invalid && !regForm.password.$pristine)
                            || (regForm.$submitted && regForm.password.$pristine)
                            || (regForm.confirm_password.$invalid && !regForm.confirm_password.$pristine)
                            || (regForm.$submitted && regForm.confirm_password.$pristine)
                            || (regForm.$submitted && !data.preferredPosition)) && !registering'>
                <strong>{{'WARNING' | translate}}</strong>
                {{ 'FILL ALL REQUIRED FIELDS' | translate }}
            </div>

            <div class="alert alert-warning" role="alert" ng-show="!!regError && !registering">
                <strong>{{ 'WARNING' | translate}}</strong>
                {{regError}}
            </div>

            <div id="social-connect" class="row">
                <div class="col-md-6" id="fb-cont">
                    <a id="login-facebook" href="/api/v1/auth/facebook{{redirect_uri}}" target="_self" class="fb">
                        <i></i>
                        <span>{{ 'LOG IN WITH FACEBOOK' | translate }}</span>
                    </a>
                </div>
                <div class="col-md-6" id="gp-cont">
                    <a id="login-google" href="/api/v1/auth/google{{redirect_uri}}" target="_self" class="gp">
                        <i></i>
                        <span>{{ 'LOG IN WITH GOOGLE' | translate}}</span>
                    </a>
                </div>
            </div>

            <a href="javascript:void(0);" target="_self" class="btn-style" id="sign-up-btn" ng-click="userLogin(2);">{{ 'LOGIN' | translate}}</a>
        </form>
    </div>

    <div id="login" class="form-cont dNone">
        <a href="javascript:void(0);" target="_self" class="close-popup" ng-click="userLogin(0);">
            <i></i>
        </a>
        <!-- login form -->
        <form name="loginForm" ng-submit="login(loginForm.$valid)" novalidate>
            <!--Email-->
            <div class="form-group" ng-class="{'has-error' :
                ((loginForm.email.$invalid && !loginForm.email.$pristine) || (loginForm.$submitted && loginForm.email.$pristine)) && !loggingIn}">
                <a href="javascript:void(0);" target="_self" class="forgot-pass-btn" ng-click="userLogin(3);">
                    {{ 'FORGOTTEN PASSWORD' | translate }}
                </a>
                <input type="email"
                       class="form-control"
                       placeholder="{{ 'EMAIL' | translate}}"
                       autofocus
                       name="email" id="email"
                       ng-required="true"
                       ng-model="data.email"
                        />
                <label
                        class="control-label"
                        ng-show='(loginForm.email.$error.email && !loginForm.email.$pristine && !loggingIn)'>
                    {{ 'INVALID EMAIL' | translate }}
                </label>
            </div>
            <!--Password-->
            <div class="form-group" ng-class="{'has-error' :
                ((loginForm.password.$invalid && !loginForm.password.$pristine) || (loginForm.$submitted && loginForm.password.$pristine)) && !loggingIn}">
                <input type="password"
                       class="form-control"
                       placeholder="{{'PASSWORD' | translate}}"
                       name="password" id="password"
                       ng-required="true"
                       ng-model="data.password" />
                </label>
            </div>
            <!--Remember me-->
            <label class="checkbox" ng-show="false" style="padding-left: 20px;">
                <input type="checkbox"
                       value="remember-me"
                       ng-model="data.rememberMe"
                        />
                {{ 'REMEMBER ME' | translate}}
            </label>
            <button class="btn-style" id="sign-up-btn" type="submit" ng-style="{'background-color': loggingIn ? 'buttonface' :'auto'}" ng-disabled="loggingIn">{{ 'SIGN IN' | translate}}</button>

            <div class="alert alert-warning" role="alert" ng-show='((loginForm.email.$error.required && !loginForm.email.$pristine)
                            || (loginForm.$submitted && loginForm.email.$pristine)
                            || (loginForm.password.$invalid && !loginForm.password.$pristine)
                            || (loginForm.$submitted && regForm.loginForm.$pristine)) && !loggingIn'>
                <strong>{{'WARNING' | translate}}</strong>
                {{ 'FILL ALL REQUIRED FIELDS' | translate }}
            </div>

            <div class="alert alert-warning" role="alert" ng-show="!!loginError && !loggingIn">
                <strong>{{ 'WARNING' | translate }}</strong>
                {{loginError | translate}}
            </div>
            <div class="alert alert-info" role="alert" style="margin-top: 15px" ng-show="profileCreated">
                <strong></strong>
                <span>{{'PROFILE CREATED AND NEEDS ACTIVATION' | translate}}</span>
            </div>

            <div id="social-connect" class="row">
                <div class="col-md-6" id="fb-cont">
                    <a id="login-facebook" href="/api/v1/auth/facebook{{redirect_uri}}" target="_self" class="fb">
                        <i></i>
                        <span>{{ 'LOG IN WITH FACEBOOK' | translate }}</span>
                    </a>
                </div>
                <div class="col-md-6" id="gp-cont">
                    <a id="login-google" href="/api/v1/auth/google{{redirect_uri}}" target="_self" class="gp">
                        <i></i>
                        <span>{{ 'LOG IN WITH GOOGLE' | translate}}</span>
                    </a>
                </div>
            </div>
            <a href="javascript:void(0);" target="_self" class="btn-style" id="sign-up-btn" ng-click="userLogin(1);" ng-hide="profileCreated">{{ 'SIGN UP' | translate}}</a>
        </form>
    </div>

    <div id="forgot-password" class="form-cont dNone">
        <a href="javascript:void(0);" target="_self" class="close-popup" ng-click="userLogin(0);">
            <i></i>
        </a>
        <welcome-password-reset></welcome-password-reset>
    </div>

    <div id="password-set" class="form-cont dNone">
        <a href="javascript:void(0);" target="_self" class="close-popup" ng-click="userLogin(0);">
            <i></i>
        </a>
        <welcome-set-new-password></welcome-set-new-password>
    </div>

    <div id="activate-user" class="form-cont dNone">
        <a href="javascript:void(0);" target="_self" class="close-popup" ng-click="userLogin(0);">
            <i></i>
        </a>
        <welcome-activate-user></welcome-activate-user>
    </div>

    <div id="contacts" class="form-cont dNone">
        <a href="javascript:void(0);" target="_self" class="close-popup" ng-click="userLogin(0);">
            <i></i>
        </a>
        <contact-us></contact-us>
    </div>

    <div id="terms-and-conditions" class="form-cont dNone">
        <a href="javascript:void(0);" target="_self" class="close-popup" ng-click="userLogin(0);">
            <i></i>
        </a>
        <terms-and-conditions></terms-and-conditions>
    </div>
</div>
