<form name="enterEmailForm" ng-submit="resetPassword(enterEmailForm.$valid)" novalidate>
    <!--Email-->
    <div class="form-group" ng-class="{'has-error' :
    (enterEmailForm.email.$invalid && !enterEmailForm.email.$pristine)
    || (enterEmailForm.$submitted && enterEmailForm.email.$pristine)}">
        <input type="email"
               class="form-control"
               placeholder="{{ 'EMAIL' | translate}}"
               autofocus
               name="email" id="email"
               ng-required="true"
               ng-model="email"
        />
        <label
                class="control-label"
                ng-show='(enterEmailForm.email.$error.email && !enterEmailForm.email.$pristine)'>
            {{ 'INVALID EMAIL' | translate }}
        </label>

    </div>
    <button class="btn-style" id="sign-up-btn" ng-hide="passwordChangeRequested" ng-disabled="passwordSendingLoading">{{ 'RESET PASSWORD' | translate}}</button>

    <div class="alert alert-warning" role="alert" ng-show='(enterEmailForm.email.$error.required && !enterEmailForm.email.$pristine)
                            || (enterEmailForm.$submitted && enterEmailForm.email.$pristine)'>
        <strong>{{'WARNING' | translate}}</strong>
        {{ 'FILL ALL REQUIRED FIELDS' | translate }}
    </div>

    <loader ng-show="passwordSendingLoading"></loader>

    <div class="alert alert-info" role="alert" ng-show="passwordChangeRequested && !passwordSendingLoading">
        <strong></strong>
        <span>{{ 'PASSWORD RESET REQUESTED' | translate }}</span>
    </div>

    <div class="alert alert-warning" role="alert" ng-show="resetPasswordError && !passwordSendingLoading">
        <strong>{{'WARNING' | translate}}</strong>
        <span>{{resetPasswordError | translate}}</span>
    </div>

    <div class="seperator-or">
        <span>{{ 'OR' }}</span>
        <span class="line"></span>
    </div>

    <a href="javascript:void(0);" target="_self" class="btn-style" id="sign-up-btn" ng-click="userLogin(2);">{{ 'SIGN IN' | translate}}</a>
</form>