<div class="invited-list" ng-hide="invites.length == 0">
    <div class="section-title">
        <div class="title-wrapper">
            <h3>{{ "INVITED LIST" | translate }}</h3>

            <div class="title-underline"></div>
        </div>
    </div>


    <div class="players-cont row">
        <div class="col-md-4" ng-repeat="invite in invites track by $index">
            <div class="player-item" ng-class="{ refused: invite.hasRejected }">
                <a ui-sref="base.profile.view.user({ userId: invite.player._id})" class="player-profile">
                    <user-avatar user="invite.player"></user-avatar>
                    <span>{{ invite.player.name | unescape}}</span>
                    <span ng-show="invite.hasRejected">{{ 'REJECTED' | translate }}</span>
                </a>
                <!-- hide the controls, if the invite explicitly requests it. -->
                <div class="invites-controls" ng-hide="invite.showControls === false">
                    <a ng-show="invite.hasRejected || invite.notAnswered" href=""
                       ng-click="inviteAction(invite, 'Accepted')" class="btn-accept"></a>
                    <a ng-show="invite.notAnswered" href="#"
                       ng-click="inviteAction(invite, 'Rejected')" class="btn-cancel"></a>
                </div>
            </div>
        </div>
    </div>
</div>