<div>
    <a ng-click="dec()" class="players-down arrows"></a>
    <input type="text" readonly ng-value="playersCount" class="players-count">
    <a ng-click="inc()" class="players-up arrows"></a>

    <div class="fgo-players">
        <div ng-repeat="r in range() track by $index" class="player-icon"/>
    </div>
</div>