<toaster-container toaster-options="{'close-button': true, 'position-class': 'toast-top-center'}"></toaster-container>
<div id="wrapper">
	<!-- NAVIGATION -->
	<top-nav></top-nav>
	<!-- PAGE CONTENT -->
	<div id="content">
		<div class="container">
			<sub-nav class="sub-nav"></sub-nav>

			<div ui-view></div>
		</div>
	</div>

	<!-- FOOTER -->
	<!--<div id="footer">
		<div class="container">
			<div id="banner">
				<a href="http://shoplandia.bg/" target="_blank">
					<img src="/assets/img/shoplandia.jpg" alt="shoplandia" />
				</a>
			</div>
		</div>
	</div>-->

	<div id="footer">
		<div class="footer-items">
			<div class="footer-cont">
				<div class="row">
					<div class="col-md-4 all-rights">
						<p>{{ 'ALL RIGHTS RESERVED' | translate }}</p>
					</div>
					<div class="col-md-4 social">
						<a href="https://www.facebook.com/fgo.official" target="_blank" class="fb-btn"></a>
						<!--<a href="#" target="_blank" class="tw-btn"></a>
                        <a href="#" target="_blank" class="in-btn"></a>-->
					</div>
					<div class="col-md-4 footer-nav">
						<a ui-sref="base.profile.contact" class="btn-foot-nav">{{ 'CONTACT US' | translate }}</a>
						<a href="#"  ng-click="userLogin(7)" class="btn-foot-nav">{{ 'TERMS AND CONDITIONS' | translate }}</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>