<div id="who-are-we">

    <div class="content-view small-view">

        <div class="section-title">
            <div class="title-wrapper">
                <h2>{{ 'WHO ARE WE LABEL' | translate }}</h2>
                <div class="title-underline"></div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-8">
                <p>
                    {{ 'WHO ARE WE TEXT' | translate }}
                </p>
            </div>
            <div class="col-md-4">
                <img src="/assets/img/icons/question-icon.png" alt="{{ 'WHO ARE WE' | translate }}" />
            </div>
        </div>

        <div class="section-title">
            <div class="title-wrapper">
                <h2>{{ 'OUR MISSION LABEL' | translate }}</h2>
                <div class="title-underline"></div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <img src="/assets/img/icons/mission-icon.png" alt="{{ 'OUR MISSION LABEL' | translate }}" />
            </div>
            <div class="col-md-8">
                <p>
                    {{ 'OUR MISSION TEXT' | translate }}
                </p>
            </div>
        </div>

        <div class="section-title">
            <div class="title-wrapper">
                <h2>{{ 'OUR PLANS LABEL' | translate }}</h2>
                <div class="title-underline"></div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-8">
                <p>
                    {{ 'OUR PLANS TEXT' | translate }}
                </p>
            </div>
            <div class="col-md-4">
                <img src="/assets/img/icons/plan-icon.png" alt="{{ 'OUR PLANS LABEL' | translate }}" />
            </div>
        </div>
    </div>

</div>