.account-box {
        border: 2px solid rgba(153, 153, 153, 0.75);
        border-radius: 2px;
        -moz-border-radius: 2px;
        -webkit-border-radius: 2px;
        -khtml-border-radius: 2px;
        -o-border-radius: 2px;
        z-index: 3;
        font-size: 13px !important;
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        background-color: #ffffff;
        padding: 20px;
}
.logo {
        width: 138px;
        height: 30px;
        text-align: center;
        margin: 10px 0px 27px 40px;
        background-position: 0px -4px;
        position: relative;
}
.forgotLnk {
        margin-top: 10px;
        display: block;
}
.purple-bg {
        background-color: #6E329D;
        color: #fff;
}
.or-box {
        position: relative;
        border-top: 1px solid #dfdfdf;
        padding-top: 20px;
        margin-top: 20px;
}
.or {
        color: #666666;
        background-color: #ffffff;
        position: absolute;
        text-align: center;
        top: -8px;
        width: 40px;
        left: 90px;
}
.account-box .btn:hover {
        color: #fff;
}
.btn-facebook {
        background-color: #3F639E;
        color: #fff;
        font-weight: bold;
}
.btn-google {
        background-color: #454545;
        color: #fff;
        font-weight: bold;
}

.red-error {
        color: #a94442;
}

/* Loader css */
 .spinner {
         margin: 100px auto 0;
         width: 70px;
         text-align: center;
 }

.spinner > div {
        width: 18px;
        height: 18px;
        background-color: #333;

        border-radius: 100%;
        display: inline-block;
        -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
        animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
        -webkit-animation-delay: -0.32s;
        animation-delay: -0.32s;
}

.spinner .bounce2 {
        -webkit-animation-delay: -0.16s;
        animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
        0%, 80%, 100% { -webkit-transform: scale(0) }
        40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
        0%, 80%, 100% {
                -webkit-transform: scale(0);
                transform: scale(0);
        } 40% {
                  -webkit-transform: scale(1.0);
                  transform: scale(1.0);
          }
}

/* END: Loader css */

.page-header{
        margin-top: 20px;
}

/* Navigation fixes */
.navbar-header{
        float: none;
}

@media (min-width: 768px) {
        .sidebar {
                margin-top: 1px;
        }
}

@media (max-width: 550px) {
        .hide-in-small-devices{ display: none !important;}
}

/* END: Navigation fixes */

.my-placeholder { color: #aaa; }
.pagination { margin: 0; }
img.avatar{ border-radius: 50%}

.chat-panel .panel-body { height: auto !important;}
ul.no-bullet{
        list-style-type: none;
}
.capitalLetter {text-transform: capitalize}
/*Used as a marker*/
.numeric-input {}
.ng-hide.ng-hide-animate{
        display: none !important;
}