.initial-container {
  height: 380;
  width: 275;
}
.initial-label {
  font-size: 32;
  letter-spacing: 1.1;
}
.main-label {
  font-size: 28;
  margin-top: 32;
  margin-bottom: 32;
  letter-spacing: 1.1;
}
TextField {
  margin-bottom: 10;
}
.sign-up-stack Label {
  padding-top: 10;
  height: 200;
  text-transform: uppercase;
}
.forgot-password-label {
  font-size: 13;
  text-transform: uppercase;
}
.logo-container Image {
  top: 85;
}