/* Hide a bunch of things to setup the initial animations */
.form-controls, .sign-up-stack {
  opacity: 0;
}

.background {
  background-image: url("res://bg_inner");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* TODO: Assigning explicit heights and applying this margin shouldn’t be necessary. */
.initial-container {
  margin-top: 450;
}

.initial-logo {
  horizontal-align: center;
  margin-bottom: 10;
}
.initial-label {
  color: white;
  horizontal-align: center;
  margin-bottom: 80;
}
.initial-button {
  background-color: white;
  color: #CB1D00;
  height: 45;
  width: 275;
  vertical-align: center;
}
.initial-button-label {
  horizontal-align: center;
  font-weight: bold;
}

.main-container {
  visibility: collapse;
  opacity: 0;
  margin-left: 30;
  margin-right: 30;
  background-color: white;
}
.main-label {
  horizontal-align: center;
  color: black;
}

Image {
  margin-top: 5;
  margin-bottom: 20;
}
Button, TextField {
  margin-left: 16;
  margin-right: 16;
  margin-bottom: 10;
}
.submit-button {
  background-color: #CB1D00;
  color: white;
  margin-top: 20;
}

.forgot-password-label {
  font-size: 13;
  margin-left: 20;
  margin-bottom: 45;
  color: black;
}
.sign-up-stack {
  background-color: #311217;
}
.sign-up-stack Label {
  color: white;
  horizontal-align: center;
  font-size: 15;
}

.logo-container {
  visibility: collapse;
  horizontal-align: center;
  opacity: 0;
}

TextField {
  color: white;
  background-color: green;
}

.join-now-button {
  width: 80%;
  height: 40px;
  background-color: #a6c208;
  color: white;
  margin-left: 10%;
  margin-right: 10%;

  margin-bottom: 10;
  text-align: center;
  vertical-align: center;
}

.join-now-button-label {
  color: white;

  padding-top: 10px;
  padding-bottom: 10px;

}

.signin-button {
  height: 40px;
  width: 80%;
  background-color: white;
  color: #a6c208;
  margin-left: 10%;
  margin-right: 10%;
  text-align: center;
  vertical-align: center;
  margin-bottom: 20;
}

.signin-button-label {
  color: #a6c208;
}

.lang-buttons {
  margin-left: 10%;
  margin-right: 10%;
  text-align: center;
  vertical-align: center;
}