<GridLayout>

  <GridLayout #background
    class="background">
  </GridLayout>

  <StackLayout #mainContainer
    class="initial-container"
    visibility="{{ selectedState === 'main' ? 'visible': 'collapsed'}}">
    <StackLayout
      class="join-now-button"
      (tap)="joinNow()">
      <Label 
        text="{{ 'JOIN NOW' | translate }}"
        class="join-now-label"></Label>
    </StackLayout>
    <StackLayout
      class="signin-button"
      (tap)="signIn()">
      <Label
        text="{{ 'SIGN IN' | translate }}"
        class="signin-button-label"></Label>
    </StackLayout>
    <StackLayout
      class="initial-button"
      orientation="horizontal">
      <Label
        text="{{ 'BG' | translate }}"
        class="initial-button-label"
        (tap)="setLang('bg')"></Label>
      <Label text=" | "></Label>
      <Label
        text="{{ 'EN' | translate }}"
        class="initial-button-label"
        (tap)="setLang('en')"></Label>
    </StackLayout>
  </StackLayout>

  <StackLayout #signInContainer
    class="initial-container"
    visibility="{{ selectedState === 'signin' ? 'visible' : 'collapsed'}}">
    <StackLayout>
          <TextField [(ngModel)]="signInInfo.email" 
            keyboardType="email" 
            autocorrect="false" 
            autocapitalizationType="none" 
            hint="E-mail">
          </TextField>
          <TextField [(ngModel)]="signInInfo.password" 
            hint="Password" 
            secure="true">
          </TextField>
          <Button text="{{ 'LOGIN' | translate }}" 
                  (tap)="onSignIn()"></Button>
          <Label text="{{ 'OR USE SOCIAL LOGIN' | translate }}"></Label>
          <Button text="{{ 'Facebook' | translate }}" (tap)="onFacebookLogin()"></Button>
          <Button text="{{ 'Google' | translate }}" (tap)="onGoogleLogin()"></Button>
    </StackLayout>
  </StackLayout>

  <StackLayout #registerContainer
    class="initial-container"
    visibility="{{ selectedState === 'register' ? 'visible' : 'collapsed' }}">
    <StackLayout>
      <TextField [(ngModel)]="registerInfo.email" keyboardType="email" autocorrect="false" autocapitalizationType="none" 
        hint="E-mail" id="registerEmail" cssClass="yoHint"></TextField>
      <TextField [(ngModel)]="registerInfo.password" secure="true" 
        hint="{{ 'Password' | translate }}">
      </TextField>
      <TextField [(ngModel)]="registerInfo.confirmPassword" 
        secure="true" 
        hint="{{ 'Confirm Password' | translate }}">
      </TextField>
      <TextField [(ngModel)]="registerInfo.fullName" 
        hint="{{ 'Full Name' | translate }}">
      </TextField>

      <DropDown #dd backroundColor="red" 
        [items]="positions" 
        [selectedIndex]="selectedIndex"
        (selectedIndexChange)="onchange(dd.selectedIndex)">
      </DropDown>

      <Button text="{{ 'SIGN UP' | translate }}" 
        (tap)="onSignUp()">
      </Button>
      <Label text="{{ 'OR USE SOCIAL LOGIN' | translate }}'"></Label>
      <Button text="{{ 'Facebook' | translate }}" 
        (tap)="onFacebookLogin()">
      </Button>
      <Button text="{{ 'Google' }}" 
        (tap)="onGoogleLogin()">
      </Button>
    </StackLayout>
  </StackLayout>

  <!-- The fruit logo that appears within the container -->
  <AbsoluteLayout #logoContainer
    class="logo-container">
    <Image
      src="res://logo_login"
      stretch="none"></Image>
  </AbsoluteLayout>

</GridLayout>