<GridLayout>

  <StackLayout #mainContainer
    class="initial-container"
    visibility="{{ state === 'main' ? 'visible': 'collapsed'}}"
    (tap)="test()">
    <Label #helloMain
    
        text="Hello main!">
    </Label>
  </StackLayout>

  <StackLayout #secondaryContainer
    visibility="{{ state === 'secondary' ? 'visible' : 'collapsed'}}">
    <Label
        text="Hello secondary!">
    </Label>
  </StackLayout>

</GridLayout>