<div id="contact-us" class="content-view small-view">
    <div class="section-title">
        <div class="title-wrapper">
            <h2 class="ng-binding">{{ "SEND MAIL" | translate }}</h2>
            <div class="title-underline"></div>
        </div>
    </div>
    <loader class="row" ng-show="isLoading"></loader>
    <form name="contactForm" ng-submit="send(contactForm.$valid)" ng-hide="isLoading"> 
        <fieldset class="form-group" ng-class="{'has-error' :
                    (contactForm.sender.$invalid && !contactForm.sender.$pristine)
                    || (contactForm.$submitted && contactForm.sender.$pristine)}">
            <input type="text" class="form-control" id="sender" placeholder="{{ 'SENDER' | translate }}*"
                   ng-required="true"
                   autofocus
                   ng-model="data.sender" />
            <label
                    class="control-label"
                    ng-show='(contactForm.sender.$error.required && !contactForm.sender.$pristine)
                                || (contactForm.$submitted && contactForm.sender.$pristine)'>
                {{ 'REQUIRED FIELD' | translate }}
            </label>
        </fieldset>
        <fieldset class="form-group" ng-class="{'has-error' :
                    (contactForm.subject.$invalid && !contactForm.subject.$pristine)
                    || (contactForm.$submitted && contactForm.subject.$pristine)}">
            <input type="text" class="form-control" id="subject" placeholder="{{ 'SUBJECT' | translate }}*"
                   ng-required="true"
                   autofocus
                   ng-model="data.subject" />
            <label
                    class="control-label"
                    ng-show='(contactForm.subject.$error.required && !contactForm.subject.$pristine)
                                || (contactForm.$submitted && contactForm.subject.$pristine)'>
                {{ 'REQUIRED FIELD' | translate }}
            </label>
        </fieldset>
        <fieldset class="form-group" ng-class="{'has-error' :
                    (contactForm.email.$invalid && !contactForm.email.$pristine)
                    || (contactForm.$submitted && contactForm.email.$pristine)}">
            <input type="text"
                   class="form-control"
                   placeholder="{{ 'EMAIL' | translate}}"
                   name="email" id="email"
                   ng-required="true"
                   ng-model="data.emails"
            />

            <label
                    class="control-label"
                    ng-show='(contactForm.email.$error.required && !contactForm.email.$pristine)
                                || (contactForm.$submitted && contactForm.email.$pristine)'>
                {{ 'REQUIRED FIELD' | translate }}
            </label>
        </fieldset>

        <fieldset class="form-group" ng-class="{'has-error' :
                    (contactForm.message.$invalid && !contactForm.message.$pristine)
                    || (contactForm.$submitted && contactForm.message.$pristine)}">
        <textarea placeholder="{{ 'MESSAGE' | translate }}..." class="form-control"
                  ng-required="true"
                  ng-model="data.message" style="height: 450px"></textarea>

            <label
                    class="control-label"
                    ng-show='(contactForm.message.$error.required && !contactForm.message.$pristine)
                                || (contactForm.$submitted && contactForm.message.$pristine)'>
                {{ 'REQUIRED FIELD' | translate }}
            </label>
        </fieldset>

        <fieldset class="form-group">
            <input type="checkbox" id="include-html" ng-model="includeHtml" />
            <label for="include-html">{{ 'INCLUDE HTML MESSAGE' | translate}}</label>
        </fieldset>
        <fieldset class="form-group" ng-class="{'has-error' :
                    (contactForm.htmlMessage.$invalid && !contactForm.htmlMessage.$pristine)
                    || (contactForm.$submitted && contactForm.message.$pristine)}" ng-show="includeHtml">
        <textarea placeholder="{{ 'HTML MESSAGE' | translate }}..." class="form-control"
                  ng-required="false"
                  ng-model="data.htmlMessage" style="height: 450px"></textarea>
        </fieldset>

        <fieldset class="form-group">
            <input type="checkbox" id="one-by-one" ng-model="data.oneByOne" />
            <label for="one-by-one">{{ 'SEND ONE BY ONE' | translate}}</label>
        </fieldset>

        <fieldset class="form-group">
            <input type="submit" class="btn-submit" ng-hide="messageSent" value="{{ 'SEND' | translate}}">
        </fieldset>
    </form>
</div>