<loader class="row" ng-show="isLoading"></loader>
<div ng-show="!isLoading">
    <div id="games">

        <div id="game-details" class="content-view small-view">

            <div class="row">

                <div class="col-md-12">
                    <div class="section-title">
                        <div class="title-wrapper">
                            <h2>{{ game.name | unescape}}
                                (
                                <span ng-show="game.public">{{ 'PUBLIC' | translate }}</span>
                                <span ng-show="!game.public">{{ 'PRIVATE' | translate }}</span>
                                )
                            </h2>
                        </div>
                    </div>

                    <div class="game-info">
                        <div class="date-location">
                            <div class="date">
                                <div class="day">{{game.date_time | date:'dd'}}</div>
                                <div class="month">{{game.date_time | date:'MMM'}}</div>
                                <div class="hour">{{game.date_time | date:'HH:mm'}}</div>
                            </div>
                            <div class="location">
                                <a ui-sref="base.location.view({ id: game.location._id })">
                                    <div class="name">{{game.location.name | unescape }}</div>
                                </a>

                                <div class="address">{{game.location.formattedAddress | unescape }}</div>

                                <div class="invite-url">{{ "INVITE URL" | translate }}:
                                    <label>{{
                                    gameInviteUrl() }}</label>
                                </div>
                            </div>
                        </div>

                        <div class="loc-img-cont" style="background-image: url({{ game.location.imageUrl }});">
                            <!--<img ng-src="{{ game.location.imageUrl }}" alt="{{ game.location.name | unescape }}" class="loc-img"/>-->
                        </div>

                        <div class="game-availability">
                            <div class="players-total circles">
                                <span class="number">{{ game.numberOfPlayers }}</span>
                                <span class="text">{{ 'PLAYERS' | translate }}</span>
                            </div>
                            <div class="players-booked circles">
                                <span class="number">{{ gameService.stat(game).booked }}</span>
                                <span class="text">{{ 'BOOKED' | translate }}</span>
                            </div>
                            <div class="players-available circles" ng-hide="gamePassed">
                                <span class="number">{{ gameService.stat(game).freeSlots }}</span>
                                <span class="text">{{ (gameService.stat(game).freeSlots == 1 ? 'FREE SPOT SHORT' : 'FREE SPOTS SHORT') | translate }}</span>
                            </div>
                        </div>
                    </div>

                    <div class="players-list">
                        <div class="section-title">
                            <div class="title-wrapper">
                                <h3>{{ "PLAYERS LIST" | translate }}</h3>

                                <div class="title-underline"></div>
                            </div>
                        </div>


                        <div class="players-cont">
                            <span ng-repeat="player in players">
                                <player-item player="player" view="'rating'" game="game"
                                             show-remove-player="canAddRemove(player)" players="$parent.players" />
                            </span>

                            <span ng-repeat="guest in game.guests">
                                <guest-item guest="guest" game="game" guests="$parent.game.guests"></guest-item>
                            </span>


                            <a class="player" ng-show="canAddGuest()" ng-click="showAddGuest();">
                                <div class="player-img">
                                    <img src="../assets/img/add-guest.png" atl="Add Guest"/>
                                </div>

                                <div class="player-info">
                                    <div class="name">
                                        {{ "ADD GUEST" | translate }}
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>

                    <div class="add-guest-form" ng-show="isAddGuestVisible">
                        <form ng-submit="addGuest()">
                            <fieldset class="form-group clearfix">
                                <input type="text" name="guestName" ng-model="newGuestName" class="form-control" id="guest-name-field" placeholder="{{ 'GUEST FULL NAME' | translate }}" focus-me="addGuestFocused">
                                <input type="submit" value="{{ 'ADD GUEST BUTTON' | translate }}" id="submit-guest" class="btn-style">
                            </fieldset>
                        </form>
                    </div>

                    <invited-list game="game" ng-show="!gamePassed"
                            can-add-remove="canAddRemove(player)"></invited-list>

                    <div class="button-cont" style="padding-bottom: 15px"
                         ng-show="!gamePassed
                                || (userIsAdmin && game.invitation_code && !isMobile && !gamePassed)
                                || !(!userIsAdmin || gamePassed)
                                || userIsAdmin
                                || !(userSigned || gamePassed)
                                || (gamePassed && isParticipant)">

                        <div class="section-title" ng-hide="gamePassed">
                            <div class="title-wrapper">
                                <h3>{{ "GAME SETTINGS" | translate }}</h3>
                                <div class="title-underline"></div>
                            </div>
                        </div>

                        <!-- ADMIN OPTIONS -->

                        <div class="admin-view clearfix" ng-show="userIsAdmin && !gamePassed">
                            <div class="btn-wrapper">
                                <a ui-sref="base.gameinvite.game({ gameId: game.urlName || game._id })"
                                   class="btn-style btn-grey btn-fgo">
                                    <i></i>
                                    <span>{{ "FGO INVITES" | translate }}</span>
                                </a>
                            </div>

                            <div class="btn-wrapper">
                                <a href="#" class="btn-style btn-grey btn-facebook" ng-click="inviteThroughFacebook()">
                                    <i></i>
                                    <span>{{ 'FACEBOOK INVITES' | translate }}</span>
                                </a>
                            </div>

                            <div class="btn-wrapper">
                                <a ui-sref="base.editgame.game({ gameId: game.urlName || game._id })"
                                   class="btn-style btn-grey btn-edit">
                                    <i></i>
                                    <span>{{ "EDIT" | translate }}</span>
                                </a>
                            </div>

                            <div class="btn-wrapper">
                                <a href="#" class="btn-style btn-red btn-delete" ng-click="deleteGame()">
                                    <i></i>
                                    <span>{{ 'DELETE' | translate}}</span>
                                </a>
                            </div>
                        </div>

                        <!-- PLAYERS OPTIONS -->

                        <div class="player-view clearfix" ng-show="!userIsAdmin && !gamePassed">

                            <div class="btn-wrapper" ng-show="!userAlreadySigned()">
                                <a href="#" class="btn-style btn-green btn-join" ng-click="addPlayer()" >
                                    <i></i>
                                    <span>{{ 'JOIN THE GAME' | translate }}</span>
                                </a>
                            </div>

                            <div class="btn-wrapper" ng-show="userAlreadySigned()">
                                <a href="#" class="btn-style btn-red btn-delete" ng-click="removePlayer()">
                                    <i></i>
                                    <span>{{ 'SIGN OUT THE GAME' | translate }}</span>
                                </a>
                            </div>

                            <div class="btn-wrapper">
                                <a ui-sref="base.gameinvite.game({ gameId: game.urlName || game._id })"
                                   class="btn-style btn-grey btn-fgo">
                                    <i></i>
                                    <span>{{ "FGO INVITES" | translate }}</span>
                                </a>
                            </div>

                            <div class="btn-wrapper">
                                <a href="#" class="btn-style btn-grey btn-facebook" ng-click="inviteThroughFacebook()">
                                    <i></i>
                                    <span>{{ 'FACEBOOK INVITES' | translate }}</span>
                                </a>
                            </div>

                        </div>

                        <!-- AFTER GAME -->

                        <div class="game-end-view clearfix" ng-show="gamePassed && isParticipant">
                            <div class="btn-wrapper">
                                <a ui-sref="base.gamestatistics.game({ gameId: game.urlName || game._id })" class="btn-style btn-green btn-stats">
                                    <i></i>
                                    <span>{{ 'GAME STATISTICS' | translate }}</span>
                                </a>
                            </div>

                            <div class="btn-wrapper">
                                <a ui-sref="base.newgame" class="btn-style btn-grey btn-new-game">
                                    <i></i>
                                    <span>{{ 'CREATE NEW GAME' | translate }}</span>
                                </a>
                            </div>

                            <div class="btn-wrapper">
                                <a ui-sref="base.gamehistory" class="btn-style btn-grey btn-review-history">
                                    <i></i>
                                    <span>{{ 'PAST GAMES' | translate }}</span>
                                </a>
                            </div>
                        </div>

                        <!--<div class="row">-->

                            <!--<div class="col-md-12">-->
                                <!--<div class="section-title">-->
                                    <!--<div class="title-wrapper">-->
                                        <!--<h3>{{ "GAME SETTINGS" | translate }}</h3>-->

                                        <!--<div class="title-underline"></div>-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</div>-->

                            <!--<div class="col-md-3" ng-hide="gamePassed">-->
                                <!--<a ui-sref="base.gameinvite.game({ gameId: game.urlName || game._id })"-->
                                   <!--class="btn-style btn-grey btn-fgo">-->
                                    <!--<i></i>-->
                                    <!--<span>{{ "FGO INVITES" | translate }}</span>-->
                                <!--</a>-->
                            <!--</div>-->

                            <!--<div class="col-md-3"-->
                                 <!--ng-show="game.invitation_code && !isMobile && !gamePassed">-->
                                <!--<a href="#" class="btn-style btn-grey btn-facebook" ng-click="inviteThroughFacebook()">-->
                                    <!--<i></i>-->
                                    <!--<span>{{ 'FACEBOOK INVITES' | translate }}</span>-->
                                <!--</a>-->
                            <!--</div>-->

                            <!--<div class="col-md-3" ng-hide="!userIsAdmin || gamePassed">-->
                                <!--<a ui-sref="base.editgame.game({ gameId: game.urlName || game._id })"-->
                                   <!--class="btn-style btn-grey btn-edit">-->
                                    <!--<i></i>-->
                                    <!--<span>{{ "EDIT" | translate }}</span>-->
                                <!--</a>-->
                            <!--</div>-->

                            <!--<div class="col-md-3" ng-hide="!userIsAdmin">-->
                                <!--<a href="#" class="btn-style btn-red btn-delete" ng-click="deleteGame()">-->
                                    <!--<i></i>-->
                                    <!--<span>{{ 'DELETE' | translate}}</span>-->
                                <!--</a>-->
                            <!--</div>-->
                        <!--</div>-->

                        <!--<div class="row" ng-hide="userSigned || gamePassed">-->
                            <!--<div class="col-md-12">-->
                                <!--<a href="#" class="btn-style" ng-click="addPlayer()">{{ 'JOIN THE GAME' | translate }}</a>-->
                            <!--</div>-->
                        <!--</div>-->

                        <!--<div class="row" ng-show="gamePassed && isParticipant">-->
                            <!--<div class="col-md-12">-->
                                <!--<a ui-sref="base.gamestatistics.game({ gameId: game.urlName || game._id })"-->
                                   <!--class="btn-style">{{ 'GAME STATISTICS' | translate }}</a>-->
                            <!--</div>-->
                        <!--</div>-->

                    </div>

                    <comments/>
                </div>

            </div>


        </div>

    </div>

</div>