<loader class="row" ng-show="isLoading"></loader>
<div id="games" ng-hide="isLoading">
    <div class="panel panel-default">
            <!-- /.panel-heading -->
            <div class="panel-body" >
                <div id="history" class="content-view big-view">

                    <div class="row">

                        <div class="col-md-12">
                            <div class="section-title">
                                <div class="title-wrapper">
                                    <h2>{{ "HISTORY" | translate }}</h2>

                                    <div class="title-underline"></div>
                                </div>
                            </div>

                            <div ng-hide="hasItems">
                                <h4>{{ 'NO PAST GAMES' | translate}}</h4>
                            </div>

                            <table class="table table-bordered table-hover table-fgo" ng-show="hasItems">
                                <thead>
                                <tr>
                                    <th>
                                        <i class="table-date"></i>
                                        <span>{{ 'START TIME' | translate }}</span>
                                    </th>
                                    <th>
                                        <i class="table-final-score"></i>
                                        <span>{{ 'FINAL SCORE' | translate }}</span>
                                    </th>
                                    <th>
                                        <i class="table-location"></i>
                                        <span>{{ 'LOCATION' | translate }}</span>
                                    </th>
                                    <th>
                                        <i class="table-players"></i>
                                        <span>{{ 'PLAYERS' | translate }}</span>
                                    </th>
                                </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="game in games track by $index" ui-sref="base.gamedetails.game({ gameId: game.urlName || game._id })">
                                        <td>
                                            <span>{{ game.date_time | date: 'dd MMM yyyy' }}</span>
                                        </td>
                                        <td>
                                            <span class="teams" ng-class="{ 'winner' : (game.team1.goals || 0) > (game.team2.goals || 0) }" ng-show="game.team1.goals || game.team2.goals">{{ game.team1.name || 'Team 1'  | unescape }}</span>
                                            <span class="score" ng-show="game.team1.goals || game.team2.goals">{{ game.team1.goals || 0 }} : {{ game.team2.goals || 0 }}</span>
                                            <span class="score" ng-hide="game.team1.goals || game.team2.goals">{{ 'RESULT NOT SET' | translate }}</span>
                                            <span class="teams" ng-class="{ 'winner' : (game.team2.goals || 0) > (game.team1.goals || 0) }" ng-show="game.team1.goals || game.team2.goals">{{ game.team2.name || 'Team 2'  | unescape }}</span>
                                        </td>
                                        <td>
                                            <span>{{ game.location.formattedAddress || 'EMPTY' | translate  | unescape }}</span>
                                        </td>
                                        <td>
                                            <span>{{ gameService.stat(game).booked }}</span>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>

                            <table-pager options="options" ng-show="showPaging"></table-pager>

                        </div>

                    </div>

                </div>

                <!--<div class="table-responsive">
                    <loader class="row" ng-show="isLoading"></loader>
                    <table data-ng-table="tableParams"
                           class="table table-bordered table-condensed ng-table-rowselected table-hover" ng-show="!isLoading">

                        <tr class="selectable"
                            data-ng-repeat="game in $data track by $index">
                            <td data-title="'#'">{{ $index + 1 }}</td>
                            <td data-title="'NAME' | translate"><a ui-sref="base.gamedetails.game({ gameId: game.urlName || game._id })">{{ game.name }}</a></td>
                            <td data-title="'START TIME' | translate">{{game.date_time | date:('DATE FORMAT' | translate)}}</td>
                            <td data-title="'GROUP' | translate">{{ game.group.name  || ('NONE' | translate)}}</td>
                            <td data-title="'LOCATION' | translate">{{ game.location.name || ('NONE' | translate) }}</td>
                            <td data-title="'PLAYERS' | translate">{{ game.players.length }}</td>
                        </tr>
                    </table>
                </div>-->
            </div>
        </div>
</div>