<loader class="row" ng-show="isLoading"></loader>
<div ng-show="!isLoading">
    <div id="games">
        <div id="history-game-statistic" class="content-view small-view">

            <div class="section-title">
                <div class="title-wrapper">
                    <h2>{{ 'GAME STATISTICS' | translate }}</h2>
                    <div class="title-underline"></div>
                </div>
            </div>

            <form>
                <div class="row">
                    <div class="col-md-1"></div>
                    <div class="col-md-4">
                        <fieldset class="form-group">
                            <label class="teams">{{ game.team1.name | unescape }}</label>
                            <input type="number" min="0" class="form-control" id="goals-team-1" placeholder="{{ 'GOALS SCORED' | translate }}" ng-model="game.team1.goals">
                        </fieldset>
                    </div>
                    <div class="col-md-2 vs-sign"> vs </div>
                    <div class="col-md-4">
                        <fieldset class="form-group">
                            <label class="teams">{{ game.team2.name  | unescape }}</label>
                            <input type="number" min="0" class="form-control" id="goals-team-2" placeholder="{{ 'GOALS SCORED' | translate }}" ng-model="game.team2.goals">
                        </fieldset>
                    </div>
                    <div class="col-md-1"></div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>{{ 'PLAYER' | translate }}</th>
                                <th>{{ 'RATING' | translate }}</th>
                                <th>{{ 'GOALS SCORED' | translate }}</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="player in players">
                                <td>
                                    <player-item player="player" game="game" view="'statistics'"/>
                                </td>
                                <td>
                                    <fieldset class="form-group" ng-show="player._id != currentUserId">
                                        <input type="number" min="1" max="10" class="form-control rating-goal" id="players-rating" ng-model="player.rating"
                                               placeholder="{{ 'RATE FROM 1 ТО 10' | translate }}" ng-disabled="player.initialRating"/>
                                        <input type="number" min="1" max="10" class="form-control mini-rating-goal" id="players-rating" ng-model="player.rating"
                                               placeholder="{{ 'RATING' | translate }}" ng-disabled="player.initialRating"/>
                                    </fieldset>
                                </td>
                                <td>
                                    <fieldset class="form-group">
                                        <input type="number" min="0" class="form-control rating-goal" id="player-goals" ng-model="player.goals"
                                               placeholder="{{ 'GOALS SCORED' | translate }}"/>
                                        <input type="number" min="0" class="form-control mini-rating-goal" id="player-goals" ng-model="player.goals"
                                               placeholder="{{ 'GOALS' | translate }}"/>
                                    </fieldset>
                                </td>
                            </tr>
                            </tbody>
                        </table>

                        <input type="button" ng-click="updateGameStatistics()" class="btn-submit" value="{{ 'SUBMIT YOUR RATINGS' | translate }}">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>