<loader class="row" ng-show="isMainLoading"></loader>
<div ng-show="!isMainLoading">
    <div class="content-view small-view" ng-show="game">
        
        <a ui-sref="base.gamedetails.game({ gameId: game.urlName || game._id })" class="btn-style btn-green btn-join">
             << {{ 'BACK TO THE GAME' | translate }} "{{ game.name }}"
        </a>
    </div>
    <invite-current-friends refresh="{{refreshFriends}}"
                     invite-friend-action="invite" check-invited="checkInvited"></invite-current-friends>
    <hr/>
</div>