<loader class="row" ng-show="isLoading"></loader>
<div id="games" ng-show="!isLoading">
    <div id="new-game" class="content-view small-view">
        <div class="row">
            <div class="col-md-12">
                <div class="section-title">
                    <div class="title-wrapper">
                        <h2>{{ 'CREATE GAME' | translate}}</h2>
                        <div class="title-underline"></div>
                    </div>
                </div>
                <form name="newGame" ng-submit="createGame(newGame.$valid)" novalidate>
                    <fieldset class="form-group"
                            ng-class="{'has-error': ((newGame.$submitted && game.locationId == 'empty') && !submitting)}">
                        <a ui-sref="base.location.new" target="_self" id="btn-new-location" class="pull-xs-right">{{ 'NEW LOCATION?' | translate }}</a>
                        <location-selector selected-location-id="game.locationId" selected-location="game.location" id="location"></location-selector>

                        <label class="control-label"
                               ng-show="(newGame.$submitted && game.locationId == 'empty' && !submitting)">{{ 'REQUIRED FIELD' | translate }}</label>
                    </fieldset>
                    <fieldset class="form-group"
                              ng-class="{'has-error' :
                              ((newGame.name.$invalid && !newGame.name.$pristine) || (newGame.$submitted && newGame.name.$pristine)) && !submitting}">
                        <input class="form-control" id="name" name="name" ng-model="game.name"
                               placeholder="{{ 'ENTER NAME' | translate }}"
                               ng-required="true"
                                >

                        <label class="control-label"
                               ng-show='((newGame.name.$invalid && !newGame.name.$pristine) || (newGame.$submitted && newGame.name.$pristine)) && !submitting'>{{
                            'REQUIRED FIELD: NAME' | translate }}</label>

                    </fieldset>
                    <fieldset class="form-group">
                        <!-- TBD: Fix this -> angular doesn't update the price :( -->
                        <input type="text" class="form-control" id="field-price"
                               maxlength="256"
                               placeholder="{{ 'FIELD PRICE' | translate }}" ng-model="game.price">
                    </fieldset>
                    <fieldset class="form-group">
                        <div class="row">
                            <div class="col-md-2 hours-fields">
                                <input type="number" class="form-control" id="hour" placeholder="20" step="1" min="0"
                                       max="23" ng-model="game.hour">
                                <span class="hour-separator">:</span>
                                <input type="number" class="form-control" id="minutes" placeholder="00" step="15"
                                       min="0" max="45" ng-model="game.minutes">
                            </div>
                            <div class="col-md-10">
                                <md-datepicker ng-model="game.date"></md-datepicker>
                                
                                <!--<p class="input-group">
                                    <input id="date" type="text" class="form-control" datepicker-popup="{{format}}"
                                           ng-model="game.date" is-open="status.opened" min-date="minDate"
                                           max-date="maxDate" datepicker-options="dateOptions"
                                           date-disabled="disabled(date, mode)" ng-required="true" close-text="Close"/>

                                    <a ng-click="open($event)" class="calendar-btn"></a>
                                </p>-->
                            </div>
                            <label class="control-label" ng-show='newGame.date.$invalid && !newGame.date.$pristine && !submitting'>{{
                                'REQUIRED FIELD: DATE' | translate }}</label>
                        </div>
                    </fieldset>
                    <fieldset class="form-group">
                        <div class="row">
                            <div class="col-md-6">
                                <input type="text" class="form-control" id="team-1" placeholder="Team 1: Name"
                                       ng-model="game.team1.name"
                                       ng-disabled="true">
                            </div>
                            <div class="col-md-6">
                                <input type="text" class="form-control" id="team-2" placeholder="Team 2: Name"
                                       ng-model="game.team2.name"
                                       ng-disabled="true">
                            </div>
                        </div>
                    </fieldset>
                    <fieldset class="form-group">
                        <select id="group" ng-model="game.groupId" class="form-control">
                            <option ng-repeat='group in groups'
                                    value='{{group.id}}'>{{group.name}}
                            </option>
                        </select>
                    </fieldset>
                    <fieldset class="form-group" id="players-wrapper">
                        <players-count id="players-count" players-count="game.numberOfPlayers"/>
                    </fieldset>           
                    <fieldset class="form-group form-last-group">
                        <input type="radio" id="game-type-1" name="game-type" checked
                               value="true" ng-model="game.public"/>
                        <label for="game-type-1"><span></span>{{ 'PUBLIC' | translate }}</label>

                        <input type="radio" id="game-type-2" name="game-type"
                               ng-model="game.public" value="false"/>
                        <label for="game-type-2"><span></span>{{ 'PRIVATE' | translate }}</label>
                    </fieldset>

                    <div class="alert alert-warning" ng-show="newGame.$invalid && newGame.$submitted && !submitting" role="alert">
                        <strong>{{ 'WARNING' | translate }}</strong>
                        {{ 'VALIDATION ERROR' | translate }}
                    </div>

                    <input type="submit" class="btn-submit" value="{{ 'CREATE GAME'| translate}}">
                </form>
            </div>
        </div>
    </div>
</div>