<loader class="row" ng-show="isLoading"></loader>
<div ng-show="!isLoading">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">{{ 'UPDATE GAME' | translate }}</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    <div class="row">
        <div class="col-lg-12">
            <form name="editGame" ng-submit="updateGame(editGame.$valid)" novalidate>
                <fieldset class="form-group" ng-class="{'has-error' : editGame.name.$invalid && !editGame.name.$pristine}">
                    <label for="name">{{ 'NAME' | translate }}</label>
                    <input class="form-control" id="name" name="name" ng-model="game.name"
                           placeholder="{{ 'ENTER NAME' | translate }}"
                           ng-required="true"
                            >

                    <label  class="control-label" ng-show='editGame.name.$invalid && !editGame.name.$pristine'>{{ 'REQUIRED FIELD: NAME' | translate }}</label>

                </fieldset>
                <fieldset class="form-group">
                    <ui-gmap-google-map center='map.center' zoom='map.zoom'></ui-gmap-google-map>

                    <label for="date">{{ 'DATE' | translate }}</label>
                    <div>
                        <p class="input-group">
                            <input id="date" type="text" class="form-control" datepicker-popup="{{format}}" ng-model="game.date" is-open="status.opened" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                            </span>
                        </p>
                    </div>
                    <label  class="control-label" ng-show='editGame.date.$invalid && !editGame.date.$pristine'>{{ 'REQUIRED FIELD: DATE' | translate }}</label>

                </fieldset>
                <fieldset class="form-group">
                    <label>{{ 'TIME' | translate }}</label>
                    <timepicker id="time" ng-model="game.time" ng-change="changed()" hour-step="1" minute-step="15" show-meridian="ismeridian"></timepicker>
                </fieldset>
                <fieldset class="form-group">
                    <label>{{ 'LOCATION' | translate }}</label>
                    <location-selector selected-location="game.location" id="location"></location-selector>
                </fieldset>
                <fieldset class="form-group">
                    <label for="group">{{ 'GROUP' | translate }}</label>
                    <input class="form-control" id="group" name="group" ng-model="game.group.name" readonly/>
                </fieldset>
                <fieldset class="form-group">
                    <label for="number-of-players">{{ 'NUMBER OF PLAYERS' | translate }}</label>
                    <div>
                        <input id="number-of-players" name="NumberOfPlayers" style="width:100px;" data-ng-model="game.numberOfPlayers" type="number" min="2"
                               class="form-control numeric-input text-left display-tbl-cell col-md-2" placeholder="{{ 'ENTER NUMBER OF PLAYERS' | translate }}" />
                    </div>

                    <div>
                        <p class="help-block" data-ng-show="form.NumberOfPlayers.$invalid && !form.NumberOfPlayers.$pristine">Invalid non negative number.</p>
                    </div>
                </fieldset>

                <fieldset class="form-group">
                    <label class="c-input c-radio">
                        <input id="radio-public" name="radio" type="radio" checked="checked" ng-model="game.public" value="true">
                        <span class="c-indicator"></span>
                        {{ 'PUBLIC' | translate }}
                    </label>
                    <label class="c-input c-radio">
                        <input id="radio-private" name="radio" type="radio" ng-model="game.public" value="false">
                        <span class="c-indicator"></span>
                        {{ 'PRIVATE' | translate }}
                    </label>
                </fieldset>
                <button type="submit" class="btn btn-primary" ng-disabled="newGame.$invalid">{{ 'UPDATE' | translate }}</button>
                <button ui-sref="base.gamedetails.game({ gameId: game.urlName || game._id })" class="btn btn-danger">{{ 'CANCEL' | translate }}</button>
                <p/>
            </form>
        </div>
    </div>
</div>