<loader class="row" ng-show="isLoading"></loader>
<div ng-show="!isLoading">

    <div id="games">
        <div id="upcoming-games">

            <div class="row">
                <div class="col-md-4"
                     ng-repeat="game in games track by $index">
                    <a ui-sref="base.gamedetails.game({ gameId: game.urlName || game._id })" class="game-item">
                        <div class="location-image" style="background-image:url({{ game.location.imageUrl }});">
                            <div class="pitch-price" ng-show="game.price || game.location.price">{{ 'PRICE' | translate }}: <span>{{ game.price || game.location.price | unescape}} lv</span></div>
                            <div class="pitch-location" >
                                <i></i>
                                <span>{{ game.location.formattedAddress  | unescape }}</span>
                            </div>
                        </div>

                        <div class="game-info">
                            <div class="time"><span style="font-size: 1.2em; color: #40403F">{{ game.name }} - </span>{{ game.date_time | date:'HH:mm'}} / {{ game.date_time | date: 'dd MMM yyyy' }}</div>
                            <div class="teams">
                                {{ game.team1.name  || ('TEAM 1' | translate) | unescape }} <span>vs</span> {{ game.team2.name  || ('TEAM 2' | translate)  | unescape }}
                            </div>
                        </div>

                        <div class="game-availability">
                            <div class="players-total circles">
                                <span class="number">{{ game.numberOfPlayers }}</span>
                                <span class="text">{{ 'PLAYERS' | translate }}</span>
                            </div>
                            <div class="players-booked circles">
                                <span class="number">{{ gameService.stat(game).booked }}</span>
                                <span class="text">{{ "BOOKED" | translate }}</span>
                            </div>
                            <div class="players-available circles">
                                <span class="number">{{ gameService.stat(game).freeSlots }}</span>
                                <span class="text">{{ (gameService.stat(game).freeSlots == 1 ? 'FREE SPOT SHORT' : 'FREE SPOTS SHORT') | translate }}</span>
                            </div>
                        </div>
                    </a>
                </div>
            </div>

            <div class="row" ng-show="games.length === 0">
                <div class="col-md-4">
                    <a ui-sref="base.newgame" class="game-item no-event"></a>
                </div>
                <div class="col-md-4">
                    <a ui-sref="base.newgame" class="game-item no-event"></a>
                </div>
                <div class="col-md-4">
                    <a ui-sref="base.newgame" class="game-item no-event"></a>
                </div>
            </div>
        </div>
    </div>
</div>